<h3 class="text-center">Angewandte Ethik</h3>
<hr />
<p>
  Die <b>angewandte Ethik</b> befasst sich mit ethischen Fragen,
  die im Alltag, im Beruf, in der Gesellschaft und in der Politik auftauchen.
</p>
<p>
  Sie versucht unter anderem folgende Fragen zu beantworten:
  <ul>
    <li>
      "Alle Menschen sind gleich" - Aber was bedeutet hier gleich?
    </li>
    <li>
      Dürfen wir in Luxus leben, während andere in äusserster Armut leben?
    </li>
    <li>
      Haben wir das Recht, Tiere lediglich als Maschinen zu behandeln?
    </li>
    <li>
      Dürfen reiche Länder gleich viel Treibhausgase ausstossen, als arme Länder?
    </li>
    <li>
      Ist Sterbehilfe immer schlecht?
    </li>
    <li>
      Dürfen Frauen abtreiben oder ist das Mord?
    </li>
    <li>
      Ist Prostitution moralisch verwerflich?
    </li>
  </ul>
</p>
<p>

</p>
