<h3 class="text-center">Angewandte Ethik</h3>
<hr />
<p>
  Die <b>angewandte Ethik</b> ist eine philosophische Disziplin,
  die ethische Theorien auf unterschiedliche Bereiche des
  menschlichen Handelns und Zusammenlebens anwendet.
</p>
<p>
  Sie befasst sich mit den spezifischen ethischen Fragen verschiedener Berufsfelder und Gesellschaftsbereiche
  sowie mit ethischen Herausforderungen aus der nationalen und internationalen Politik.
</p>
