<h4 class="text-center">Gleichheit in der Anstellung</h4>
<hr />
<p>
  Es scheint, dass die Forderung der Gleichheit in der Anstellung,
  gegeben der Umstände vieler Frauen,
  dazu führt, dass <b>Frauen seltener Professorinnen</b> werden.
</p>
<p>
  <b>Was tun?</b>
</p>
<p>
  Auf der einen Seite kann man argumentieren,
  dass das eigentliche Problem nicht in der Gleichbehandlung der Bewerber liegt,
  sondern im Umstand, dass <b>Frauen eher familiären Pflichten nachgehen müssen</b>, als Männer.
</p>
<p>
  Auf der anderen Seite kann man argumentieren,
  dass ein faires Bewerbungsverfahren den Umstand vieler Frauen berücksichtigen muss
  und dass Frauen, damit sie die <b>gleichen Chancen wie die Männer haben</b>,
  bei der Auswahl bevorteilt werden sollen.
</p>
