<h4 class="text-center">Gleichheit und Ungleichheit</h4>
<hr />
<p>
  <b>"Freiheit, Gleichheit und Brüderlichkeit"</b> war die Parole der französischen Revolution.
</p>
<p>
  Doch was heisst "Gleichheit" genau?
  Was soll sich verändern, wenn mehr Gleichheit gefordert wird?
</p>
<p>
  Während wir intuitiv verstehen, was mit Gleichheit gemeint ist,
  ist es nicht immer einfach, das Prinzip der Gleichheit auf konkrete Fälle anzuwenden.
</p>
