<h4 class="text-center">Gleichheit in der Anstellung</h4>
<hr />
<p>
  In den Fächern der Mathematik, der Naturwissenschaften und der Philosophie
  gibt es verhältnismässig <b>wenige Professorinnen</b>. Warum?
</p>
<p>
  Liegt es daran, dass mehr Männer als Frauen sich für diese Fächer interessieren?
</p>
<p>
Sind Frauen in der Regel weniger kompetent, als ihre männlichen Mitbewerber?
</p>
<p>
  Oder liegt hier womöglich eine Ungerechtigkeit vor, nämlich,
  dass Männer in der Anstellung bevorzugt werden?
</p>
<p>
  Sollten <b>Massnahmen</b> ergriffen werden? Wenn ja, <b>welche</b>?
</p>
