<h4 class="text-center">Gleichheit in der Anstellung</h4>
<hr />
<p>
  Was bedeutet in diesem Fall <b>Gleichheit</b>?
</p>
<p>
  Eine Interpretation könnte lauten:
</p>
<p>
  Alle Bewerber müssen <b>gleich behandelt werden</b>,
  das heisst, dass alle <b>die gleichen Chancen</b>
  auf eine Anstellung haben müssen.
</p>
<p>
  Dies bedeutet wiederum,
  dass jeweils die besten Bewerber die Stelle bekommen.
</p>
<p>
  Doch ist diese Interpretation <b>unproblematisch</b>?
</p>
<p>
  Wenn es um familiäre Pflichten geht,
  wie zum Beispiel die Pflege von kranken Familienmitgliedern,
  dann fallen diese Pflichten <b>meist den Frauen zu</b>, selten den Männern.
</p>
<p>
  Was ist nun, wenn Frauen,
  weil sie familiären Pflichten nachgehen müssen,
  <b>immer schlechter</b> als ihre männlichen Bewerbern für eine Stelle geeignet sind?
</p>
