<h3 class="text-center">In Luxus leben?</h3>
<hr />
<p>
  Der Philosoph <b>Peter Singer</b> stellte hierzu folgendes Prinzip auf:
</p>
<p>
  <em>
    Wenn es in unserer Macht steht, etwas Schreckliches zu verhindern,
    ohne dass dabei etwas von vergleichbarer moralischer Bedeutung geopfert wird,
    dann sollten wir es tun.
  </em>
</p>
<p>
  Wenn also reiche Länder etwas Schreckliches verhindern könnten,
  wie <b>äusserste Armut</b> oder eine <b>Hungersnot</b>,
  indem sie, statt Luxus-Güter zu kaufen, Geld spenden würden,
  dann <b>sollten sie das auch tun.</b>
</p>
<p>
  Singer forderte auch, dass wir <b>10% von unserem Lohn spenden sollten</b>,
  weil wir so schreckliche Dinge verhindern könnten,
  ohne dass wir etwas Wesentliches dabei verlieren.
</p>
