<h3 class="text-center">In Luxus leben?</h3>
<hr />
<p>
  Für viele Menschen in armen Ländern sind 200 Franken sehr viel Geld.
</p>
<p>
  Die Lebensmittel, die man mit diesem Geld kaufen kann,
  könnten den Unterschied zwischen Leben und Tod in Krisenzeiten ausmachen.
  Auch könnte man mit diesem Geld Güter kaufen,
  die spürbar das Leben dieser Menschen verbessern würden.
</p>
<p>

</p>
<p>
  Da Menschen in sogenannten Industriestaaten verglichen zu vielen Menschen in armen Ländern in
  extremen Reichtum leben, stellt sich die Frage:
</p>
<p>
  <em>
    Ist diese Ungleichheit gerechtfertigt?
    Sollten die reichen Staaten nicht den armen Ländern helfen?
  </em>
</p>
