<h3 class="text-center">In Luxus leben?</h3>
<hr />
<p>
  Das <b>Verursacherprinzip</b> besagt,
  dass wir für einen Schaden verantwortlich sind,
  den wir selber verursacht haben.
</p>
<p>
  Wenn reiche Länder deshalb reich sind, weil sie andere Länder <b>ausbeuten</b>,
  dann sind sie auch für deren Armut <b>verantwortlich</b>.
</p>
<p>
  In diesem Fall wäre es ungerecht, dass gewisse Länder auf Kosten anderer in Luxus leben dürfen.
</p>
<p>
  Was aber, wenn ein Land nur deshalb arm ist,
  weil es <b>arm an natürlichen Ressourcen ist</b> oder weil es <b>von Naturkatastrophen heimgesucht wird</b>?
</p>
<p>
  Die reichen Länder können schliesslich auch nichts dafür, dass Naturkatastrophen die Menschen plagen oder
  die Ressourcen so verteilt sind, wie sie nun mal sind.
  <b>Sollten sie dennoch helfen?</b>
</p>
