<h3 class="text-center">In Luxus leben?</h3>
<hr />
<p>
  <em>
    Stell dir vor, du hast neue Kleider im Wert von 200 Franken an.
    Auf dem Weg nach Hause siehst du, wie ein Kind im See am Ertrinken ist.
    Als geübter Schwimmer könntest du es retten gehen,
    du würdest dir aber dabei deine neuen Kleider ruinieren.
  </em>
</p>
<p>
  <b>Würdest du das Kind retten gehen?</b>
</p>
<p>
  Für viele ist die Antwort klar: <b>Das Kind retten gehen</b>,
  weil das Leben eines Kindes wichtiger ist, als der Wert deiner Kleider.
</p>
<p>
  Doch was, wenn wir das Gedankenexperiment abändern?
  Was würdest du tun, wenn du statt für 200 Franken neue Kleider kaufst,
  das Geld spenden würdest und so einer ganzen Familie das Leben retten könntest?
</p>
