<h3 class="text-center">In Luxus leben?</h3>
<hr />
<p>

</p>
<p>
  Reich, weil billige Arbeitskräfte?
</p>
<p>
  Eigene Entwicklung?
</p>
<p>
  Unklarheit? Komplexität? Unklar, was die Ursache ist? Mangelndes Wissen?
</p>
<p>
  Ursacherprinzip? Jedes Land seine Entwicklung?
  Haben wir die Pflicht?
</p>
