<h3 class="text-center">In Luxus leben?</h3>
<hr />
<p>
  Wenn ein Kind ins Wasser fällt und zu Ertrinken droht,
  spielt es dann eine Rolle,
  ob jemand das Kind ins Wasser geschubst hat oder ob es zufällig hineinfiel?
</p>
<p>
  Es scheint, dass wir ein Kind aus der Notlage befreien sollen,
  <b>unabhängig von der Ursache</b>, weswegen es jetzt in der Notlage ist.
</p>
<p>
<b>Doch warum?</b>
</p>
<p>
  Eine Antwort könnte lauten:
</p>
<p>
  Das Ertrinken eines Kindes ist etwas <b>so Schreckliches</b>,
  dass wir alles dran setzen sollten, es zu verhindern.
</p>
<p>
  Ebenfalls sollten so schreckliche Dinge wie Armut oder Hungersnot um jeden Preis verhindert werden.
</p>
