<h3 class="text-center">In Luxus leben?</h3>
<hr />
<p>
  Das <b>Verursacherprinzip</b> besagt,
  dass wir für einen Schaden verantwortlich sind,
  den wir selber verursacht haben.
</p>
<p>
  Wenn reiche Länder deshalb reich sind, weil sie andere Länder <b>ausbeuten</b>,
  dann sind sie auch für deren Armut <b>verantwortlich</b>.
</p>
<p>
  
</p>
<p>
  Man könnte argumentieren, dass reiche Länder nur deshalb reich sind,
  weil sie andere Länder <b>ausbeuten</b>.
</p>
<p>
  Dies ist vor allem im Kontext von Kolonialismus entscheiden
</p>
<p>
  Falls die reichen Länder <b>nur deshalb reich sind, weil sie die armen Ländern ausbeuten</b>,
  dann ist klar, dass die reichen Länder
</p>
<p>
  Sind die reichen Länder dafür verantwortlich,
  dass die armen Länder arm sind?
</p>
<p>
  Manche Historiker argumentieren,
  dass
</p>
<p>
  Aber wenn wir an das Beispiel mit dem ertrinkenden Kind denken,
  dann scheint das Verursacherprinzip nicht wichtig zu sein:
  Dass das Kind am Ertrinken ist, ist sehr wahrscheinlich nicht unsere Schuld,
  sondern tragischer Zufall. Sollten wir es dann nicht retten?
</p>
<p>
  Reich, weil billige Arbeitskräfte?
</p>
<p>
  Eigene Entwicklung?
</p>
<p>
  Unklarheit? Komplexität? Unklar, was die Ursache ist? Mangelndes Wissen?
</p>
<p>
  Ursacherprinzip? Jedes Land seine Entwicklung?
  Haben wir die Pflicht?
</p>
