<h3 class="text-center">In Luxus leben?</h3>
<hr />
<p>
  Für viele Menschen in armen Ländern sind 200 Franken sehr viel Geld.
  Die Lebensmittel, die man mit diesem Geld kaufen kann,
  könnten den Unterschied zwischen Leben und Tod in Krisenzeiten ausmachen.
  Auch könnte man mit diesem Geld Güter kaufen,
  die spürbar das Leben dieser Menschen verbessern würden.
</p>
<p>
  In Anbetracht der hohen Unterschiede zwischen armen und reichen Ländern,
  stellt sich die Frage:
</p>
<p>
  <b>Wäre es nicht besser, wenn reiche Länder auf unnötigen Luxus verzichten würden
  und stattdessen armen Ländern helfen würden?</b>
</p>
