<h3 class="text-center">Sterbehilfe</h3>
<hr />
<p>
  Darf man einen Menschen töten, wenn er seinem Tod <b>ausdrücklich zugestimmt hat</b>?
</p>
<p>
  Darf man einen Menschen töten, um ihn von seinen <b>Leiden zu erlösen</b>?
</p>
<p>
  Die sogenannte <b>Sterbehilfe</b> hilft Menschen beim Sterben,
  indem man Menschen vorzeitig zum Tod verhilft,
  meistens mit der Hilfe von <b>tödlichen Medikamenten</b>.
</p>
<p>
  Für viele Menschen ist das Töten von Menschen, <b>egal aus welchen Gründen</b>, schlecht.
  Dies kann damit begründet werden, dass das Leben eines Menschen <b>heilig</b> ist und
  wir nicht das Recht haben, einem Menschen das Leben zu nehmen.
</p>
<p>
  Dennoch wurde die Sterbehilfe in einigen Ländern legalisiert, auch in der Schweiz.
  <b>Ist das in Ordnung?</b>
</p>
