<h3 class="text-center">Sterbehilfe</h3>
<hr />
<p>
  Befürworter der Sterbehilfe argumentieren hingegen, dass es einige Fälle gibt,
  in denen der frühzeitige Tod die beste Option ist, auch wenn sie unwiderrufbar ist.
</p>
<p>
  So sind Patienten mit <b>zu Tode führenden</b> und <b>unheilbaren Krankheiten</b>
  besser dran, wenn sie frühzeitig sterben, als wenn sie qualvoll ihren natürlichen Tod abwarten müssten.
</p>
<p>
  Auch betonen Befürworter die <b>Autonomie</b> oder die <b>Selbstbestimmung</b> eines Menschen.
</p>
<p>
  Der Wunsch zu sterben mag ein seltener oder ein ungewöhnlicher sein,
  dennoch sollten die Wünsche eines Menschen <b>ernstgenommen</b> werden.
</p>
