<p>
  Die <b>angewandte Ethik</b> ist eine philosophische Disziplin,
  die ethische Theorien auf unterschiedliche Bereiche des
  menschlichen Handelns und Zusammenlebens anwendet.
</p>
<p>
  Sie befasst sich mit den spezifischen ethischen Fragen verschiedener
  Berufsfelder und Gesellschaftsbereiche
  sowie mit ethischen Herausforderungen aus der nationalen und internationalen Politik.
</p>
<p>
  Gleichheit = gleiche Behandlung,
  gleiche Noten für gleiche Leistung?
</p>
<p>
  Während es intuitiv
</p>
<p>
  "Der Staat muss alle Menschen gleich behandeln" - so steht es im Gesetz.
  Doch was heisst "gleich" hier genau?
</p>
<p>
  Rasse, Geschlecht, Minderheit
</p>
<p>
  <b>Angenommen,</b> der Zufall will es,
  dass die männlichen Bewerber einfach besser für die Stelle geeignet sind.
  Wäre es dann nicht unfair den männlichen Bewerbern gegenüber, ihnen die Stelle zu verwehren?
</p>
<p>
  Verschiedene Ideen von Gleichheit
</p>
<p>
  Was ist nun, wenn Frauen,
  weil sie familiären Pflichten nachgehen müssen,
  immer schlechter als ihre männlichen Bewerbern auf eine Stelle geeignet sind?
</p>
wie zum Beispiel ein Dach aus Wellenblech
Nicht nur könnten die Nahrungsmittel, die man mit diesem Geld kaufen kann,
den Unterschied zwischen Leben und Tod in Krisenzeiten bedeuten,
sondern a
Die Nahrungsmittel, die man damit kaufen könnte,
können in Hungerskrisen den Unterschied zwischen Leben und Tod bedeuten.
Besonders in Hungerskrisen könnten 200 Franken den Unterschied zwischen Leben und

<p>
  Da Menschen in sogenannten Industriestaaten verglichen zu vielen Menschen in armen Ländern in
  extremen Reichtum leben, stellt sich die Frage:
</p>
<p>
  <em>
    Ist diese Ungleichheit gerechtfertigt?
    Sollten die reichen Staaten nicht den armen Ländern helfen?
  </em>
</p>
<p>

</p>
<p>
  Man könnte argumentieren, dass reiche Länder nur deshalb reich sind,
  weil sie andere Länder <b>ausbeuten</b>.
</p>
<p>
  Dies ist vor allem im Kontext von Kolonialismus entscheiden
</p>
<p>
  Falls die reichen Länder <b>nur deshalb reich sind, weil sie die armen Ländern ausbeuten</b>,
  dann ist klar, dass die reichen Länder
</p>
<p>
  Sind die reichen Länder dafür verantwortlich,
  dass die armen Länder arm sind?
</p>
<p>
  Manche Historiker argumentieren,
  dass
</p>
<p>
  Aber wenn wir an das Beispiel mit dem ertrinkenden Kind denken,
  dann scheint das Verursacherprinzip nicht wichtig zu sein:
  Dass das Kind am Ertrinken ist, ist sehr wahrscheinlich nicht unsere Schuld,
  sondern tragischer Zufall. Sollten wir es dann nicht retten?
</p>
<p>
  Reich, weil billige Arbeitskräfte?
</p>
<p>
  Eigene Entwicklung?
</p>
<p>
  Unklarheit? Komplexität? Unklar, was die Ursache ist? Mangelndes Wissen?
</p>
<p>
  Ursacherprinzip? Jedes Land seine Entwicklung?
  Haben wir die Pflicht?
</p>
