<div class="container">

  <div class="jumbotron philosopiech-background my-2">
  <h3>Anmeldeformular</h3>
  <p class="lead">Kurs: <b><%= @course %></b></p>
  <hr class="my-4">
  <%= render 'applications/form', application: Application.new, course: @course %>
</div>

</div>
