<div class="container">

  <div class="jumbotron philosopiech-background my-2">
  <h1 class="display-5">Anmeldeformular</h1>
  <p class="lead">Philosophie.ch</p>
  <hr class="my-4">
  <%= render 'applications/form', application: Application.new %>
</div>

</div>
