<div class="container">

  <div class="row">
      <div class="col-6">
        <button type="button" class="btn btn-primary btn-lg btn-block"><%= @survey.answer1 %></button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-primary btn-lg btn-block"><%= @survey.answer2 %></button>
      </div>
  </div>

</div>

<%#= link_to “Add a Book”, books_path, class: "add", remote: true %>
