<%= render "layouts/navigation" %>

<main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Für Lehrpersonen</h1>
          <p class="lead text-muted">
            Sehen Sie den Punktestand und Fortschritt Ihrer Schulkinder oder Studierenden
          </p>
        </div>
      </section>
    </main>

    <div class="album py-5 philosopiech-background">
      <div class="container">
        <div class="card">
          <div class="card-body">
            <p class="card-text">
              Befolgen Sie diese Anleitung,
              wenn Sie den Punktestand und Fortschritt Ihrer Klasse sehen möchten.
            </p>
          </div>
        </div>
      </div>
    </div>

<%= render "layouts/footer" %>
