<div class="container">
  <% if user_signed_in? %>
    <%= link_to 'Account bearbeiten', edit_user_registration_path, class: "" %> ·
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: ""  %>
  <% else %>
    <%= link_to "Login", new_user_session_path, class: ""  %> ·
    <%= link_to "Registrieren", new_user_registration_path, class: ""  %>
  <% end %>
</div>
