<div class="container">
  <h3>Übungen</h3>
  <div class="jumbotron bg-light my-2">

  <h4>Formalisiere das folgende Argument</h4>
  <hr class="my-4">
  <p>
  1. Peter ist krank oder er hat den Zug verpasst.
  </p>
  <p>
  2. Peter ist nicht krank.
  </p>
  <p>
    3. <b>Folglich hat Peter den Zug verpasst.</b>
  </p>

    <hr class="my-4">
    <p>
      p: Peter ist krank
      <br />
      q: Peter hat den Zug verpasst
    </p>
    <hr class="my-4">
    <p>
      <div class="input-group mb-3">
      1. <input type="text" name="exercise1-1" class="form-control" placeholder="p, q,-p, -q, p & q, p V q, p -> q ..." aria-label="..." aria-describedby="basic-addon2">
      </div>
    </p>
    <p>
      <div class="input-group mb-3">
      2. <input type="text" name="exercise1-2" class="form-control" placeholder="" aria-label="..." aria-describedby="basic-addon2">
      </div>
    </p>
    <hr />
    <p>
      <div class="input-group mb-3">
      3. <input type="text" name="exercise1-3" class="form-control" placeholder="" aria-label="..." aria-describedby="basic-addon2">
      </div>
    </p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
</div>
  <hr class="my-4">

</div>
