<%= render "layouts/navigation" %>

<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h3 class="jumbotron-heading">Warum sich mit Ethik befassen?</h3>
      <hr />
      <p class="lead text-justify">
        Die Ethik ist ein <b>Teilgebiet der Philosophie</b>.
      </p>
      <p class="lead text-justify">
        Sie beschäftigt sich mit Fragen wie:
      </p>
      <p class="lead text-justify">

        <b> - Wie soll ich leben?</b>
        <br />
        <b> - Was ist das gute Leben?</b>
        <br />
        <b> - Was ist Gerechtigkeit?</b>
        <br />
        <b> - Wie sollen wir miteinander umgehen?</b>
        <br />

      </p>
      <p class="lead text-justify">
        Das Studium der Ethik hilft dir,
        die <b>richtigen Entscheidungen</b> im Leben zu treffen
        und das <b>gute Leben</b> zu erreichen.
      </p>
      <p class="lead text-justify">
        Nebenbei erwirbst du <b>analytische Fähigkeiten</b> und ein <b>kritisches Denkvermögen</b>,
        die dir im Beruf sowie im alltäglichen Leben nützlich sein werden.
      </p>
    </div>
    <div align="center" class="m-2">
      <%= link_to course_path(Course.find_by_title("Einführung in die Ethik")) do %>
        <button class="pulse-button rounded text-white">Mit Kurs anfangen</button>
      <% end %>
    </div>
  </section>
</main>

<%= render "layouts/footer" %>
