<%= render "layouts/navigation" %>

<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h3 class="jumbotron-heading">Warum sich mit Ethik befassen?</h3>
      <hr />
      <p class="lead text-justify">
        Die meisten Menschen gehen durchs Leben,
        ohne sich gross Gedanken über die Welt,
        das Leben oder über sich selber zu machen.
      </p>
      <p class="lead text-justify">
        Doch der Philosoph <b>Sokrates</b> war kein solcher Mensch.
        Er sagte, dass wir nicht einfach alles glauben sollen,
        was andere uns sagen, sondern, dass <b>wir immer alles hinterfragen müssen</b>.
      </p>
      <p class="lead text-justify">
        Alles zu hinterfragen ist aber anstrengend und mühsam.
        Wäre das Leben nicht viel einfacher,
        wenn wir nicht alles hinterfragen würden?
      </p>

      <p class="lead text-justify">
        Doch für Sokrates ist ein einfaches Leben kein gutes Leben.
        Er meinte, dass das ein gutes Leben darin bestehe, <b>das Leben</b> und <b>sich selber zu erforschen</b>.
      </p>
      <p class="lead text-justify">
        <b>Stimmst du Sokrates zu?</b>
        Findest du auch, dass wir alles hinterfragen sollten?
        Und bist du damit einverstanden, dass ein gutes Leben darin besteht,
        das Leben und sich selber zu erforschen?
      </p>
      <hr />
      <p class="lead text-justify">
        Die <b>Ethik</b> ist die Wissenschaft,
        die herauszufinden versucht, <b>was das gute Leben ist</b> oder <b>worin das gute Leben besteht</b>.
      </p>
      <p class="lead text-justify">
        Die Ethik ist ein <b>Teilgebiet der Philosophie</b>
        und sie beschäftigt sich auch mit Fragen wie:
      </p>
      <p class="lead text-center">

        <b> - Was ist Gerechtigkeit?</b>
        <br />
        <b> - Wie sollen wir miteinander umgehen?</b>
        <br />
        <b> - Wie soll ich leben?</b>
        <br />

      </p>
      <p class="lead text-justify">
        Das Studium der Ethik hilft dir,
        die <b>richtigen Entscheidungen</b> im Leben zu treffen
        und das <b>gute Leben</b> zu erreichen.
      </p>
      <p class="lead text-justify">
        Nebenbei erwirbst du <b>analytische Fähigkeiten</b> und ein <b>kritisches Denkvermögen</b>,
        die dir im Beruf sowie im alltäglichen Leben nützlich sein werden.
      </p>
      <br />

    </div>
    <div align="center" class="m-3">
      <%= link_to course_path(Course.find(1)) do %>
        <button class="pulse-button rounded text-white">Mit Kurs anfangen!</button>
      <% end %>
    </div>
  </section>
</main>

<%= render "layouts/footer" %>
