<%= render "layouts/navigation" %>

<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h3 class="jumbotron-heading">Warum sich mit Ethik befassen?</h3>
      <hr />
      <p class="lead text-justify">
        Die Ethik ist ein <b>Teilgebiet der Philosophie</b>.
      </p>
      <p class="lead text-justify">
        Sie beschäftigt sich mit Fragen wie:
        <br />
        <b> - Wie soll ich leben?</b>
        <br />
        <b> - Was ist das gute Leben?</b>
        <br />
        <b> - Was ist Gerechtigkeit?</b>
        <br />
        <b> - Wie sollen wir miteinander umgehen?</b>
        <br />
        <br />

      </p>
      <p class="lead text-justify">
        Die Ethik hat ein <b>praktisches Ziel:</b>
      </p>
      <p class="lead text-justify">
        Sie versucht uns eine <b>Orientierung</b> in allen Bereichen des menschlichen Lebens zu geben.
      </p>
    </div>
  </section>
</main>

<%= render "layouts/footer" %>
