<h5 class="text-center">Wie erwirbt man Tugenden?</h5>
<hr />
<p>
  Nach Aristoteles erwerben wir verstandesmässige Tugenden durch <b>Belehrung</b> oder <b>Unterricht</b>,
  die ethischen Tugenden hingegen durch <b>Übung</b> oder <b>Gewöhnung</b>.
</p>
<p>
  Um ethisch besser zu werden, reicht es daher nicht aus, nur über Tugenden nachzudenken.
  Ethische Tugenden entstehen aus den <b>entsprechenden Tätigkeiten</b>.
</p>
<p>
    Genauso wenig, wie man also Fahrradfahren durch das Lesen von Büchern lernt,
    erwirbt man keine Tugenden, wenn man nicht <b>übt</b>, tapfer, grosszügig oder besonnen zu sein.
</p>
<p>
  Wie der Lehrling dem Meister beim Handwerk zuerst zusehen und nachahmen muss,
  müssen wir zuerst tugendhaften Personen zusehen und nachahmen, damit wir Tugenden erwerben können.
</p>
