<h3 class="text-center">Aristoteles</h3>
<hr />
<p>
  Als Hauptvertreter der Tugendethik gilt der Philosoph <b>Aristoteles</b>.
</p>
<p>
  Seine Ethik wird manchmal die "aristotelische Ethik" oder "Aristotelismus" genannt.
</p>
<p>
 Für Aristoteles ist die tugendhafte Person fähig,
 <b>eine Situation richtig einzuschätzen</b> und <b>der Situation angemessen zu handeln.</b>
</p>
<p>
  Die tugendhafte Person ist eine,
  die sich <b>gute Charaktereigenschaften angewöhnt hat</b>
  und <b>ihnen entsprechend handelt</b>.
</p>
<p>
  <b>Zum Beispiel: </b>
</p>
<p>
    Eine tugendhafte Person hilft anderen in Not,
    <b>weil sie hilfsbereit ist</b> und <u>nicht</u>, weil sie mit einer Belohnung rechnet.
</p>
