<h3 class="text-center">Beispiel Krieg</h3>
<hr />
<p>
  Eine tugendhafte Person ist <b>tapfer</b>.
</p>
<p>
  Tapferkeit ist das Mittlere zwischen zwei Extremen, nämlich
  <b>Furcht</b> und <b>Zuversicht</b>.
</p>
<p>
  Im Falle eines Krieges muss eine Person überlegen,
  wie sie handeln soll.
</p>
<p>
  Eine tugendhafte Person handelt genauso,
  dass sie nicht <b>zu feige</b> und nicht <b>zu zuversichtlich</b>,
  sondern <b>genau richtig</b> handelt, nämlich <b>tapfer</b>.
</p>
<p>
  Vor dem Krieg zu fliehen wäre <b>feige</b>, man würde an Tapferkeit <b>mangeln</b>.
</p>
<p>
  Sich waghalsig und todesmutig in den Kampf zu stürzen wäre <b>zu zuversichtlich</b>, man hätte <b>zu viel</b> Tapferkeit.
</p>
<p>
  Die tugendhafte Person handelt genau im richtigen Mass:
  Sie nimmt am Krieg teil, ohne zu feige oder zu zuversichtlich zu sein.
</p>
