<h3 class="text-center">Beispiel Süssigkeiten</h3>
<hr />
<p>
  Eine tugendhafte Person ist <b>besonnen</b>.
</p>
<p>
  Besonnenheit ist das Mittlere zwischen zwei Extremen, nämlich
  <b>Stumpfsinnigkeit</b> und <b>Zügellosigkeit</b>.
</p>
<p>
  Eine Person muss sich überlegen,
  wie viele Süssigkeiten sie essen darf und wie viele nicht.
</p>
<p>
  Eine tugendhafte Person handelt genauso,
  dass sie nicht <b>zu stumpfsinnig</b> und nicht <b>zu zügellos</b>,
  sondern <b>genau richtig</b> handelt, nämlich <b>besonnen</b>.
</p>
<p>
  Keine oder nur wenige Süssigkeiten zu essen wäre <b>stumpfsinnig</b>, man untertreibt es.
</p>
<p>
  Zu viele Süssigkeiten zu essen wäre <b>zügellos</b>, man übertreibt es.
</p>
<p>
  Die tugendhafte Person isst genau im richtigen Mass:
  Sie isst genug, um nicht stumpfsinnig zu sein, aber nicht zu viel, um nicht fett zu werden.
</p>
