<h3 class="text-center">Beispiel Alkohol</h3>
<hr />
<p>
  Eine tugendhafte Person ist <b>besonnen</b>.
</p>
<p>
  Besonnenheit ist das Mittlere zwischen zwei Extremen, nämlich
  <b>Stumpfsinnigkeit</b> und <b>Zügellosigkeit</b>.
</p>
<p>
  Eine Person muss sich überlegen,
  wie viel Alkohol sie trinken darf und wie viel nicht.
</p>
<p>
  Eine tugendhafte Person handelt genauso,
  dass sie nicht <b>zu stumpfsinnig</b> und nicht <b>zu zügellos</b>,
  sondern <b>genau richtig</b> handelt, nämlich <b>besonnen</b>.
</p>
<p>
  Kein oder ganz wenig Alkohol zu trinken wäre <b>stumpfsinnig</b>, man untertreibt es.
</p>
<p>
  Zu viel Alkohol zu trinken wäre <b>zügellos</b>, man übertreibt es.
</p>
<p>
  Die tugendhafte Person trinkt genau im richtigen Mass:
  Sie trinkt genug, um nicht stumpfsinnig zu sein, aber nicht zu viel, um betrunken zu werden.
</p>
