<h5 class="text-center">Wie erwirbt man Tugenden?</h5>
<hr />
<p>
  Das Erwerben von ethischen Tugenden kann man mit dem Erwerben von Fähigkeiten <b>vergleichen</b>:
</p>
<p>
  Um zu lernen, wie man ein <b>Fahrrad repariert</b>,
  müssen wir zuerst jemandem zuschauen, der weiss, wie man Fahrräder repariert.
</p>
<p>
  Doch alleine vom Zuschauen lernen wir nicht, Fahrräder zu reparieren, wir müssen es auch selber probieren.
</p>
<p>
  Je mehr und je öfter wir Fahrräder reparieren, desto mehr Erfahrungen sammeln wir und desto besser können wir Fahrräder reparieren.
</p>
<p>
  Irgendwann sind wir so gut darin, Fahrräder zu reparieren,
  dass wir keine Hilfe mehr von anderen benötigen.
</p>
