<h5 class="text-center">Wie erwirbt man Tugenden?</h5>
<hr />
<p>
  Nach Aristoteles erwerben wir verstandesmässige Tugenden durch <b>Belehrung</b> und <b>Unterricht</b>,
  die ethischen Tugenden hingegen durch <b>Übung</b> und <b>Gewöhnung</b>.
</p>
<p>
  Ethische Tugenden erwerben wir <u>nicht</u> dadurch, indem wir von ihnen hören oder über sie nachdenken.
</p>
<p>
  Ethische Tugenden erwerben wir, indem wir <b>tugendhaften Personen nachahmen</b>.
</p>
<p>
    Wenn wir <b>regelmässig</b> und <b>oft</b> die Handlungen von tugendhaften Personen <b>kopieren</b>,
    dann fangen wir mit der Zeit an, die Tugenden von tugendhaften Personen zu übernehmen,
    bis wir irgendwann selber tugendhaft sind.
</p>
