<h5 class="text-center">Wie erwirbt man Tugenden?</h5>
<hr />
<p>
  Erfahrung ist wichtig.
</p>
<p>
    Selber denken, ab einem Zeitpunkt.
</p>
<p>
  Man braucht keine Hilfe mehr, sondern man kann selber denken.
</p>
