<h5 class="text-center">Wie erwirbt man Tugenden?</h5>
<hr />
<p>
  Ethische Tugenden erwerben wir ähnlich wie die Fähigkeit, ein Fahrrad zu reparieren:
</p>
<p>
  Um <b>tapfer zu werden</b>,
  müssen wir zuerst jemandem zuschauen, der die Tugend der Tapferkeit besitzt.
</p>
<p>
  <b>Zum Beispiel: </b> Eine tapfere Person ist eine, die bei einem Verbrechen nicht tatenlos zusieht, sondern sofort zu Hilfe eilt.
<p>
  Doch alleine vom Zuschauen werden wir nicht tapfer, wir müssen es auch selber probieren.
</p>
<p>
  Je mehr und je öfter wir Dinge tun, die eine tapfere Person tut,
  desto mehr Erfahrungen sammeln wir und desto besser können wir tapfer sein.
</p>
<p>
  Irgendwann sind wir so gut darin, tapfer zu sein,
  dass wir keine Hilfe mehr von anderen benötigen.
</p>
