<h3 class="text-center">Eudaimonia</h3>
<hr />
<p>
  Für Aristoteles ist jedes menschliche Handeln auf <b>ein Gut</b> oder auf <b>ein Ziel gerichtet</b>.
</p>
<p>
   Manche Güter wollen wir <b>um ihrer selbst willen</b>,
   andere nur <b>als Mittel zum Zweck</b>, nämlich um andere Güter zu erhalten.
</p>
<p>
  Nach Aristoles gibt es nun ein <b>höchstes Gut</b> oder ein <b>letztendliches Ziel</b>.
  Dieses höchste Gut nennt Aristoteles <b>Eudaimonia</b>.
</p>
<p>
  Eudaimonia steht für das <b>gute Leben</b>, das <b>gelungene Leben</b> oder die <b>Glückseligkeit</b>.
</p>
<p>
    Nach Aristoteles streben wir letzendlich alle danach, Eudaimonia zu erreichen.
</p>
