<h3 class="text-center">Aristoteles</h3>
<hr />
<p>
  Die aristotelische Ethik hat <b>drei Grundmerkmale</b>:
</p>
<p>
    1. Als eine tugendethische Theorie <b>beurteilt</b>
    die aristotelische Ethik <b>Charaktereigenschaften</b>.
</p>
<p>
    2. Die aristotelische Ethik bestimmt die Tugend als <b>das Mittlere zwischen zwei Extremen</b>.
</p>
<p>
    3. Die aristotelische Ethik gutes Leben
</p>
