<h3 class="text-center">Das gute Leben</h3>
<hr />
<p>
  Für Aristoteles ist ein glückliches und ein tugendhaftes Leben <b>ein und dasselbe</b>.
</p>
<p>
  Aristoteles präsentiert nicht nur eine Anleitung zum richtigen Handeln, sondern auch eine Anleitung zum glücklichen Leben:
</p>
<p>
  Aristoteles betont, wie wichtig eine <b>funktionierende Gesellschaft</b> für ein gutes Leben ist.
  Denn nur in einer solchen kann man seine Potenziale verwirklichen oder seine Talente entfalten
  und so wahrhaftig glücklich werden.
</p>
<p>
  Auch betont er, wie wichtig <b>Freunde</b> und <b>materielle Güter</b> für ein glückliches Leben sind.
</p>
<p>
  Da eine tugendhafte Person sich um seine Freunde kümmert,
  angemessen mit materiellen Gütern umgeht und zur gesellschaftlichen Harmonie beiträgt,
  wird die tugendhafte Person automatisch auch <b>glücklich</b>.
</p>
