<h3 class="text-center">Konsequentialismus</h3>
<hr />
<p>
  In diesem Kurs erwirbst du folgende Kompetenzen:
  <ul class="space-between-li-10">
    <li>
      Du kannst <b>tugendethische Theorien</b> von anderen ethischen Theorien <b>unterscheiden</b>.
    </li>
    <li>
      Du kannst <b>drei Grundmerkmale der Tugendethik</b> nennen.
    </li>
    <li>
      Du kannst <b>drei Stärken</b> und <b>drei Schwächen</b> der Tugendethik nennen.
    </li>
    <li>
      Du kannst eine Handlung aus einer <b>tugendethischen Perspektive heraus beurteilen</b>.
    </li>
  </ul>
</p>
