<h3 class="text-center">Komplexität</h3>
<hr />
<p>
  Aristoteles betont die Erfahrung, die es braucht, um eine Situation richtig einzuschätzen.
</p>
<p>
  Die aristotelische Ethik wird der Komplexität des Lebens gerecht.
</p>
