<h3 class="text-center">Komplexität</h3>
<hr />
<p>
  Aristoteles hat verstanden,
  dass man im Leben immer mit <b>schwierigen</b> Fragen und Problemen konfrontiert wird,
  die keine einfachen Antworten oder Lösungen haben.
</p>
<p>
  Deshalb betont Aristoteles die <b>Erfahrung</b>,
  die es braucht, um eine Situation <b>richtig einzuschätzen</b>
  und der Situation <b>angemessen zu handeln</b>.
</p>
<p>
  Aristoteles reduziert das richtige Handeln nicht auf das Anwenden eines Prinzips oder auf das blosse Befolgen von Regeln.
</p>
<p>
  Stattdessen fordert er, <b>Erfahrungen zu sammeln</b>, um so auch in schwierigen Situationen das Richtige zu tun.
</p>
<p>
  Die aristotelische Ethik ist somit eine ethische Theorie,
  die der Komplexität des Lebens gerecht wird.
</p>
