<h3 class="text-center">Lebensform</h3>
<hr />
<p>
  Nach Aristoteles erreichen wir Eudaimonia,
  indem wir auf eine <b>bestimmte Art und Weise leben</b>
  oder eine <b>bestimmte Lebensform</b> annehmen.
</p>
<p>
  Diese Lebensform ist für Aristoteles das <b>tugendhafte Leben</b>.
</p>
<p>
  Das tugendhafte Leben besteht darin,
  <b>so zu leben</b> und <b>so zu handeln</b>,
  wie <b>eine tugendhafte Person leben und handeln würde</b>.
</p>
<p>
  <b>In anderen Worten: </b>
</p>
<p>
  Laut Aristoteles können wir nur glücklich werden,
  wenn wir uns die <b>richtigen Charaktereigenschaften angewöhnen</b>,
  nämlich die Tugenden.
</p>
