<h3 class="text-center">Goldene Mitte</h3>
<hr />
<p>
    Aristoteles bestimmt die Tugend als das <b>Mittlere zwischen zwei Extremen</b>.
</p>
<p>
  Die folgende Tabelle zeigt in der Mitte <b>die Tugend</b> und
  links und rechts die zwei <b>Extremen</b>.
</p>
<div class="text-center rounded bg-white p-2 my-3">
  <%= image_tag("tugenden.png", class: "img-fluid") %>
</div>
<p>
  Die handelnde Person soll jeweils versuchen, die <b>goldene Mitte</b> zu treffen.
</p>
