<h3 class="text-center">Absichten</h3>
<hr />
<p>
  Manchmal vollbringen Menschen gute Taten,
  nicht weil sie gut sind,
  sondern weil sie heimlich auf eine <b>Belohnung hoffen</b> oder
  weil sie <b>berühmt werden möchten</b>.
</p>
<p>
  Da die aristotelische Ethik <b>Charaktereigenschaften</b> und nicht Handlungen beurteilt,
  kann sie auch Menschen kritisieren, die an sich gute Taten vollbringen, aber <b>schlechte</b> oder <b>fragwürdige Absichten</b> haben.
</p>
<p>
  Eine Person, die gute Taten aus <b>Ruhmgier</b> oder <b>Egoismus</b> vollbringt, ist nicht tugendhaft, sondern <b>lasterhaft</b>.
</p>
<p>
  Die aristotelische Ethik ist somit eine ethische Theorie,
  die die <b>Absichten</b> oder die <b>Motivation</b> einer handelnden Person berücksichtigt.
</p>
