<h3 class="text-center">Absichten</h3>
<hr />
<p>
  Manchmal vollbringen Menschen gute Taten,
  nicht weil sie gut sind,
  sondern weil sie heimlich auf eine <b>Belohnung hoffen</b> oder
  weil sie <b>berühmt werden möchten</b>.
</p>
<p>
  Da die Tugendethik <b>Charaktereigenschaften</b> und nicht Handlungen beurteilt,
  kann sie auch Menschen kritisieren, die an sich gute Taten vollbringen, aber <b>fragwürdige Absichten</b> haben.
</p>
<p>
  Doch diese Menschen sind nicht tugendhaft.
  Ihre Taten entspringen nicht von Tugenden entspringen, sondern von Lastern.
</p>
<p>
  Die Tugendethik berücksichtigt
</p>
<p>
  Keine guten Taten aus schlechter Motivation.
</p>
<p>
  Berücksichtigt Motivation
</p>
