<h3 class="text-center">Beispiele</h3>
<hr />
<p>
  <%= image_tag("krieg.jpg", class: "img-fluid rounded") %>
</p>
<p>
  <%= image_tag("justitia.jpg", class: "img-fluid rounded") %>
</p>
<p>
  <%= image_tag("sweets.jpg", class: "img-fluid rounded") %>
</p>
