<h3 class="text-center">Mehr Literatur</h3>
<p>
  <div class="list-group">
    <a href="https://www.buchhaus.ch/buecher/fachbuecher/religion_ethik/ethik_grenz/detail/ISBN-9783825239855/H%C3%B6ffe-Otfried/Einf%C3%BChrung-in-die-utilitaristische-Ethik" target="_blank" class="list-group-item list-group-item-action">
      <b>"Einführung in die utilitaristische Ethik"</b>
      - von Otfried Höffe
    </a>
    <a href="https://www.amazon.de/Aristoteles-zur-Einf%C3%BChrung-Christof-Rapp/dp/3885066904/ref=sr_1_1?ie=UTF8&qid=1553023976&sr=8-1&keywords=Aristoteles+Einf%C3%BChrung" target="_blank" class="list-group-item list-group-item-action">
      <b>"Aristoteles zur Einführung"</b>
      - von Christof Rapp
    </a>
  </div>
</p>

<h3 class="text-center">Quellen</h3>
<p>
  <div class="list-group">
    <a href="http://www.utb-shop.de/autoren/hubner-dietmar/einfuhrung-in-die-philosophische-ethik-7843.html" target="_blank" class="list-group-item list-group-item-action">
      <b>"Einführung in die philosophische Ethik"</b>
      - von Hübner, Dietmar
    </a>
    <a href="https://www.exlibris.ch/de/buecher-buch/deutschsprachige-buecher/annemarie-pieper/einfuehrung-in-die-ethik/id/9783825246969" target="_blank" class="list-group-item list-group-item-action">
      <b>"Einführung in die Ethik"</b>
      - von Annemarie Pieper
    </a>
    <a href="https://www.exlibris.ch/de/buecher-buch/deutschsprachige-buecher/herlinde-pauer-studer/einfuehrung-in-die-ethik/id/9783825223502" target="_blank" class="list-group-item list-group-item-action">
      <b>"Einführung in die Ethik"</b>
      - von Herlinde Pauer-Studer
    </a>
  </div>
</p>
