<h3 class="text-center">Stärken</h3>
<hr />
<p>
  Die Tugendethik war die Standardtheorie der Antike und
  hat die Geschichte der Ethik massgeblich beeinflusst.
</p>
<p>
  Im Folgenden werden <b>drei Stärken</b>
  der aristotelischen Ethik hervorgehoben.
</p>
<p>
  <ol class="space-between-li-20">
    <li>
      Die aristotelische Ethik <b>berücksichtigt die Absichten</b> einer handelnden Person.
    </li>
    <li>
      Die aristotelische Ethik <b>berücksichtigt die Komplexität des Lebens</b>.
    </li>
    <li>
      In der aristotelischen Ethik geht es nicht nur um richtiges Handeln, sondern <b>um das gute Leben allgemein</b> und <b>wie man es erreichen kann</b>.
    </li>
  </ol>
</p>
