<h3 class="text-center">Stärken</h3>
<hr />
<p>
  Die Tugendethik war die Standardtheorie der Antike und
  hat die Geschichte der Ethik massgeblich beeinflusst.
</p>
<p>
  Im Folgenden werden <b>drei Stärken</b>
  der Tugendethik hervorgehoben.
</p>
<p>
  <ol class="space-between-li-20">
    <li>
      Die Tugendethik <b>berücksichtigt die Absichten</b> einer handelnden Person.
    </li>
    <li>
      Die Tugendethik <b>berücksichtigt die Komplexität des Lebens</b>.
    </li>
    <li>
      Die Tugendethik <b></b>
    </li>
  </ol>
</p>
