<h3 class="text-center">Tugenden</h3>
<hr />
<p>
  Aristoteles unterscheidet zwischen zwei Kategorien von Tugenden,
  <b>verstandesm채ssige</b> und <b>ethische</b> Tugenden:
</p>
<p>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">verstandesm채ssig</th>
      <th scope="col">ethisch</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Weisheit</td>
      <td>Grossz체gigkeit</td>
    </tr>
    <tr>
      <td>Klugheit</td>
      <td>Besonnenheit</td>
    </tr>
    <tr>
      <td>Auffassungsgabe</td>
      <td>Tapferkeit</td>
    </tr>
  </tbody>
</table>
  </p>
  <hr />
<p>
  Diese Tugenden sind f체r Aristoteles besonders wichtig, aber es sind nicht die einzigen.
</p>
