<h4 class="text-center">Tugendethische Theorien</h4>
<hr />
<p>
  Alle tugendethische Theorien
  beurteilen <b>Charaktereigenschaften</b>.
</p>
<p>
  Untereinander unterscheiden sich tugendethische Theorien nur in der
   <b>Art und Weise</b>, wie sie Charaktereigenschaften <b>bewerten</b>.
</p>
<p>
  Tugendethische Theorien kann man daran erkennen,
  dass sie immer darüber nachdenken,
  <b>wie</b> eine Person sein soll oder <b>welche Eigenschaften</b> eine gute Person haben muss.
</p>
<p>
  <b>Zum Beispiel: </b>
</p>
<p>
  "Eine gute Person ist eine, die <b>mutig</b>, <b>selbstsicher</b> und <b>fit</b> ist."
</p>
<p>
  "Eine schlechte Person ist eine, die <b>faul</b>, <b>unzuverlässig</b> und <b>arrogant</b> ist."
</p>
