<p class="text-center">
  <b>Überlege dir</b>, ob die folgende Theorie <b>tugendethisch</b> ist!
</p>
<hr />
<p>
  "Eine Handlung ist gut, wenn sie Armut vermindert
  und eine Handlung ist schlecht, wenn sie Armut verursacht.
</p>
<p>
  <b>Zum Beispiel: </b>
</p>
<p>
  Es ist <b>falsch</b>, von armen Menschen Geld zu stehlen.
</p>
<p>
  Hingegen ist es <b>richtig</b>, von reichen Menschen zu stehlen und das Geld den Armen zu geben."
</p>
<hr />
<p>
  <button type="button" value="" class="btn btn-light border multilinebutton btn-block p-3 mb-4 ktugendethischetheorien1">Diese Theorie ist tugendethisch</button>
  <button type="button" value="ktugendethischetheorien1" class="btn btn-light border multilinebutton btn-block p-3 mb-4 ktugendethischetheorien1">Diese Theorie ist <u>nicht</u> tugendethisch</button>
</p>

<!-- Modal -->
<div class="modal fade" id="tugendethischetheorien1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">Richtig!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>

        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Schliessen</button>
        <button type="button" id="get-next-slide" data-dismiss="modal" class="btn btn-info get-slide-button mx-2" slide="<%= current_slide + 1 %>">Weiter</button>
      </div>
    </div>
  </div>
</div>

<script>
  $( document ).ready(function() {
    console.log("tugendethischetheorien1 loaded!");

    var points = 100;

    $( ".ktugendethischetheorien1" ).click(function() {

      if($(this).attr("value") === "ktugendethischetheorien1"){
        $(".modal-body").append(
          `<p class="text-center lead">
              Du hast ${points} Punkte erhalten!
            </p>
          `
        );
        addPointsToCourse(4, "tugendethischetheorien1", points);
        $(this).animate({backgroundColor: "#32CD32", color: "#FFFFFF" }, 200, function(){
          setTimeout(function(){
              $('#tugendethischetheorien1').modal('show');
            }, 600);
        });
      } else {
        $(this).animate({backgroundColor: "#DC143C", color: "#FFFFFF" }, 200);
        points = points - 50;
      }
    });

  });
</script>
