<h3 class="text-center">Tugendethik</h3>
<hr />
<p>
  <b>Tugendethik</b> ist ein Sammelbegriff für ethische Theorien, die Charaktereigenschaften beurteilen.
</p>
<p>
  Das Wort "Tugend" ist abgeleitet von <em>taugen</em> oder <em>Tauglichkeit</em>.
</p>
<p>
  Daher kommt auch der Name "<em>Tugend</em>ethik".
</p>
<p>
  Die Grundfrage der Tugendethik lautet <em>"Was für eine Person soll ich sein?"</em>
</p>
<p>
  Gute Charaktereigenschaften werden <b>Tugenden</b> genannt,
  während schlechte <b>Laster</b> genannt werden.
</p>
<p>
  Als <b>Kardinaltugenden</b> werden die <b>wichtigsten</b> Tugenden bezeichnet.
</p>
<p>
  In unterschiedlichen Kulturen und Epochen wurden jeweils verschiedene Tugenden Kardinaltugenden genannt.
</p>
