<h3 class="text-center">Tugenden</h3>
<hr />
<p>

</p>
<p>
  Aristoteles unterscheidet zwischen zwei Kategorien von Tugenden,
  <b>verstandesmässige</b> und <b>ethische</b> Tugenden:
</p>
<p>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">verstandesmässig</th>
      <th scope="col">ethisch</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Weisheit</td>
      <td>Grosszügigkeit</td>
    </tr>
    <tr>
      <td>Klugheit</td>
      <td>Besonnenheit</td>
    </tr>
    <tr>
      <td>Auffassungsgabe</td>
      <td>Tapferkeit</td>
    </tr>
  </tbody>
</table>
  </p>
