<h2 class="text-center">Beispiele</h2>
<hr />
<p>
  Eine <b>tugendhafte Person</b> ist eine, die Tugende besitzt, also gute Charaktereigenschaften.
</p>
<p>
  Die Tugendethik empfiehlt, so zu handeln,
  <b>wie eine tugendhafte Person in deiner Situation handeln w端rde</b>.
</p>
<hr />
<p class="ml-3">
  (a)</b> Angenommen, du hast etwas aus <b>Neid</b> gestohlen.
</p>
<p>
  Die Frage ist nun, ob <b>aus Neid Stehlen</b> etwas ist,
  das wir von einer tugendhaften Person erwarten w端rden.
</p>
<p>
  Wenn wir unter einer <b>tugendhaften Person</b> eine <b>gerechte</b> Person verstehen,
  dann w端rden wir erwarten, dass eine tugendhafte Person <b>aus einem Sinn f端r Gerechtigkeit</b> stiehlt,
  <b>nicht aber aus Neid</b>.
</p>
