<h5 class="text-center">Eine echte Ethik?</h5>
<hr />
<p>
  Kritiker argumentieren,
  dass die Tugendethik keine Ethik im <b>eigentlichen Sinne</b> ist.
</p>
<p>
  Nach Kritikern geht es in der Ethik besonders um die Frage,
   <b>wie wir miteinander leben sollen</b>.
</p>
<p>
  Die Tugendethik stellt aber eine andere Frage in den Vordergrund,
  nämlich, "Was für eine Person soll ich sein?".
</p>
<p>
  Indem die Tugendethik auf die Kultivierung von Charaktereigenschaften fokussiert,
  vernachlässigt sie die eigentlich wichtige Frage, wie wir miteinander leben sollen.
</p>
<p>
  Für Kritiker beantwortet die Tugendethik ethische Fragen nur <b>indirekt</b>,
  nämlich über einem Umweg über die Charaktereigenschaften.
</p>
<p>
  Für Kritiker soll eine ethische Theorie ethische Fragen <b>direkt</b> beantworten.
</p>
