<h5 class="text-center">Das gute Leben?</h5>
<hr />
<p>
  Für Aristoteles ist ein glückliches und ein tugendhaftes Leben <b>ein und dasselbe</b>.
</p>
<p>
  Doch ist ein tugendhaftes Leben und ein glückliches Leben wirklich <b>das gleiche</b>?
</p>
<p>
  <b>Führt</b> ein tugendhaftes Leben wirklich <b>immer</b> zu einem glücklichen Leben?
</p>
<p>
  Kritiker und Kritikerinnen argumentieren,
  dass ein tugendhaftes Leben <b>nicht immer</b> zu einem glücklichen Leben führt.
</p>
<p>
  <b>Zum Beispiel:</b>
</p>
<p>
  Ist ein <b>krimineller Mafia-Boss</b>, der in Reichtum und Luxus lebt,
   wirklich <b>weniger glücklich</b>, als eine tugendhafte Person,
   die grosszügig spendet und deshalb bescheidener leben muss?
</p>
