<h3 class="text-center">Zu vage?</h3>
<hr />
<p>
  Eine Kritik lautet,
  dass die aristotelische Ethik <b>zu vage</b> ist.
</p>
<p>
  Die aristotelische Ethik bietet <b>kein Verfahren</b> an,
  das uns hilft, in konkreten Situationen Entscheidungen zu treffen.
</p>
<p>
  Stattdessen r채t uns die aristotelische Ethik das zu tun, was <b>eine tugendhafte Person tun w체rde.</b>
</p>
<p>
  Solange wir aber nicht wissen,
  wie eine tugendhafte Person sich in einer konkreten Situation verhalten w체rde,
  bringt uns dieser Ratschlag nicht weiter.
</p>
<p>
  F체r Kritiker und Kritikerinnen muss eine Ethik in der Lage sein,
  <b>ein Verfahren anzubieten</b>, das uns hilft, Entscheidungen zu treffen.
</p>
