<h3 class="text-center">Zu vage?</h3>
<hr />
<p>
  Kritiker argumentieren,
  dass die Tugendethik <b>zu vage</b> ist.
</p>
<p>
  Im Unterschied zu anderen ethischen Theorien,
  habe die Tugendethik besonders Mühe,
  <b>konkrete Empfehlungen</b> abzugeben.
</p>
<p>
  Die Tugendethik bietet <b>kein Verfahren</b> an,
  das uns hilft, in konkreten Situationen Entscheidungen zu treffen.
</p>
<p>
  Stattdessen verweist die Tugendethik auf die <b>Figur</b> der tugendhaften Person.
</p>
<p>
  Solange wir aber nicht wissen,
  wie eine tugendhafte Person sich in einer konkreten Situation entscheiden würde,
  bringt uns diese Figur nicht weiter.
</p>
<p>
  Für Kritiker muss eine Ethik in der Lage sein, ein Verfahren anzubieten, das uns hilft, Entscheidungen zu treffen.
</p>
