<h3 class="text-center">Relativismus?</h3>
<hr />
<p>
  Eine Kritik lautet,
  dass die aristotelische Ethik <b>relativistisch ist</b>.
</p>
<p>
  Aristoteles sagt, dass wir <b>tugendhaften Personen nachahmen sollen</b>.
</p>
<p>
  Doch <b>wer</b> sind diese tugendhaften Person?
  Wo finden wir sie?
</p>
<p>
  Aristoteles meint, dass wir immer <b>in unserem Umfeld</b> tugendhafte Personen erkennen können.
</p>
<p>
  Wenn man sich aber die verschiedenen Kulturen der Welt ansieht,
  dann merkt man, dass es <b>unterschiedliche Ideale</b> oder <b>Vorbilder</b> gibt.
</p>
<p>
  Hängt das Bild einer tugendhaften Person von der <b>Kultur</b> ab, in der man lebt?
</p>
<p>
  Für Kritiker und Kritikerinnen darf eine Ethik nicht von der Kultur abhängen.
</p>
