<h3 class="text-center">Schw채chen</h3>
<hr />
<p>
  Die Tugendethik ist nicht ohne Kritik geblieben.
</p>
<p>
  Im Folgenden werden <b>drei Einw채nde</b>
  gegen체ber der Tugendethik erl채utert:
</p>
<p>
  <ol class="space-between-li-20">
    <li>
      Die Tugendethik kann <b>keine konkreten Empfehlungen abgeben</b>.
    </li>
    <li>
      Die Tugendethik
    </li>
    <li>
      Die Tugendethik ist <b>keine Ethik im eigentlichen Sinne</b>.
    </li>
  </ol>
</p>
