<h3 class="text-center">Schw채chen</h3>
<hr />
<p>
  Die aristotelische Ethik ist nicht ohne Kritik geblieben.
</p>
<p>
  Im Folgenden werden <b>drei Einw채nde</b>
  gegen체ber der aristotelischen Ethik erl채utert:
</p>
<p>
  <ol class="space-between-li-20">
    <li>
      Die aristotelische Ethik kann <b>keine konkreten Empfehlungen abgeben</b>.
    </li>
    <li>
      Die aristotelische Ethik ist <b>relativistisch</b>.
    </li>
    <li>
      Die aristotelische Ethik ist <b>keine Ethik im eigentlichen Sinne</b>.
    </li>
  </ol>
</p>
