<p>
  <b>Welche Stärke</b> der aristotelische Ethik kommt hier zum Ausdruck?
</p>
<hr />
<p>
  "Es ist sicher gut,
  wenn Grosskonzerne sich entscheiden,
  viel Geld für einen wohltätigen Zweck zu spenden.
</p>
<p>
  Aber leider tun sie das nicht, weil sie grosszügig sind,
  sondern nur, <b>weil sie ihr Image aufbessern wollen</b>.
</p>
<p>
  Eine brauchbare Ethik muss daher <b>diese diese scheinheilige Fassade durchschauen</b> und <b>kritisieren können</b>."
</p>
<hr />
<p>
  <button type="button" value="sozialprinzip" class="btn btn-light border multilinebutton btn-block p-3 mb-4 sozialprinzip">Die aristotelische Ethik berücksichtigt die Absichten einer handelnden Person.</button>
  <button type="button" value="" class="btn btn-light border multilinebutton btn-block p-3 mb-4 sozialprinzip">Die aristotelische Ethik berücksichtigt die Komplexität des Lebens.</button>
  <button type="button" value="" class="btn btn-light border multilinebutton btn-block p-3 mb-4 sozialprinzip">In der aristotelischen Ethik geht es nicht nur um richtiges Handeln, sondern um das gute Leben allgemein und wie man es erreichen kann.</button>
</p>

<!-- Modal -->
<div class="modal fade" id="utilubung4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLabel">Übung abgeschlossen!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>

        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Schliessen</button>
        <button type="button" id="get-next-slide" data-dismiss="modal" class="btn btn-info get-slide-button mx-2" slide="<%= current_slide + 1 %>">Weiter</button>
      </div>
    </div>
  </div>
</div>

<script>
  $( document ).ready(function() {
    console.log("vubung8 loaded!");

    var points = 100;

    $( ".sozialprinzip" ).click(function() {

      if($(this).attr("value") === "sozialprinzip"){
        $(".modal-body").append(
          `<p class="text-center lead">
              Du hast ${points} Punkte erhalten!
            </p>
          `
        );
        addPointsToCourse(4, "vubung8", points);
        setOrden(4, "praktiker-badge.png");
        $(this).animate({backgroundColor: "#32CD32", color: "#FFFFFF" }, 200, function(){
          setTimeout(function(){
              $('#utilubung4').modal('show');
            }, 600);
        });
      } else {
        $(this).animate({backgroundColor: "#DC143C", color: "#FFFFFF" }, 200);
        points = points - 50;
      }
    });
  });
</script>
