<h3 class="text-center">Verteidigung</h3>
<hr />
<p>
  Gegen <b>welche Kritik</b> wird die Tugendethik hier verteidigt?
</p>
<p>
    "Ethische Fragen sind leicht gestellt, aber schwierig zu beantworten.
    Wer glaubt, man könnte ethische Fragen mit einem Regelsystem oder mit einem Verfahren beantworten,
    verkennt die Komplexität des Lebens.

</p>
<p>
    Eine brauchbare Ethik muss daher eine sein, die die Komplexität des Lebens berücksichtigt.
    Die tugendhafte Person weiss das und verzichtet auf einfach anwendbare Verfahren oder Regelsysteme."

</p>

<p>
  <button type="button" value="" class="btn btn-light border multilinebutton btn-block p-3 mb-4 sozialprinzip">Tugendhaftes Verhalten kann katastrophale Folgen haben.</button>
  <button type="button" value="sozialprinzip" class="btn btn-light border multilinebutton btn-block p-3 mb-4 sozialprinzip">Die Tugendethik ist zu vage, um brauchbar zu sein.</button>
  <button type="button" value="" class="btn btn-light border multilinebutton btn-block p-3 mb-4 sozialprinzip">Die Tugendethik ist keine echte Ethik.</button>
</p>

<!-- Modal -->
<div class="modal fade" id="utilubung4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLabel">Übung abgeschlossen!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>

        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Schliessen</button>
        <button type="button" id="get-next-slide" data-dismiss="modal" class="btn btn-info get-slide-button mx-2" slide="<%= current_slide + 1 %>">Weiter</button>
      </div>
    </div>
  </div>
</div>

<script>
  $( document ).ready(function() {
    console.log("vubung3 loaded!");

    var points = 100;

    $( ".sozialprinzip" ).click(function() {

      if($(this).attr("value") === "sozialprinzip"){
        $(".modal-body").append(
          `<p class="text-center lead">
              Du hast ${points} Punkte erhalten!
            </p>
          `
        );
        addPointsToCourse(4, "vubung3", points);
        $(this).animate({backgroundColor: "#32CD32", color: "#FFFFFF" }, 200, function(){
          setTimeout(function(){
              $('#utilubung4').modal('show');
            }, 600);
        });
      } else {
        $(this).animate({backgroundColor: "#DC143C", color: "#FFFFFF" }, 200);
        points = points - 50;
      }
    });
  });
</script>
