<h3 class="text-center">Beschreibung:</h3>
<hr />
<div id="concept" class="text-center mb-1">
  <div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
</div>

<hr />

<div id="definition" class="text-center mb-4">

</div>

<!-- Modal -->
<div class="modal fade animated tada" id="vubung6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Übung abgeschlossen!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Schliessen</button>
        <button type="button" id="get-next-slide" data-dismiss="modal" class="btn btn-info get-slide-button mx-2" slide="<%= current_slide + 1 %>">Weiter</button>
      </div>
    </div>
  </div>
</div>

<script>

var definitions = [
    ["Furcht", 1],
    ["Zügellosigkeit", 2],
    ["Zuversicht", 3],
    ["Knauserei", 4],
    ["Stumpfsinnigkeit", 5],
    ["Verschwendungssucht", 6],
]

var concepts = [
    ["Franz läuft bei jeder Gefahr sofort weg.", 1],
    ["Fabienne raucht pausenlos, trinkt zu viel Alkohol und nimmt ständig Drogen.", 2],
    ["Silvio hält sich für einen so guten Fahrer, dass er viel zu schnell Auto fährt.", 3],
    ["Obwohl Fiona sehr reich ist, spendet sie weniger als alle anderen für einen guten Zweck.", 4],
    ["Ralf macht nie etwas zum Vergnüngen.", 5],
    ["Isa kocht genug für 10 Personen, obwohl nur 3 Personen kommen.", 6],
]

    var score = 0;
    var currentnumber = 0;
    var points = 100;

  $( document ).ready(function() {

  console.log("Allocate Concepts loaded!");
  getNextRound(currentnumber);

  $("body").on("click", ".acanswer", function(e) {
    e.stopImmediatePropagation();

    var value = parseInt($(this).attr("value"));

    console.log("RESULTS!");
    console.log(score);
    console.log(points);


    if(value === concepts[currentnumber][1]){
      score = score + points;
      currentnumber = currentnumber + 1;
      points = 100;

      if(currentnumber === concepts.length){

        addPointsToCourse(4, "vubung6", score);

        $(this).animate({backgroundColor: "#32CD32", color: "#FFFFFF" }, 200, function(){
          $(".modal-body").empty().append(
            `<p class="text-center lead">
                Du hast
              </p>
                  <div class="text-center lead animated infinite pulse">${score} Punkte</div>
            <p class="text-center lead">
                  <br />
                 erhalten!
            </p>
            `
          );
          setTimeout(function(){
              $('#vubung6').modal('show');
            }, 600);
        });
      } else {
        $(this).animate({backgroundColor: "#32CD32", color: "#FFFFFF" }, 200, function(){
          setTimeout(function(){
              getNextRound(currentnumber);
            }, 600);
        });
      }

    } else {
      points = points - 50;
      $(this).animate({backgroundColor: "#DC143C", color: "#FFFFFF" }, 200);
    }

  });


  function getNextRound(number) {
    console.log(number);
    //concept
    $("#concept").fadeOut("fast", function(){
      $("#concept").empty().append(
        `<div class="p-1">
          <p>${concepts[number][0]}</p>
        </div>`
      ).fadeIn("fast");
    });

    //definition
    $("#definition").fadeOut("fast", function(){
      var random1;
      var random2;
      do {
        random1 = Math.floor(Math.random()*definitions.length);
        random2 = Math.floor(Math.random()*definitions.length);
      } while (number === random1 || number === random2 || random1 === random2);

      var array = [random1, random2, number];

      let random_array = array
        .map((a) => ({sort: Math.random(), value: a}))
        .sort((a, b) => a.sort - b.sort)
        .map((a) => a.value)

      $("#definition").empty().append(
        `<button type="button" value="${definitions[random_array[0]][1]}" class="btn btn-light border multilinebutton btn-block acanswer p-3 mb-4">${definitions[random_array[0]][0]}</button>
        <button type="button" value="${definitions[random_array[1]][1]}" class="btn btn-light border multilinebutton btn-block acanswer p-3 mb-4">${definitions[random_array[1]][0]}</button>
        <button type="button" value="${definitions[random_array[2]][1]}" class="btn btn-light border multilinebutton btn-block acanswer p-3 mb-4">${definitions[random_array[2]][0]}</button>`
      ).fadeIn("fast");
    });
  }
});
</script>
