<p>
  <b>Überlege dir</b>, wie eine tugendhafte Person hier handeln würde!
</p>
<hr />
<p>
  Du siehst, wie dein Freund die Tasche einer Frau klaut und daraus alle Wertsachen entnimmt.
</p>
<p>
  Du weisst, dass dein Freund arbeitslos ist und finanzielle Schwierigkeiten hat.
</p>
<p>
  <b>Was würde eine tugendhafte Person in deiner Situation tun?</b>
</p>
<hr />
<p>
  <button type="button" value="" class="btn btn-light border multilinebutton btn-block p-3 mb-4 sozialprinzip">Eine tugendhafte Person würde so tun, als hätte sie nichts gesehen.</button>
  <button type="button" value="" class="btn btn-light border multilinebutton btn-block p-3 mb-4 sozialprinzip">Eine tugendhafte Person würde ausrasten und den Freund mit Prügel bestrafen.</button>
  <button type="button" value="sozialprinzip" class="btn btn-light border multilinebutton btn-block p-3 mb-4 sozialprinzip">Eine tugendhafte Person würde ein tadelndes Gespräch mit seinem Freund führen.</button>
</p>

<!-- Modal -->
<div class="modal fade" id="vubung7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLabel">Übung abgeschlossen!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>

        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Schliessen</button>
        <button type="button" id="get-next-slide" data-dismiss="modal" class="btn btn-info get-slide-button mx-2" slide="<%= current_slide + 1 %>">Weiter</button>
      </div>
    </div>
  </div>
</div>

<script>
  $( document ).ready(function() {
    console.log("vubung7 loaded!");

    var points = 100;

    $( ".sozialprinzip" ).click(function() {

      if($(this).attr("value") === "sozialprinzip"){
        $(".modal-body").append(
          `<p class="text-center lead">
              Du hast ${points} Punkte erhalten!
            </p>
          `
        );
        addPointsToCourse(4, "vubung7", points);
        $(this).animate({backgroundColor: "#32CD32", color: "#FFFFFF" }, 200, function(){
          setTimeout(function(){
              $('#vubung7').modal('show');
            }, 600);
        });
      } else {
        $(this).animate({backgroundColor: "#DC143C", color: "#FFFFFF" }, 200);
        points = points - 50;
      }
    });
  });
</script>
