<p>
  <b>Welche Kritik</b> an der aristotelischen Ethik wird hier geäussert?
</p>
<hr />
<p>
  "Heutzutage ist jeder gegen Sklaverei.
  Das war aber nicht immer so.
  Früher war Sklaverei ein alltägliches Phänomen und viele haben die Sklaverei verteidigt.
</p>
<p>
  Sogar Aristoteles hat die Sklaverei verteidigt.
  Wenn Aristoteles in einer anderen Kultur aufgewachsen wäre,
  in einer, in der Sklaverei verboten ist,
  dann hätte er die Sklaverei nicht verteidigt."
</p>
<p>
  <button type="button" value="" class="btn btn-light border multilinebutton btn-block p-3 mb-4 sozialprinzip">Die aristotelische Ethik bietet kein Verfahren an, das uns hilft, Entscheidungen zu treffen.</button>
  <button type="button" value="sozialprinzip" class="btn btn-light border multilinebutton btn-block p-3 mb-4 sozialprinzip">Die aristotelische Ethik ist relativistisch. </button>
  <button type="button" value="" class="btn btn-light border multilinebutton btn-block p-3 mb-4 sozialprinzip">Die aristotelische Ethik ist keine Ethik im eigentlichen Sinne. </button>
</p>

<!-- Modal -->
<div class="modal fade" id="utilubung4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLabel">Übung abgeschlossen!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>

        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Schliessen</button>
        <button type="button" id="get-next-slide" data-dismiss="modal" class="btn btn-info get-slide-button mx-2" slide="<%= current_slide + 1 %>">Weiter</button>
      </div>
    </div>
  </div>
</div>

<script>
  $( document ).ready(function() {
    console.log("vubung5 loaded!");

    var points = 100;

    $( ".sozialprinzip" ).click(function() {

      if($(this).attr("value") === "sozialprinzip"){
        $(".modal-body").append(
          `<p class="text-center lead">
              Du hast ${points} Punkte erhalten!
            </p>
          `
        );
        addPointsToCourse(4, "vubung5", points);
        $(this).animate({backgroundColor: "#32CD32", color: "#FFFFFF" }, 200, function(){
          setTimeout(function(){
              $('#utilubung4').modal('show');
            }, 600);
        });
      } else {
        $(this).animate({backgroundColor: "#DC143C", color: "#FFFFFF" }, 200);
        points = points - 50;
      }
    });
  });
</script>
