<h6 class="text-center">Warum sich mit Tugendethik befassen?</h6>
<hr>
<p>
  <em>
    Dies ist ein Vertiefungskurs und setzt ein gewisses Vorwissen voraus.
    Den Einführungskurs findest du <%=  link_to 'hier', course_path(Course.find(1)) %>.
  </em>
</p>
<p>
  Die Tugendethik ist eine spannende Ethik,
  weil sie sich mit <b>Charaktereigenschaften</b> auseinandersetzt.
</p>
<p>
  Sie fragt nicht nur, wie wir uns zu anderen verhalten sollen, sondern auch,
  wie <b>wir</b> uns persönlich <b>verbessern</b> und <b>entwickeln</b> können.

</p>
<p>
  Das Studium der Tugendethik hilft dir,
  tugendethische Begründungen oder Argumente zu <b>erkennen</b>,
  zu <b>analysieren</b> und zu <b>kritisieren</b>.
</p>
<p>
  Indem du die <b>Stärken</b> und <b>Schwächen</b> der Tugendethik kennst,
  kannst du bessere <b>Entscheidungen treffen</b> und andere beraten,
  wie sie sich entscheiden <b>sollen</b>.
</p>
