<p>
  Die Tugendethik blickt auf eine lange Geschichte zurück.
  Sie war die Standardtheorie des antiken Griechenlands
  und erfreut sich seit Kurzem wieder grösserer Beliebtheit.
</p>
<p>
  In unterschiedlichen Kulturen und Epochen wurden jeweils verschiedene Tugenden Kardinaltugenden genannt.
</p>
<p>
  Als <b>Kardinaltugenden</b> werden die <b>wichtigsten</b> Tugenden bezeichnet.
</p>
<p>
  Diese Charaktereigenschaften sind es auch,
  <b>die eine gute Person besitzt</b>.
</p>
<p>

</p>
<p>
  Für Aristoteles ist jedes menschliche Handeln auf <b>ein Gut</b> oder auf <b>ein Ziel gerichtet</b>.
</p>
<p>
   Manche Güter wollen wir um ihrer selbst willen,
   andere nur als Mittel zum Zweck, nämlich um andere Güter zu erhalten.
</p>
<p>
  Nach Aristoles gibt es nun ein <b>höchstes Gut</b> oder ein <b>letztendliches Ziel</b>.
  Dieses höchste Gut nennt Aristoteles <b>Eudaimonia</b>.
</p>
<p>
  Eudaimonia steht für das <b>gute Leben</b>, das <b>gelungene Leben</b> oder die <b>Glückseligkeit</b>.
</p>
<p>
    Nach Aristoteles streben wir letzendlich alle danach, Eudaimonia zu erreichen.
</p>
<p>
    <b>In anderen Worten: </b>
</p>
<p>
  Um ethisch besser zu werden, muss man
</p>
<p>
  Das Erwerben von Tugenden kann man mit dem Erwerben einer Handwerkskunst <b>vergleichen</b>:
</p>
<p>
  Der Lernende muss dem
</p>
<p>
  Am Anfang ist es schwierig, sich auf das Fahrrad zu setzen und die Balance zu behalten.
  Man wird manche Dinge falsch machen und hin und wieder vom Fahrrad fallen.
</p>
<p>
  Aber mit der Zeit lernt man immer besser, die Balance zu behalten
</p>
<p>
  Um ethisch besser zu werden, reicht es daher nicht aus, nur über Tugenden nachzudenken.
  Ethische Tugenden entstehen aus den <b>entsprechenden Tätigkeiten</b>.
</p>
<p>

</p>
<p>
  Erfahrung ist wichtig.
</p>
<p>
    Selber denken, ab einem Zeitpunkt.
</p>
<p>
  Man braucht keine Hilfe mehr, sondern man kann selber denken.
</p>
<p>
    Genauso wenig, wie man also Fahrradfahren durch das Lesen von Büchern lernt,
    erwirbt man keine Tugenden, wenn man nicht <b>übt</b>, tapfer, grosszügig oder besonnen zu sein.
</p>
<p>
  Wie der Lehrling dem Meister beim Handwerk zuerst zusehen und nachahmen muss,
  müssen wir zuerst tugendhaften Personen zusehen und nachahmen, damit wir dieselben Tugenden erwerben können.
</p>
