<h3 class="text-center">Metaethik</h3>
<hr />
<p>
  Die <b>Metaethik</b> ist eine philosophische Disziplin
  und beschäftigt sich mit der Frage,
  wie ethische oder moralische Urteile genau zu verstehen sind.
</p>
<p>
  Das Wort "meta" kommt aus dem Griechischen und
  bedeutet so viel wie "hinter" oder "über".
  Die Metaethik heisst so, weil sie <em>über</em> die Ethik selbst nachdenkt.
</p>
