<h5 class="text-center">Thomas Hobbes</h5>
<hr />
<p>
  Als früher Vertreter des Kontraktualismus gilt der Philosoph <b>Thomas Hobbes</b>.
</p>
<p>
  Nach Hobbes dominieren <b>zwei Motive</b> den Menschen:
  <ul>
    <li>
      Streben nach Selbsterhaltung
    </li>
    <li>
      Streben, sich möglichst viele Güter anzueignen (z.B. Nahrung, Kleider, Gold).
    </li>
  </ul>
</p>
<p>
  Da Güter aber nicht im Übermass vorhanden sind,
  kommt es immer wieder zu einem <b>Kampf um diese Güter</b>.
</p>
<p>
  Der Zustand, in dem alle Menschen ständig um das Überleben und um diese Güter kämpfen,
  nennt Hobbes den <b>Naturzustand</b>.
</p>
<p>
  Dieser Naturzustand ist <b>frei von Gesetzen, Regeln des sozialen Zusammenlebens oder gesellschaftlichen Beziehungen.</b>
</p>
