<h3 class="text-center">Der Naturzustand</h3>
<hr />
<p>
  Für Hobbes ist dieser Naturzustand ein sehr ungemütlicher Zustand.
  Darin herrscht ein Krieg eines jeden gegen jeden und
  die ständige Gefahr eines gewaltsamen Todes.
  Das Leben im Naturzustand sei <b>"einsam, armselig, ekelhaft, tierisch und kurz"</b>.
</p>
<p>
  Um diesen Naturzustand zu entkommen,
  müssen wir nach Hobbes einen Vertrag eingehen,
  mit dem wir uns <b>einschränken</b>.
  Wir treten unsere Freiheiten einer Institution ab (dem Staat),
  die uns im Gegenzug vor Gewalt und Krieg schützt.
</p>
<p>
  Wichtig ist zu verstehen,
  dass wir nach Hobbes diesen Vertrag nicht freiwillig eingehen,
  sondern nur, <b>weil wir dem Naturzustand entgehen wollen</b>.
</p>
