<h5 class="text-center">Thomas Hobbes</h5>
<hr />
<p>
  Als früher Vertreter des Kontraktualismus gilt der Philosoph <b>Thomas Hobbes</b>.
</p>
<p>
  Nach Hobbes sind Menschen von <b>zwei Motiven</b> dominiert:
  <ul>
    <li>
      Streben nach Selbsterhaltung
    </li>
    <li>
      Bestreben, sich möglichst viele Güter anzueignen.
    </li>
  </ul>
</p>
<p>
  Da aber Güter knapp vorhanden,
  kämpfen Menschen stets um diese Güter.
</p>
<p>
  Da Ressourcen knapp sind, kämpfen Menschen stets um diese Ressourcen.

</p>
<p>
  Für Hobbes gibt es verschiedene <b>Zustände</b>,
  in denen die Menschen sein können.
</p>
<p>
  Den <b>Naturzustand</b> nennt Hobbes den Zustand,
  in dem e
</p>
