<h3 class="text-center">Der Gesellschaftszustand</h3>
<hr />
<p>
  Indem man seine Freiheiten einschränkt,
  gelangt der Mensch vom Naturzustand zum <b>Gesellschaftszustand</b>.
</p>
<p>
  Im Gesellschaftszustand gelten Verträge, Gesetze und Regeln des Zusammenlebens,
  die man deswegen befolgt, weil man sonst wieder in den Naturzustand zurückfällt.
</p>
<p>
  Im Gesellschaftszustand ist es <b>falsch</b>, gegen diese Verträge, Gesetze oder Regeln zu handeln,
  weil <b>man ihnen zuvor zugestimmt hat</b>.
</p>
<p>
  Im Naturzustand hingegen gibt es kein <b>richtig</b> oder <b>falsches Handeln</b>,
  weil man darin keinen Gesetzen, Regeln oder Verträgen zugestimmt hat.
</p>
