<h5 class="text-center">John Rawls</h5>
<hr />
<p>
  Menschen haben <b>unterschiedliche Interessen</b>.
</p>
<p>
  Was für den einen ein guter Vertrag ist,
  ist für den anderen ein schlechter Vertrag.
</p>
<p>
  Gegeben der unterschiedlichen Interessen,
  kann es je einen Vertrag geben,
  den <b>alle</b> oder zumindest <b>sehr viele</b>
  unterschreiben würden?
</p>
<p>

</p>
