<h3 class="text-center">Kontraktualismus</h3>
<hr />
<p>
  <b>Kontraktualismus</b> ist ein Sammelbegriff für ethische Theorien, die ethische Normen als Produkte von Verträgen, Verhandlungen oder Vereinbarungen verstehen.
</p>
<p>
 "Kontrakt" ist ein anderes Wort für "Vertrag", daher der Name <em>Kontraktualismus</em>.
</p>
<p>

</p>
