<h3 class="text-center">Kontraktualismus</h3>
<hr />
<p>
  <b>Kontraktualismus</b> ist ein Sammelbegriff für ethische Theorien, die ethische Normen als Produkte von Verträgen, Verhandlungen oder Vereinbarungen verstehen.
</p>
<p>
 "Kontrakt" ist ein anderes Wort für "Vertrag", daher der Name <em>Kontraktualismus</em>.
</p>
<p>
  Nach dem Kontraktualismus ist eine ethische Norm, wie zum Beispiel <em>Du sollst nicht lügen</em>,
   dann <b>gerechtfertigt</b>,
  wenn die Betroffenen dieser Norm ihr <b>zustimmen</b> würden.
</p>
<p>
  <b>Wie ein Vertrag</b> nur dann zustande kommt,
  wenn alle Beteiligten diesen unterschreiben,
  ist eine ethische Norm nur dann gültig,
  wenn alle Beteiligten dieser Norm zustimmen würden.
</p>
<p>
    Die Idee der <b>Zustimmung</b> oder der <b>Zustimmbarkeit</b> ist sehr wichtig im Kontraktualismus.
</p>
