<h3 class="text-center">Soziale Realit채t?</h3>
<hr />
<p>
  Kontraktualisten gehen in ihren Gedankenexperimenten h채ufig davon aus,
  dass die Diskussionspartner <b>gleich</b> sind.
</p>
<p>
  Doch in der Realit채t gibt es diese Gleichheit faktisch nicht.
  F체r Kritiker geht die argumentative Kraft des Gedankenexperiments dadurch verloren.
</p>
<p>
  Warum sollte zum Beispiel ein Sklavenhalter einen Vertrag mit Sklaven eingehen?
</p>
<p>
  Dem Sklavenhalter geht es deswegen gut, weil er Sklaven ausbeuten kann.
</p>
<p>
  Es ist schlicht nicht in seinem Interesse, mit Sklaven einen Vertrag auszuhandeln.
</p>
