<h3 class="text-center">Unerkannter Diebstahl?</h3>
<hr />
<p>
  Der Kontraktualismus hat eine Antwort auf die Frage,
  warum man ethischen Normen befolgen soll.
</p>
<p>
  Die Antwort ist, weil sie, zumindest langfristig gesehen,
  im eigenen Interessen sind.
</p>
<p>
  Kritiker argumentieren, dass es dennoch vereinzelt
  Situationen geben kann, in denen man unbemerkt ethische Normen
  zum eigenen Vorteil hintergehen kann.
</p>
<p>
  Diebstahl, zum Beispiel, kann sich lohnen,
  wenn man sich sicher sein kann, dass man nicht beobachtet oder erwischt wird.
</p>
<p>
 Da ein unerkannter Diebstahl im Interesse des Handelnden ist,
 scheint es für den Handelnden keinen Grund zu geben, <b>nicht zu stehlen</b>.
</p>
