<h3 class="text-center">Kritik</h3>
<hr />
<p>
  Der Kontraktualismus ist nicht ohne Kritik geblieben.
</p>
<p>
  Im Folgenden werden <b>zwei Einw채nde</b>
  gegen체ber dem Kontraktualismus erl채utert:
</p>
<p>
  <ol>
    <li>
      Es ist im Eigeninteresse, schlecht zu handeln, wenn man dabei nicht erwischt wird.
    </li>
    <li>
      Der Kontraktualismus ignoriert die soziale Realit채t.
    </li>
  </ol>
</p>
