<h5 class="text-center">John Rawls</h5>
<hr />
<p>
  Als moderner Vertreter des Kontraktualismus gilt der Philosoph <b>John Rawls</b>.
</p>
<p>
  Rawls beschäftigt sich mit der Frage: <em>Wie sieht eine gerechte Gesellschaft aus?</em>
</p>
<p>
  Für Rawls ist eine Gesellschaft dann gerecht,
  <b>wenn sie auf Prinzipien beruht, denen alle zustimmen würden.</b>
</p>
<p>
  Doch wie finden wir diese Prinzipien?
  Rawls Idee ist,
  dass die Prinzipien einer gerechten Gesellschaft die sind,
  die in einer <b>fairen Ausgangssituation</b>
  ausdiskutiert werden.
</p>
<p>
  Eine faire Ausgangssituation ist eine,
  in der die Diskussionspartner <b>nur sehr allgemeine Informationen über sich selbst haben
   und somit die Prinzipien nicht zu ihrem Vorteil manipulieren können.</b>
</p>
