<h5 class="text-center">Gerechtigkeitsprinzipien</h5>
<hr />
<p>
  <ul><li>geistige, physische und soziale Eigenschaften wie Hautfarbe, Ethnie, Geschlecht, Religionszugehörigkeit</li>
<li>Stellung innerhalb der Gesellschaft, sozialer Status<sup id="cite_ref-1" class="reference"><a href="#cite_note-1">&#91;1&#93;</a></sup></li>
<li>materieller Besitz</li>
<li>geistige und physische Fähigkeiten wie Intelligenz, Kraft</li>
<li>besondere psychologische Neigungen wie Risikofreude, Optimismus</li>
<li>Vorstellung vom Guten, Details des eigenen Lebensentwurfs</li>
<li>Einrichtung der Gesellschaft etwa ökonomischer und politischer Art</li>
<li>Niveau der Gesellschaft zum Beispiel hinsichtlich Zivilisationsfortschritt und Kultur</li>
<li>Zugehörigkeit zu einer bestimmten Generation</li></ul>
<p>Aus dieser abstrakten Gleichheit folgt die Unparteilichke
</p>
