<h5 class="text-center">"Gerechtigkeitsprinzipien"</h5>
<hr />


<p>
  „Erster Grundsatz

Jedermann hat gleiches Recht auf das umfangreichste Gesamtsystem gleicher Grundfreiheiten, das für alle möglich ist.

Zweiter Grundsatz

Soziale und wirtschaftliche Ungleichheiten müssen folgendermaßen beschaffen sein:
(a) sie müssen unter der Einschränkung des gerechten Spargrundsatzes den am wenigsten Begünstigten den größtmöglichen Vorteil bringen, und
(b) sie müssen mit Ämtern und Positionen verbunden sein, die allen gemäß fairer Chancengleichheit offenstehen.
</p>
