<h5 class="text-center">John Rawls</h5>
<hr />
<p>
  Als moderner Vertreter des Kontraktualismus gilt der Philosoph <b>John Rawls</b>.
</p>
<p>
  Rawls präsentiert eine <b>Theorie der Gerechtigkeit</b>.
</p>
<p>
  Er argumentiert,
  dass die Grundsätze der Gerechtigkeit in einer <b>fairen Ausgangssituation</b>
  ausgelegt werden.
</p>
<p>
  
</p>
