<h5 class="text-center">"Schleier des Nichtwissens"</h5>
<hr />
<p>
  Hinter dem Schleier des Nichtwissens kannst du nicht wissen,
  ob...
  <ul>
    <li>
      du ein Mann oder eine Frau bist,
    </li>
    <li>
      du reich oder arm bist,
    </li>
    <li>
      du gesund oder behindert bist,
    </li>
    <li>
      du Einheimischer oder Ausländer bist,
    </li>
    <li>
      du hässlich oder schön bist,
    </li>
    <li>
      du intelligent oder dumm bist,
    </li>
    <li>
      ... und so weiter.
    </li>
  </ul>
Rawls argumentiert, dass ihr euch hinter dem Schleier des Nichtwissens
auf bestimmte Prinzipien einigen werdet.
</p>
<p>
  Eines dieser Prinzipien wird sein,
  dass es <b>denen am Schlecht-Gestelltesten möglichst gut gehen soll</b>,
  weil <b>ihr selber diese Schlecht-Gestelltesten sein könntet</b>.
</p>
