<h5 class="text-center">"Schleier des Nichtwissens"</h5>
<hr />
<p>
  Das Gedankenexperiment eines <b>"Schleiers des Nichtwissens"</b> zeigt,
  was Rawls im Sinne hat:
</p>
<p>
  Stell dir vor, du kannst gemeinsam mit anderen festlegen,
  wie eine gerechte Gesellschaft auszusehen hat.
</p>
<p>
  Ihr diskutiert folgende Fragen:
  Wer soll welche Güter bekommen? Wer soll den Spitzenjob bekommen?
  Wer soll die Knochenarbeit machen? Was ist ein gerechter Lohn? Und so weiter.
</p>
<p>
  Um zu garantieren, dass niemand von euch zu seinem eigenen Vorteil argumentiert,
  wird jedem ein "Schleier des Nichtwissens" umgebunden.
</p>
<p>
  Hinter diesem Schleier des Nichtwissens <b>könnt ihr nicht wissen</b>,
  <b>was für eine Person ihr in der Gesellschaft sein werdet.</b>
</p>
