<h5 class="text-center">Beispiel Diebstahl</h5>
<hr />
<p>
  Nach dem Kontraktualismus sollten wir uns an ethische Normen halten,
  weil wir, <b>auf lange Sicht gesehen</b>, mehr von ihnen profitieren,
  als wenn wir uns nicht an sie halten würden.
</p>
<p>
  So können wir zum Beispiel einen Vorteil daraus ziehen,
  andere zu bestehlen.
  Aber mit der Zeit werden Menschen vorsichtiger vor Dieben
  und das Stehlen wird schwieriger.
  Auch müssen wir uns selber vor Dieben fürchten und
  könnten eines Tages unseren gesamten Besitz verlieren.
</p>
<p>
  Statt immer Angst vor Dieben und plötzlicher Armut haben zu müssen,
  wäre es <b>für uns alle</b> besser, wenn wir alle <b>einen Vertrag unterschreiben</b>,
  der besagt, dass wir nicht stehlen dürfen.
</p>
