<h3 class="text-center">Warum Verträge?</h3>
<hr />
<p>
  Verträge <b>regeln unser Zusammenleben</b>.
  Sie geben uns vor, was wir zu tun oder zu unterlassen haben.
</p>
<p>
  Verträge <b>ähneln</b> daher sehr den ethischen Normen,
  die uns ebenfalls vorgeben, was wir zu tun oder zu unterlassen haben.
</p>
<p>
  Für viele Ethiken gibt es aber einen <b>wichtigen Unterschied</b> zwischen Verträgen und ethischen Normen:
</p>
<p>
  <em>Ethische Normen <b>gelten für alle</b>, während Verträge <b>nur für diejenigen gelten</b>,
  die ihn unterschrieben haben.</em>
</p>
<p>
  Doch der Kontraktualismus macht hier <b>keinen Unterschied</b>.
  Wenn wir einer ethischen Norm nicht zustimmen würden,
  dann soll sie auch nicht für uns gelten.
</p>
