<h4 class="text-center">Was für Verträge?</h4>
<hr />
<p>
  Wenn Kontraktualisten von Verträgen reden,
  dann meinen sie damit keine <b>echten</b> Verträge,
  sondern <b>fiktive</b> Verträge.
</p>
<p>
  Kontraktualisten <b>überlegen</b> sich fiktive Verträge,
  denen alle zustimmen <b>würden</b>.
</p>
<p>
  Dies tun sie, um ethische Normen <b>zu finden</b>,
  die für alle gelten, weil alle ihnen zustimmen würden.
</p>
<p>
  Die wichtigen Fragen sind nun:
</p>
<p>
  <ul>
    <li>
      Wie sieht ein Vertrag aus, den alle unterschreiben würden?
    </li>
    <li>
      Welche ethischen Normen würden alle zustimmen?
    </li>
  </ul>
</p>
