<h5 class="text-center">Eigeninteressen</h5>
<hr />
<p>
  Alle Menschen haben eigene Interessen,
  sogenannte <b>Eigeninteressen</b>.
</p>
<p>
  Man stimmt einem Vertrag nur zu,
  wenn er seinem Eigeninteresse dient.
  Warum sonst sollte man einem Vertrag zustimmen?
</p>
<p>
  Ethische Normen sind manchmal unseren Eigeninteressen <b>entgegengesetzt</b>.
  So gibt es Fälle, wo wir <b>lügen</b> könnten, um uns einen Vorteil zu verschaffen.
</p>
<p>
  Warum sollten wir also einem Vertrag zustimmen,
  der besagt, dass wir uns nicht anlügen sollten?
</p>
<p>
  Eine Antwort darauf könnte lauten:
</p>
<p>
  <em>Weil ein solcher Vertrag, <b>langfristig gesehen</b>,
  in unserem Eigeninteresse ist.</em>
</p>
