<h5 class="text-center">Kluge Egoisten</h5>
<hr />
<p>
  Wenn Kontraktualisten über ethische Normen nachdenken,
  dann tun sie das meist in Form eines <b>Gedankenexperiments</b>.
</p>
<p>
  Sie stelle sich vor, wie <b>kluge Egoisten</b>
  zusammen einen Vertrag austüfteln,
  der <b>für alle Beteiligten</b> besser ist,
  als gar keinen zu haben.
</p>
<p>
  Für dieses Gedankenexperiment setzen sie vorraus,
  dass alle Beteiligten eine gewisse <b>Intelligenz</b> haben,
  alle <b>gleich</b> sind (keine sozialen Unterschiede)
  und dass 
</p>
<p>
  Sie setzen also voraus,
  dass die Beteiligten eine gewisse <b>Intelligenz</b> haben,

</p>
<p>
  Im Kontraktualismus ist die Idee der <b>Zustimmung</b> wichtig.
</p>
<p>
  Das bedeutet,
  dass die Rechtfertigung einer ethischen Norm
  für alle <b>nachvollziehbar</b> und <b>verständlich</b> sein muss.
</p>
