<p>
  <b>Kontraktualistische Theorien</b>
</p>
<p>
  Es gibt viele Arten von Verträgen.
  So gibt es einen <b>Arbeitsvertrag</b> zwischen
  Arbeitnehmer und Arbeitgeber,
  einen <b>Dienstvertrag</b> zwischen Kunde und Dienstleister
  und einen <b>Mietvertrag</b>
</p>
<p>
  Im Prinzip intelligente, wissende Akteure
</p>
<p>
  Warum ihnen zustimmen?
  Weil sie <b>langfristig</b> in unserem Interesse sind.
</p>
<p>
  Ein Vertrag
</p>
<p>
  Was für den einen ein guter Vertrag ist,
  ist für den anderen ein schlechter Vertrag.
</p>
<p>
  Gegeben der unterschiedlichen Interessen,
  kann es je einen Vertrag geben,
  den <b>alle</b> oder zumindest <b>sehr viele</b>
  unterschreiben würden?
</p>
<p>
  Die Rechtfertigung einer ethischen Norm muss auch
</p>
<p>
  <b>Rationalität</b> bedeutet
</p>
<p>
  Wenn Kontraktualisten
</p>
<p>
  Menschen haben <b>unterschiedliche Interessen</b>.
</p>
<p>
  Was für den einen ein guter Vertrag ist,
  ist für den anderen ein schlechter Vertrag.
</p>
<p>
  Gegeben der unterschiedlichen Interessen,
  kann es je einen Vertrag geben,
  den <b>alle</b> oder zumindest <b>sehr viele</b>
  unterschreiben würden?
</p>
<p>

</p>
