<div id="newsletter_box" class="jumbotron p-4 p-md-5 m-1 text-center rounded border base-color">
  <div class="px-0">
    <p class="lead">
      <%= @text %>
    </p>
    <p>
      <%= render "newsletters/form_for_newsletter_box", newsletter: Newsletter.new, purpose: @purpose %>
    </p>
    <p class="small">
      <%= @footer %>
    </p>
  </div>
</div>
