<h3 class="text-center">Die Brandstifterin</h3>
<hr />
<p>
  Isabelle ist frustriert, denn sie weiss,
  dass die Feuerwehr nicht in der Lage ist, eine grössere Katastrophe zu verhindern.
</p>
<p>
  Isabelle ist zornig und wütend auf die Behörden, bis sie schliesslich auf eine Idee kommt:
</p>
<p>
  <b>
    Wenn sie ein kleines, unbewohntes Haus anzündet,
    dann könnte sie damit die Behörden zum Umdenken bringen,
    weil diese dann sehen würden, wie unfähig die örtliche Feuerwehr ist.
  </b>
</p>
<p>
  Nachdem sie ein unbewohntes Haus angezündet hat
  und die Unfähigkeit der Feuerwehr offensichtlich wurde,
  haben die Behörden sofort in die Feuerwehr investiert.
</p>
