<h3 class="text-center">Die Brandstifterin</h3>
<hr />
<p>
  <b>Isabelle</b> ist Expertin für Sicherheit und Brandschutz.
</p>
<p>
  Als Isabelle sich die örtliche Feuerwehr ansieht,
  merkt sie schnell,
  dass die Feuerwehr <b>nicht genügend ausgerüstet ist</b> und <b>zu wenig Personal hat</b>.
</p>
<p>
  Sie meldet den Behörden,
  dass die Feuerwehr <b>verbessert werden muss</b>,
  um grössere Katastrophen zu verhindern.
</p>
<p>
  Doch die Behörden wollen kein Geld für die Feuerwehr ausgeben.
  Auch nach weiterem Drängen zeigen die Behörden überhaupt kein Interesse daran,
  die Feuerwehr zu verbessern.
</p>
