<h3 class="text-center">Dialoge</h3>
<hr />
<p>
  Im Folgenden siehst du ein Gespräch zwischen
  <b>Anna, Elias und Julia</b>.
</p>
<p>
  <b>
    Finde anhand der Aussagen der Gesprächspartner heraus,
  </b
</p>
