<h3 class="text-center">Grundbegriffe</h3>
<hr />
<p>
  Auf der n채chsten Folie siehst du oben ein <b>Wort</b> und darunter <b>drei K채stchen</b> mit Text.
</p>
<p>
  Versuche herauszufinden, <b>welches</b> der drei K채stchen <b>zum obenstehenden Wort passt</b>!
</p>
<p>
  <b>Klicke</b> dann auf das K채stchen, von dem du denkst, dass es zum obenstehenden Wort passt!
</p>
