<h3 class="text-center">Abschlussprüfung</h3>
<hr />
<p>
  Bei dieser Prüfung wird dein Wissen geprüft,
  dass du in diesem Lernkurs erworben hast.
</p>
<p>
  <b>Kannst du die 15 Aufgaben meistern?</b>
</p>
<p>
  Wenn du diese Prüfung bestehst,
  erhältst du ein <b>Diplom</b>!
</p>
