<h3 class="text-center">Metaethik</h3>
<hr />
<p>
  Die <b>Metaethik</b> ist eine philosophische Disziplin
  und besch채ftigt sich mit der Frage,
  wie ethische oder moralische Urteile genau zu verstehen sind.
</p>
<p>
  Das Wort "meta" kommt aus dem Griechischen und
  bedeutet so viel wie "hinter" oder "체ber".
  Die Metaethik heisst so, weil sie <em>체ber</em> die Ethik selbst nachdenkt.
</p>
<p>
  Sie versucht folgende Fragen zu beantworten:
  <ul>
    <li>
      Ist Ethik eine Wissenschaft?
    </li>
    <li>
      Kann man ethische Fragen jemals wirklich beantworten?
    </li>
    <li>
      Was machen wir, wenn wir ethische Urteile f채llen?
    </li>
  </ul>
</p>
