<h3 class="text-center">Kurs abgeschlossen!</h3>
<hr />
<p>
  <b><%= @account.attendances.where(course_id: course.id).first.points %></b> Punkte gesammelt!
</p>
<p>
  <b>Du hast einen Orden erhalten!</b>
</p>
<div class="text-center rounded border p-2 my-3 animated infinite pulse">
  <%= image_tag("deontologie-badge.png", class: "img-fluid") %>
</div>
<p>
  Schau dir noch die anderen Kurse an!
</p>
<p>
  <%= link_to 'Zum Kurs-Überblick zurückkehren', courses_path, class: "btn btn-info text-white" %>
</p>

<script>
  $( document ).ready(function() {
    console.log("abschluss loaded!");
    setStatus(3, "COMPLETED");
    setOrden(3, "deontologie-badge.png");
  });
</script>
