<h4 class="text-center">Deontologische Theorien</h4>
<hr />
<p>
  Alle deontologische Theorien
  beurteilen eine Handlung danach, ob eine Handlung <b>an sich gut</b>
   oder <b>an sich schlecht</b> ist.
</p>
<p>
  Untereinander unterscheiden sich deontologische Theorien nur in der
   <b>Art und Weise</b>, wie sie Handlungen <b>bewerten</b>.
</p>
<p>
  Deontologische Theorien kann man daran erkennen,
  dass sie <b>immer nur</b> die Handlung selber beurteilen,
  <u>nicht</u> aber ihre Folgen oder die Person, die diese Handlung ausführt.
</p>
<p>
  <b>Zum Beispiel: </b>
</p>
<p>
  "<b>Folter</b> ist immer <b>eine schlechte Handlung</b>,
  egal in welcher Situation man sich auch befinden mag."
</p>
<p>
  "Jeder <b>muss</b> seine <b>Versprechen halten</b>.
  Auch Politikerinnen und Politiker."
</p>
