<p>
  Die folgende Position argumentiert,
  dass Eichmann <u>nicht</u> im Sinne der kantischen Ethik gehandelt hat.
</p>
<p>
  Versuche die Lücken richtig auszufüllen!
</p>
<hr />
<p>
  "Ethisch richtiges Handeln bedeutet nach Kant nicht,
  dass man blind und ohne zu Hinterfragen die Befehle der Vorgesetzten ausführt.
</p>
<p>
  Ethisch richtiges Handeln bedeutet,
  nur die Handlungen auszuführen, von denen man
  <input class="form-control form-control-sm d-inline-flex" style="width: 100px;" name="wollen" type="text" placeholder="...">
  kann,
  dass alle sie ausführen würden.
</p>
<p>
  Da man nicht wollen kann, dass
<input class="form-control form-control-sm d-inline-flex" style="width: 100px;" name="alle" type="text" placeholder="...">
  einen Massenmord ausführen,
  war es auch falsch
   von Eichmann, Befehle auszuführen,
  die zu einem Massenmord führten."
</p>
<p>
  <button type="button" id="deonubung" class="btn btn-info btn-lg my-3">Antwort prüfen!</button>
</p>
