<p>
  Die folgende Position argumentiert,
  dass Eichmann <u>nicht</u> im Sinne der kantischen Ethik gehandelt hat.
</p>
<p>
  Versuche die Lücken richtig auszufüllen!
</p>
<hr />
<p>
  "Ethisch richtiges Handeln bedeutet nicht,
  dass man blind und ohne zu Hinterfragen die Befehle der Vorgesetzten ausführt.
</p>
<p>
  Ethisch richtiges Handeln bedeutet,
  nur die Handlungen auszuführen, von denen man wollen kann,
  dass alle sie ausführen würden.
</p>
<p>
  Da man nicht wollen kann, dass alle einen Massenmord begehen,
  war es auch falsch von Eichmann Befehle auszuführen,
  die zu einem Massenmord führten."
</p>
