<h3 class="text-center">Übung</h3>
<hr />
<p>
  Jasmin versucht, den <b>kategorischen Imperativ anzuwenden</b>:
</p>
<hr />
<p>
  <b>Jasmin</b> ist eine Direktorin und
  hat eine <b>Arbeitsstelle</b> zu vergeben.
</p>
<p>
  Ihre Freundin <b>Nadja</b> bewirbt sich auf diese Stelle.
</p>
<p>
  Weil Nadja Schwierigkeiten hat, eine Arbeitsstelle zu finden,
  bittet sie Jasmin darum, <b>ihr die Stelle zu geben</b>,
  auch wenn sie nicht die beste Kandidatin ist.
</p>
<p>
  Jasmin fragt sich nun: "Darf ich meine Freundin gegenüber besseren Kandidierenden bevorzugen?"
</p>
