<h3 class="text-center">Der Fall Eichmann</h3>
<hr />
<p>
    <b>Adolf Eichmann</b> war ein deutscher SS-Obersturmbannführer während der Zeit des Nationalsozialismus.
</p>
<p>
    Eichmann ist mitverantwortlich <b>für die Ermordung von schätzungsweise sechs Millionen Menschen</b>.
</p>
<p>
    Vor Gericht verteidigte Eichmann seine Taten.
    Er argumentierte, dass er unschuldig sei,
    weil er <b>lediglich die Befehle der Vorgesetzten ausführte</b>.
</p>
<p>
  Eichmann beteuerte, dass er nur <b>seine Pflichten erfüllt hat.</b>
</p>
<p>
  Handelte Eichmann im Sinne der kantischen Ethik?
</p>
