<p class="text-center">
  <b>Warum</b> ist diese Theorie nicht deontologisch?
</p>
<hr />
<p>
  "Ob eine Handlung gut oder schlecht ist,
  hängt davon ab, <b>mit welcher Absicht</b> man sie ausführt.
</p>
<p>
  <b>Zum Beispiel: </b>
</p>
<p>
  Wenn man böse Absichten hat,
  dann ist es <b>falsch</b>, zu lügen.
</p>
<p>
  Wenn man hingegen gute Absichten hat, dann ist es <b>richtig</b>, zu lügen."
</p>
<hr />
<p>
  Weil ...
</p>
<p>
  <button type="button" value="" class="btn btn-light border multilinebutton btn-block p-3 mb-4 kdeontologischetheorien4">
    ... man die Absichten eines Menschen nicht erkennen kann.
  </button>
  <button type="button" value="kdeontologischetheorien4" class="btn btn-light border multilinebutton btn-block p-3 mb-4 kdeontologischetheorien4">
    ... nicht die Handlung selbst, sondern die Absichten, die hinter der Handlung stecken, beurteilt werden.
  </button>
  <button type="button" value="" class="btn btn-light border multilinebutton btn-block p-3 mb-4 kdeontologischetheorien4">
    ... alle deontologische Theorien das Lügen verbieten.
  </button>
</p>

<!-- Modal -->
<div class="modal fade" id="deontologischetheorien4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">Richtig!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>

        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Schliessen</button>
        <button type="button" id="get-next-slide" data-dismiss="modal" class="btn btn-info get-slide-button mx-2" slide="<%= current_slide + 1 %>">Weiter</button>
      </div>
    </div>
  </div>
</div>

<script>
  $( document ).ready(function() {
    console.log("deontologischetheorien4 loaded!");

    var points = 100;

    $( ".kdeontologischetheorien4" ).click(function() {

      if($(this).attr("value") === "kdeontologischetheorien4"){
        $(".modal-body").append(
          `<p class="text-center lead">
              Du hast ${points} Punkte erhalten!
            </p>
          `
        );
        addPointsToCourse(3, "deontologischetheorien41s", points);
        $(this).animate({backgroundColor: "#32CD32", color: "#FFFFFF" }, 200, function(){
          setTimeout(function(){
              $('#deontologischetheorien4').modal('show');
            }, 600);
        });
      } else {
        $(this).animate({backgroundColor: "#DC143C", color: "#FFFFFF" }, 200);
        points = points - 50;
      }
    });

  });
</script>
