<h3 class="text-center">Hangman!</h3>
<hr />
<p>
  Hangman Spiel
  </p>
Je früher man die richtigen Buchstaben ratet.
Mehr Punkte
<p>
  <button type="button" id="deonubung" class="btn btn-info btn-lg my-3">Antwort prüfen!</button>
</p>
