<h3 class="text-center">Deontologie</h3>
<hr />
<p>
  <b>Deontologie</b> ist ein Sammelbegriff für ethische Theorien, die Handlungen <b>als solche</b> beurteilen.
</p>
<p>
  Das griechische Wort <em><u>to deon</u></em>
  bedeutet "das Notwendige" oder "das Erforderliche".
</p>
<p>
  Daher kommt auch der Name "<em>Deon</em>tologie".
</p>
<p>
  Deontologische Theorien stellen <b>Regeln</b> oder <b>Pflichten</b> auf,
  die <b>notwendigerweise</b> zu befolgen sind.
</p>
<p>
  Die Deontologie wird darum auch <b>Pflichtethik</b> genannt.
</p>
<p>
  Beispiele für solche Regeln oder Pflichten sind:
</p>
<p class="ml-3">
  <em>Du sollst nicht lügen.</em>
</p>
<p class="ml-3">
  <em>Du sollst nicht töten.</em>
</p>
<p class="ml-3">
  <em>Du sollst keine Versprechen brechen.</em>
</p>
