<p class="text-center">
  <b>Überlege dir</b>, ob die folgende Theorie <b>deontologisch</b> ist!
</p>
<hr />
<p>
  "Eine Handlung ist immer dann schlecht,
  wenn die Handlung selbst <b>grausam</b>, <b>gewalttätig</b> oder <b>furchteinflössend</b> ist.
</p>
<p>
  <b>Zum Beispiel: </b>
</p>
<p>
  Es ist <b>falsch</b>, jemanden Gewalt anzudrohen, weil die Androhung von Gewalt <b>furchteinflössend</b> ist."
</p>
<hr />
<p>
  <button type="button" value="kdeontologischetheorien1" class="btn btn-light border multilinebutton btn-block p-3 mb-4 kdeontologischetheorien1">Diese Theorie ist deontologisch</button>
  <button type="button" value="" class="btn btn-light border multilinebutton btn-block p-3 mb-4 kdeontologischetheorien1">Diese Theorie ist <u>nicht</u> deontologisch</button>
</p>

<!-- Modal -->
<div class="modal fade" id="deontologischetheorien1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">Richtig!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>

        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Schliessen</button>
        <button type="button" id="get-next-slide" data-dismiss="modal" class="btn btn-info get-slide-button mx-2" slide="<%= current_slide + 1 %>">Weiter</button>
      </div>
    </div>
  </div>
</div>

<script>
  $( document ).ready(function() {
    console.log("deontologischetheorien1 loaded!");

    var points = 100;

    $( ".kdeontologischetheorien1" ).click(function() {

      if($(this).attr("value") === "kdeontologischetheorien1"){
        $(".modal-body").append(
          `<p class="text-center lead">
              Du hast ${points} Punkte erhalten!
            </p>
          `
        );
        addPointsToCourse(3, "deontologischetheorien1", points);
        $(this).animate({backgroundColor: "#32CD32", color: "#FFFFFF" }, 200, function(){
          setTimeout(function(){
              $('#deontologischetheorien1').modal('show');
            }, 600);
        });
      } else {
        $(this).animate({backgroundColor: "#DC143C", color: "#FFFFFF" }, 200);
        points = points - 50;
      }
    });

  });
</script>
