<h4 class="text-center">Extremfälle</h4>
<hr />
<p>
  Eine weitere Kritik lautet, dass der Kantianismus nicht für <b>Extremfälle</b> geeignet ist.
</p>
<p>
    <b>Angenommen,</b> du könntest einer Person das Leben retten, indem du eine andere Person tötest.
</p>
<p>
    Da eine Welt, in der alle töten würden, <b>nicht wünschenswert</b> wäre,
    ist es nach dem Kantianismus <b>verboten, zu töten.</b>
</p>
<p>
    Was aber, wenn die Zahl der Personen, die durch einen Mord gerettet werden können, <b>erhöht</b> wird?
</p>
<p>
  Solltest du auch dann eine Person nicht töten, wenn du 100 Personen retten könntest? Oder 1'000 Personen? 10'000 Personen? Eine Million?
</p>
<p>
  Nach dem Kantianismus sollen wir auch dann nicht töten, <b>wenn wir dadurch Millionen von Menschen das Leben retten könnten</b>.

</p>
<p>
  Diese Forderung ist für Kritiker und Kritikerinnen unvernünftig.
</p>
