<h4 class="text-center">Flexibel</h4>
<hr />
<p>
  Kritiker argumentieren, dass der Kantianismus nicht für <b>Extremfälle</b> geeignet ist.
</p>
<p>
    Angenommen, du könntest einer Person das Leben retten, indem du eine andere Person tötest.
</p>
<p>
    Da eine Welt, in der alle töten würden, <b>inakzeptabel</b> wäre,
    ist es nach dem Kantianismus <b>verboten, zu töten.</b>
</p>
<p>
    Was aber, wenn wir die Zahl der Personen, die wir durch einen Mord retten könnten, <b>erhöhen</b>?
</p>
<p>
  Sollten wir auch dann eine Person nicht töten, wenn wir 100 Personen retten könnten? 1'000 Personen? 10'000 Personen? Eine Million?
</p>
<p>
  Nach dem Kantianismus sollen wir auch dann nicht töten, <b>wenn wir dadurch Millionen von Menschen das Leben retten könnten</b>.
  Diese Forderung ist für Kritiker unvernünftig.
</p>
<p>
  Dieses Problem wird auch das <b>Aggregationsproblem</b> genannt.
  </p>
