<h4 class="text-center">Gefühle und Neigungen</h4>
<hr />
<p>
  Eine nächste Kritik lautet,
  dass der Kantianismus <b>Gefühle und Neigungen vernachlässigt</b>.
</p>
<p>
  Friedrich Schiller schrieb in Reaktion zu Kant:
</p>
<p>
  "Gerne dien ich den Freunden,
  doch tu ich es leider mit Neigung.
  Und so wurmt es mir oft,
  dass ich nicht tugendhaft bin."
</p>
<p>
  Nach dem Kantianismus sollten wir unseren Freunden helfen,
  <u>nicht</u>, weil wir Gefühle für sie haben,
  sondern, weil es <b>unsere Pflicht ist</b>, ihnen zu helfen.
</p>
<p>
  Kritiker und Kritikerinnen finden das verkehrt:
  Sollten wir nicht <b>zuerst aus Mitgefühl oder aus Neigungen</b> handeln
  und erst dann aus Pflicht?
</p>
