<h3 class="text-center">Universalisierbarkeit</h3>
<hr />
<p>
  Eine Handlung ist dann geboten, wenn man wollen kann,
  dass <b>alle diese Handlung vollziehen würden</b>.
</p>
<p>
  Eine Handlung ist dann verboten, wenn man wollen kann,
  dass <b>alle diese Handlung nicht vollziehen würden</b>.
</p>
<p>
  Nach Kant sollen wir jeweils <b>selber prüfen</b>,
  ob unsere Handlungen universalisierbar und somit geboten oder verboten sind.
</p>
<p>
  Aus der Universalisierbarkeit von Handlungen können wir <b>Gesetze, Regeln</b> oder <b>Pflichten</b> ableiten,
  die wir befolgen müssen.
</p>
