<h3 class="text-center">Der kategorische Imperativ</h3>
<hr />
<p>
  Mit Hilfe des kategorischen Imperativs können wir herausfinden,
  welche Handlungen an sich <b>gut</b> und welche Handlungen an sich <b>schlecht</b> sind.
</p>
<p>
  Den kategorischen Imperativ kann man in verschiedene Schritte aufteilen:
</p>
<p>
  1. Nimm eine Handlung, die du auszuführen gedenkst.
</p>
<p>
  2. Stell dir nun eine Welt vor,
  in der <b><u>alle</u></b> diese Handlung ausführen würden.
</p>
<p>
  3. Frage dich dann, ob diese Welt <b>wünschenswert</b> ist oder nicht.
</p>
<p>
  4. Wenn diese Welt wünschenswert ist, dann <b>darfst</b> du die Handlung ausführen.
  Und wenn diese Welt nicht wünschenswert ist, dann <b>darfst</b> du diese Handlung <u>nicht</u> ausführen.
</p>
