<h3 class="text-center">Der kategorische Imperativ</h3>
<hr />
<p>
  Der kategorische Imperativ <b>prüft</b>,
  ob wir eine Handlung dann noch als gut befinden würden,
  wenn <b>wenn alle sie tun würden</b>.
</p>
<p>
  Würde man zum Beispiel in einer Welt leben wollen, in der <b>alle lügen würden</b>?
</p>
<p>
  Eine solche Welt scheint nicht wünschenswert zu sein,
   weil es dann gar keinen Sinn mehr macht,
   miteinander zu reden.
   Eine Regel wie "<em>Du sollst lügen!</em>" wäre daher <b>nicht universalisierbar</b>.
</p>
<p>
  Umgekehrt scheint eine Welt wünschenswert zu sein, in der <b>alle die Wahrheit sagen würden</b>.
  Eine Regel wie "<em>Du sollst die Wahrheit sagen</em>" wäre <b>universalisierbar</b>.
</p>
