<h3 class="text-center">Universalisierbarkeit</h3>
<hr />
<p>
  Eine Handlung ist dann <u>geboten</u>, wenn man wollen kann,
  dass <b>alle danach handeln würden</b>.
</p>
<p>
  Eine Handlung ist dann <u>verboten</u>, wenn man wollen kann,
  dass <b>alle <u>nicht</u> danach handeln würden</b>.
</p>
<p>
  Nach Kant sollen wir jeweils <b>selber prüfen</b>,
  ob unsere Handlungen universalisierbar und somit geboten oder verboten sind.
</p>
<p>
  Aus der Universalisierbarkeit von Handlungen kann man so <b>Gesetze, Regeln</b> oder <b>Pflichten</b> ableiten,
  die notwendigerweise zu befolgen sind.
</p>
