<h3 class="text-center">Universalisierbarkeit</h3>
<hr />
<p>
  Im kategorischen Imperativ steckt die Idee der <b>Universalisierbarkeit</b>.
</p>
<p>
  So stellt sich bei Handlungen jeweils die Frage,
  ob man sie auch dann für gut befinden würde,
  <b>wenn alle sie tun würden</b>.
</p>
<p>
  Würde man zum Beispiel in einer Welt leben wollen, in der <b>alle lügen würden</b>?
</p>
<p>
  Eine solche Welt scheint nicht wünschenswert zu sein,
   weil es dann gar keinen Sinn mehr macht,
   miteinander zu reden.
   Eine Regel wie "<em>Du sollst lügen!</em>" wäre daher <b>nicht universalisierbar</b>.
</p>
<p>
  Umgekehrt scheint eine Welt akzeptabel zu sein, in der <b>alle die Wahrheit sagen würden</b>.
  Eine Regel wie "<em>Du sollst die Wahrheit sagen</em>" wäre <b>universalisierbar</b>.
</p>
