<h3 class="text-center">Schwächen</h3>
<hr />
<p>
  Der Kantianismus ist nicht ohne Kritik geblieben.
</p>
<p>
  Im Folgenden werden <b>drei Einwände</b>
  gegenüber dem Kantianismus erläutert:
</p>
<p>
  <ol>
    <li>
      Der Kantianismus kann zu einem <b>Konflikt zwischen zwei oder mehreren Pflichten</b> führen.
    </li>
    <li>
      Der Kantianismus ist nicht für <b>Extremfälle</b> geeignet.
    </li>
    <li>
      Der Kantianismus ist <b>nicht flexibel genug</b> für den Alltag.
    </li>
  </ol>
</p>
