<h3 class="text-center">Beispiel Schwarzfahren</h3>
<hr />
<p>
  <b>Schwarzfahren</b> ist das Benutzen eines Zuges ohne ein gültiges Billet zu besitzen.
</p>
<p>
  Darf man nach der kantischen Ethik schwarzfahren?
</p>
<p>
  Wie würde eine Welt aussehen,
  <b>in der alle schwarzfahren würden?</b>
</p>
<p>
  In einer Welt, in der alle schwarzfahren würden,
  <b>ginge</b> früher oder später das <b>Bahnunternehmen zugrunde</b>.
</p>
<p>
  In einer solchen Welt kann man also gar nicht mehr den Zug benutzen.
</p>
<p>
  Da eine solche Welt <b>nicht wünschenswert</b> ist,
  kann man nun die Regel ableiten:
</p>
<p>
  <b>"Du sollst nicht schwarzfahren!"</b>
</p>
