<h3 class="text-center">Einfach anwendbar</h3>
<hr />
<p>
  Mit Hilfe des kategorischen Imperativs
  können wir Regeln ableiten, die wir
  <b>notwendigerweise</b> befolgen müssen.
</p>
<p>
  Da diese Regeln <b>immer</b> und <b>in jeder Situation</b> gelten,
  brauchen wir diese Regeln <b>nur einmal</b> mit Hilfe des kategorischen Imperativs abzuleiten.
</p>
<p>
  Sobald wir diese Regeln abgeleitet haben,
  <b>müssen wir sie nur noch befolgen</b>.
</p>
<p>
  Wenn wir also einmal die Regel <em>"Du sollst nicht lügen!"</em> abgeleitet haben,
  dann brauchen wir sie nur noch zu befolgen und fertig.
</p>
<p>
  Der Kantianismus ist somit eine ethische Theorie, die man <b>sehr leicht anwenden</b> kann.
</p>
