<h3 class="text-center">Grausame Taten</h3>
<hr />
<p>
  In der Geschichte lassen sich viele Beispiele finden,
  in denen Menschen <b>grausame Dinge</b> taten,
  wie zum Beispiel <b>Folter</b> oder <b>Massenmord</b>.
</p>
<p>
  Nicht selten wurden diese grausamen Taten mit der Absicht gerechtfertigt,
  eine <b>bessere Welt</b> zu erschaffen.
</p>
<p>
  Da der Kantianismus eine Handlung unabhängig von den Konsequenzen oder der Situation bewertet,
  kann man mit dem Kantianismus keine <b>grausamen Handlungen rechtfertigen</b>.
</p>
<p>
  Eine Handlung wie Folter <b>ist und bleibt verboten</b>,
  kann die Situation noch so kompliziert
  und kann die Absicht noch so nobel sein.
</p>
