<h3 class="text-center">Regeln für alle</h3>
<hr />
<p>
  Viele Menschen haben die Intuition,
  dass eine 
</p>
<p>
  Der Kantianismus wird der Intuition gerecht, dass <b>alle die gleichen Regeln befolgen sollen</b>.
</p>
<p>

</p>
