<h3 class="text-center">Gleiche Regeln f체r alle</h3>
<hr />
<p>
  Im Grundgesetz steht:
</p>
<p>
  <b>"Alle Menschen sind vor dem Gesetz gleich."</b>
</p>
<p>
  Die Idee, dass <b>alle Menschen gleich</b> sind
  und alle nach den <b>gleichen Regeln</b> oder <b>Gesetze</b> leben sollen,
  ist intuitiv und weit verbreitet.
</p>
<p>
  Der Kantianismus wird dieser Intuition gerecht,
  indem er Regeln und Pflichten aufstellt, die <b>immer</b> und <b>f체r alle</b> gelten.
</p>
<p>
  Wenn jemand ein Gesetz bricht oder sich nicht an die Regeln h채lt,
  dann ist diese Person erstmal <b>schuldig</b>,
  kann die Situation noch so kompliziert oder noch so ung체nstig sein.
</p>
