<h3 class="text-center">Deontologie</h3>
<hr />
<p>
  In diesem Kurs wirst du die Ethik von Deontologen kennen lernen.
</p>
<p>
  <ul>
      <li>
        Immanuel Kant
        </li>
        <li>
          William Ross
          </li>
        <li>
          Jürgen Habermas
          </li>
  </ul>
</p>
