<h3 class="text-center">Der Kantianismus</h3>
<hr />
<p>
  Der Kantianismus hat <b>drei Grundmerkmale</b>:
</p>
<p>
  1. Als eine deontologische Theorie beurteilt der Kantianismus eine Handlung <b>an sich</b>.
</p>
<p>
  2. Der Kantianismus bewertet Handlungen danach, ob man sie auch dann wollen kann,
  wenn <b>alle sie tun würden</b>.
</p>
<p>
  3. Der Kantianismus stellt Regeln oder Pflichten auf,
  die <b>jeder immer</b> und <b>in jeder Situation</b> befolgen muss.
</p>
