<h3 class="text-center">Der kategorische Imperativ</h3>
<hr />
<p>
  Der kategorische Imperativ ist ein <b>Verfahren</b>,
  mit dem man herausfinden kann, welche Regeln wir befolgen müssen und welche nicht.
</p>
<p>
  Dieses Verfahren läuft in vier Schritten ab:
</p>
<p>
  1. Nimm eine Handlung, die du auszuführen gedenkst.
</p>
<p>
  2. Stell dir nun eine Welt vor,
  in der <b><u>alle</u></b> diese Handlung ausführen würden.
</p>
<p>
  3. Überlege dir, ob diese Welt <b>wünschenswert</b> ist oder nicht.
</p>
<p>
  4. Wenn diese Welt wünschenswert ist,
  dann kannst die Regel ableiten, dass <b>alle die Handlung ausführen</b> sollten.
</p>
<p>
  Wenn diese Welt Welt nicht wünschenswert ist,
  dann kannst du die Regel ableiten, dass <b>alle die Handlung <u>nicht</u></b> ausführen sollten.
</p>
