<h3 class="text-center">Deontologie</h3>
<hr />
<p>
  In diesem Kurs erwirbst du folgende Kompetenzen:
  <ul class="space-between-li-10">
    <li>
      Du kannst <b>deontologische Theorien</b> von anderen ethischen Theorien <b>unterscheiden</b>.
    </li>
    <li>
      Du kannst <b>drei Grundmerkmale des Kantianismus</b> nennen.
    </li>
    <li>
      Du kannst <b>drei Stärken</b> und <b>drei Schwächen</b> des Kantianismus nennen.
    </li>
    <li>
      Du kannst eine Handlung aus einer <b>kantianischen Perspektive heraus beurteilen</b>.
    </li>
  </ul>
</p>
