<h3 class="text-center">Mehr Literatur</h3>
<p>
  <div class="list-group">
    <a href="https://www.amazon.de/Kant-f%C3%BCr-Anf%C3%A4nger-kategorische-Imperativ/dp/3423301449/ref=pd_sim_0_2/262-1712323-7551832?_encoding=UTF8&pd_rd_i=3423301449&pd_rd_r=4535801b-4a6f-11e9-a590-23588706d4a1&pd_rd_w=Fr4Dv&pd_rd_wg=UMfPM&pf_rd_p=b0773d2f-6335-4e3d-8bed-091e22ee3de4&pf_rd_r=N8G57VF0WDCH8SBZWW7W&psc=1&refRID=N8G57VF0WDCH8SBZWW7W" target="_blank" class="list-group-item list-group-item-action">
      <b>"Kant für Anfänger: Der kategorische Imperativ"</b>
      - von Ralf Ludwig
    </a>
    <a href="https://www.amazon.de/Immanuel-Kant-Otfried-H%C3%B6ffe/dp/3406459773/ref=sr_1_64?s=books&ie=UTF8&qid=1553017973&sr=1-64&keywords=Kant+Ethik" target="_blank" class="list-group-item list-group-item-action">
      <b>"Immanuel Kant"</b>
      - von Otfried Höffe
    </a>
  </div>
</p>

<h3 class="text-center">Quellen</h3>
<p>
  <div class="list-group">
    <a href="http://www.utb-shop.de/autoren/hubner-dietmar/einfuhrung-in-die-philosophische-ethik-7843.html" target="_blank" class="list-group-item list-group-item-action">
      <b>"Einführung in die philosophische Ethik"</b>
      - von Hübner, Dietmar
    </a>
    <a href="https://www.exlibris.ch/de/buecher-buch/deutschsprachige-buecher/annemarie-pieper/einfuehrung-in-die-ethik/id/9783825246969" target="_blank" class="list-group-item list-group-item-action">
      <b>"Einführung in die Ethik"</b>
      - von Annemarie Pieper
    </a>
    <a href="https://www.exlibris.ch/de/buecher-buch/deutschsprachige-buecher/herlinde-pauer-studer/einfuehrung-in-die-ethik/id/9783825223502" target="_blank" class="list-group-item list-group-item-action">
      <b>"Einführung in die Ethik"</b>
      - von Herlinde Pauer-Studer
    </a>
  </div>
</p>
