<h3 class="text-center">Kategorischer Imperativ</h3>
<hr />
<p>
 Auf der nächsten Folie findest du <b>zwei Regeln</b>.
</p>
<p>
  Überlege dir, ob eine Welt, in der alle diese Regeln befolgen würden, <b>wünschenswert ist oder nicht</b>.
</p>
<p>
  Falls ja, <b>schreibe</b> mindestens einen Grund auf,
  warum die allgemeine Befolgung dieser Regel wünschenswert wäre.
</p>
<p>
  Falls nicht, <b>schreibe</b> mindestens einen Widerspruch auf,
  der bei der allgemeinen Befolgung dieser Regel entsteht.
</p>
