<div id="wholeaufsatz" class="rounded p-2">
  <p>
    <label for="comment">"Jeder muss jeden Monat seinen Besitz mit dem Besitz seines Nachbarn tauschen!"</label>
    <textarea class="form-control" rows="5" id="aufsatz1"></textarea>
    <div class="rounded p-1">
      Anzahl Zeichen: <span id="aufsatz1l">0</span>
    </div>
  </p>
  <p>
    <label for="comment">"Jeder soll sich nur um sein eigenes Wohl kümmern!"</label>
    <textarea class="form-control" rows="5" id="aufsatz2"></textarea>
    <div class="rounded p-1">
      Anzahl Zeichen: <span id="aufsatz2l">0</span>
    </div>
  </p>
</div>

<p>
  <button type="button" id="universalisierer" class="btn btn-info btn-lg my-1 disabled">Fertig</button>
</p>

<script>
  $( document ).ready(function() {
    console.log("universalisierer loaded!");
    var enablefinishbutton1 = 0;
    var enablefinishbutton2 = 0;

    $("#universalisierer").click(function(){

      $("#wholeaufsatz").animate({backgroundColor: "#32CD32" }, 200);

      setTimeout(function(){
        $("#get-next-slide").click();
      }, 500);
    });

    $("#aufsatz1").keyup(function() {
        var length = $(this).val().length;
        $("#aufsatz1l").text(length);
        if(length > 19) {
          enablefinishbutton1 = 1;
          $("#aufsatz1l").parent().animate({backgroundColor: "#32CD32", color: "#FFFFFF" }, 200);
        } else {
           enablefinishbutton1 = 0;
          $("#aufsatz1l").parent().animate({backgroundColor: "#FFFFFF", color: "#000000" }, 200);
        }
    });

    $("#aufsatz2").keyup(function() {
        var length = $(this).val().length;
        $("#aufsatz2l").text(length);
        if(length > 19) {
          enablefinishbutton2 = 1;
          $("#aufsatz2l").parent().animate({backgroundColor: "#32CD32", color: "#FFFFFF" }, 200);
        } else {
           enablefinishbutton2 = 0;
          $("#aufsatz2l").parent().animate({backgroundColor: "#FFFFFF", color: "#000000" }, 200);
        }
    });

    $("#aufsatz1, #aufsatz2").keyup(function() {
      console.log(enablefinishbutton1 + enablefinishbutton2);
      if((enablefinishbutton1 + enablefinishbutton2) === 2){
        $("#universalisierer").removeClass("disabled");
      } else {
        $("#universalisierer").addClass("disabled");
      }
    });

  });
</script>
