<h3 class="text-center">Vernunft</h3>
<hr />
<p>
  Wichtig ist hier zu beachten, dass Kants Ethik nicht konsequentialistisch ist.
</p>
<p>
  Kant argumentiert <b>nicht</b>, dass eine Welt, in der alle die Wahrheit sagen,
  eine nützlichere oder eine angenehmere Welt ist (auch wenn dies der Fall sein könnte).
</p>
<p>
  Stattdessen argumentiert Kant,
  dass das Befolgen von Regeln wie "<em>Du sollst lügen!</em>",
  <b>gegen die Vernunft ist</b>.
  Das heisst, sie führt zu <b>Widersprüchen</b>.
</p>
<p>
  Umgekehrt ist das Befolgen von Regeln wie "<em>Du sollst die Wahrheit sagen!</em>"
  von der <b>Vernunft geboten</b>.
</p>
<p>
  Eine vernünftige Person sollte nach Kant selber erkennen können,
  welche Regeln sie befolgen soll oder welche Handlungen sie vollziehen darf.
</p>
