<h3 class="text-center">Vernunft</h3>
<hr />
<p>
  Wichtig ist hier zu beachten, dass Kants Ethik nicht konsequentialistisch ist.
</p>
<p>
  Kant argumentiert <b><u>nicht</u></b>, dass eine Welt, in der niemand schwarz fährt,
  eine nützlichere oder eine angenehmere Welt ist (auch wenn dies der Fall sein könnte).
</p>
<p>
  Stattdessen argumentiert Kant,
  dass Regeln wie "<em>Du sollst schwarzfahren</em>"
  <b>gegen die Vernunft sind</b>.
  Das heisst, sie führen, wenn alle sie befolgen würden, zu <b>Widersprüchen</b>.
</p>
<p>
  Umgekehrt sind Regeln wie "<em>Du sollst nicht schwarzfahren</em>"
  von der <b>Vernunft geboten</b>,
  weil sie, wenn alle sie befolgen würden, <b><u>nicht</u></b> zu <b>Widersprüchen</b> führen.
</p>
<p>
  Eine vernünftige Person sollte nach Kant <b>selber erkennen können</b>,
  welche Regeln sie befolgen soll und welche nicht.
</p>
