<h3 class="text-center">Vernunft</h3>
<hr />
<p>
  Es ist hilfreich, Kants Ethik mit der Mathematik zu vergleichen:
</p>
<p>
  Mathematische Gleichungen sind entweder <b>immer falsch</b> oder <b>immer wahr</b>.
</p>
<p>
  Die Gleichung "2 + 3 = 5" ist immer wahr,<br />
  während die Gleichung "2 + 3 = 8" immer falsch ist.
</p>
<p>
  Es gibt keine Situation, in der ""
</p>
