<h3 class="text-center">allgemeine G체ltigkeit</h3>
<hr />
<p>
  Es ist hilfreich, Kants Ethik mit der Mathematik zu vergleichen:
</p>
<p>
  Mathematische Gleichungen sind entweder <b>immer falsch</b> oder <b>immer wahr</b>.
</p>
<p>
  Die Gleichung "2 + 3 = 5" ist immer wahr,<br />
  w채hrend die Gleichung "2 + 3 = 8" immer falsch ist.
</p>
<p>
  Die Wahrheit oder Falschheit einer mathematischen Gleichung ver채ndert sich <b>nie</b>.
</p>
<p>
  <b>Egal in welcher Situation man ist</b> und <b>egal in welcher Zeit man lebt</b>,
  zwei und drei werden zusammen immer f체nf ergeben.
</p>
