<h3 class="text-center">Vernunft</h3>
<hr />
<p>
  F端r Kant sind ethische Regeln wie mathematische Gleichungen.
</p>
<p>
  Regeln sind entweder <b>immer zu befolgen</b> oder <b>nie zu befolgen</b>.
</p>
<p>
  Wenn eine Regel, wenn alle sie befolgen w端rden, zu Widerspr端chen f端hrt,
  dann ist diese Regel <b>nie zu befolgen</b>.
</p>
<p>
  Eine solche Regel zu befolgen ist genauso <b>immer falsch</b>,
  wie eine falsche mathematische Gleichung <b>immer falsch</b> ist.
</p>
<p>
  Und genauso wie eine falsche mathematische Gleichung in
  <b>jeder Situation</b> und zu <b>jeder Zeit</b> falsch ist,
  ist auch auch das Befolgen einer falschen Regel <b>immer</b> und <b>in jeder Situation</b>
  falsch.
</p>
