<h3 class="text-center">Vernunft</h3>
<hr />
<p>
  Für Kant sind ethische Regeln <b>Gebote der Vernunft</b>.
</p>
<p>
  Wenn jemand eine Regel befolgt, die, wenn alle sie befolgen würden,
  zu Widersprüchen führt, dann ist diese Person <b>unvernünftig</b>.
  Sie ist unvernünftig, weil sie <b>Widersprüche zulässt</b>.
</p>
<p>
  <b>Zum Beispiel: </b>
  Darf man lügen?
  Wenn alle lügen würden, dann gäbe es gar keinen Grund mehr,
  miteinander zu reden.
</p>
<p>
  In einer Welt, in der alle lügen würden,
  wird die Sprache selbst <b>sinnlos</b>.
</p>
<p>
  Wenn also eine Person lügt,
  dann lässt sie den Widerspruch zu,
  dass <b>sie einerseits sprechen will</b>,
  andererseits aber <b>die Sprache mit ihrer Lüge sinnlos macht</b>.
</p>
