<h3 class="text-center">Vernunft</h3>
<hr />
<p>
  Die Regeln, die wir mit dem kategorischen Imperativ herausfinden können,
  gelten <b>für alle</b>, <b>für immer</b> und <b>in jeder Situation</b>.
</p>
<p>
  Für Kant sind ethische Regeln <b>Gebote der Vernunft</b>.
</p>
<p>
  <b>Das heisst: </b>
  Genauso, wie jede vernünftige Person erkennt, dass <b>2</b> und <b>3</b> zusammen <b>5</b> ergeben,
  erkennt jede vernünftige Person, welche ethische Regeln es gibt.
</p>
<p>
    Und genauso, wie 2 und 3 <b>für alle</b>, <b>für immer</b> und <b>in jeder Situation</b> zusammen 5 ergeben,
    gelten auch ethische Regeln <b>für alle</b>, <b>für immer</b> und <b>in jeder Situation</b>.
</p>
