<h3 class="text-center">Vernunft</h3>
<hr />
<p>
  Regeln, die gegen die Vernunft sind,
  führen <b>zu Widersprüchen</b>.
</p>
<p>
  Mit Widersprüche sind praktische Gegensätze gemeint.
</p>
<p>
  "Ich möchte etwas tun,
  aber wenn alle das tun würden, dann könnte ich es nicht mehr tun."
</p>
<p>
  <b>Zum Beispiel: </b>

</p>
<p>
  Die Regel <em>"Du sollst lügen!"</em>
  führt zum Widerspruch,
</p>
<p>
  Wenn alle lügen würden, dann gibt es gar keinen Grund mehr, miteinander zu reden.
  Eine Regel wie.. würde die Sprache überflüssig machen.
</p>
