<p>
  Im Namen "Deontologie" steckt das griechische Wort <em>to deon</em>,
  welches "das Notwendige" oder "das Erforderliche" bezeichnet.
</p>
<p>
  Im kategorischen Imperativ steckt die Idee der <b>Universalisierbarkeit</b>.
</p>

<p>
  <b>Zum Beispiel: </b>
  Deontologische Theorien beurteilen Handlungen danach,
  ob <b>L端gen</b> oder <b>das Halten von Versprechungen</b> Handlungen sind,
  die an sich gut oder an sich schlecht sind.
</p>
<p>
  <b>Das heisst: </b>
  Deontologische Theorien beurteilen eine Handlung <u>nicht</u> danach,
  ob sie gute oder schlechte Konsequenzen hat, sondern sie beurteilen die <b>Handlung selbst</b>.
</p>

<p>
  So stellt sich bei Handlungen jeweils die Frage,
  ob man sie auch dann f端r gut befinden w端rde,
  <b>wenn alle sie tun w端rden</b>.
</p>
