<p>
  Im Namen "Deontologie" steckt das griechische Wort <em>to deon</em>,
  welches "das Notwendige" oder "das Erforderliche" bezeichnet.
</p>
<p>
  Im kategorischen Imperativ steckt die Idee der <b>Universalisierbarkeit</b>.
</p>

<p>
  <b>Zum Beispiel: </b>
  Deontologische Theorien beurteilen Handlungen danach,
  ob <b>Lügen</b> oder <b>das Halten von Versprechungen</b> Handlungen sind,
  die an sich gut oder an sich schlecht sind.
</p>
<p>
  <b>Das heisst: </b>
  Deontologische Theorien beurteilen eine Handlung <u>nicht</u> danach,
  ob sie gute oder schlechte Konsequenzen hat, sondern sie beurteilen die <b>Handlung selbst</b>.
</p>

<p>
  So stellt sich bei Handlungen jeweils die Frage,
  ob man sie auch dann für gut befinden würde,
  <b>wenn alle sie tun würden</b>.
</p>
<p>
  Alle deontologische Theorien
  beurteilen eine Handlung danach, ob eine Handlung <b>an sich gut</b>
   oder <b>an sich schlecht</b> ist.
</p>

<h3 class="text-center">Der kategorische Imperativ</h3>
<hr />
<p>
  Der kategorische Imperativ <b>prüft</b>,
  ob eine Handlung <b>universalisierbar</b> ist oder nicht.
</p>
<p>
  Zu universalisieren bedeutet, sich
</p>
<p>
  Eine Handlung ist dann universalisierbar,
  wenn man sie auch dann noch wollen kann, <b>wenn alle sie tun würden</b>.
</p>
<p>
  Würde man zum Beispiel in einer Welt leben wollen, in der <b>alle lügen würden</b>?
</p>
<p>
  Eine solche Welt scheint nicht wünschenswert zu sein,
   weil es dann gar keinen Sinn mehr macht,
   miteinander zu reden.
   Eine Regel wie "<em>Du sollst lügen!</em>" wäre daher <b>nicht universalisierbar</b>.
</p>
<p>
  Umgekehrt scheint eine Welt wünschenswert zu sein, in der <b>alle die Wahrheit sagen würden</b>.
  Eine Regel wie "<em>Du sollst die Wahrheit sagen</em>" wäre <b>universalisierbar</b>.
</p>
<p>
  Umgekehrt ist das Befolgen von Regeln wie "<em>Du sollst die Wahrheit sagen!</em>"
  von der <b>Vernunft geboten</b>.
  <b>gegen die Vernunft ist</b>.
  Das heisst, sie führt zu <b>Widersprüchen</b>.
</p>

<p>

</p><p>

</p>
<p>
  Dass 2 und 3 zusammen 5 ergeben, ist eine <b>notwendige</b> und <b>ewige Wahrheit</b>,
  die jeder vernünftige Mensch erkennen kann.
</p>
<p>
  Es ist schlicht <b>unmöglich</b>, dass 2 und 3 <b>nicht</b> 5 ergeben.
  Auch
</p>


<p>
  Auch ergibt 2 und 2 zusammen 4, unabhängig
</p>
<p>
  Jeder vernünftige Mensch erkennt, dass 2 und 2 zusammen 4 ergeben.
</p>
<p>
  Auch erkennt jeder Mensch, dass
</p>
<p>
  Jeder vernünftige Mensch erkennt, dass 2 und 2 zusammen 4 ergeben.
  Und jeder vernünftige Mensch erkennt, dass 2 und 2 <b>für alle</b>
</p>
<p>
  Für Kant sind ethische Regeln <b>Gebote der Vernunft</b>.
</p>
