<div class="container p-0 m-0">
  <div class="jumbotron bg-white text-justify text-darker-base-color  p-0 m-0">
    <div id="public_new_home_request">
      <%= render 'form_for_home_request', home_request: @home_request %>
    </div>
  </div>
</div>
