<div class="container">
  <h3>Tier-Abgaben</h3>
  <p>
      <%= link_to "Alle Tier-Abgaben sehen", home_requests_path, class: "btn btn-primary"  %>
  </p>

  <h3>Platz-Angebote</h3>
  <p>
      <%= link_to "Alle Platz-Angebote sehen", home_offers_path, class: "btn btn-primary"  %>
  </p>

</div>
