<h5 class="text-center">Beispiel Abtreibung</h5>
<hr />
<p>
  Es gibt eine grosse Debatte darüber, ob <b>Frauen abtreiben dürfen oder nicht</b>.
</p>
<p>
  Diese Debatte nimmt verschiedene Formen an.
</p>
<p>
  Manchmal geht es um die Frage, ob <b>Abtreibung Mord ist oder nicht</b>.
  Manchmal um die Frage, ob <b>ein Fötus bereits ein Mensch ist oder nicht</b>.
  Manchmal um die Frage, ob <b>die Selbstbestimmung der Frau wichtiger ist, als das Leben eines Fötus</b>.
</p>
<p>
  Eine Ethik der Fürsorge <b>versucht gar nicht erst</b>, solche allgemeinen Fragen zu beantworten.
</p>
<p>
  Stattdessen empfiehlt sie, mit Frauen, die sich eine Abtreibung überlegen, zu reden,
  ihre Bedürfnisse, Situation und Gedanken kennenzulernen und dann, <b>je nach Fall</b>, zu entscheiden.
</p>
