<h5 class="text-center">Keine Ethik für die Masse?</h5>
<hr />
<p>
  Kritiker weisen daraufhin,
  dass unsere Handlungen weitreichende Folgen haben können,
  die auch Menschen betreffen können, <b>die wir nicht kennen</b> oder <b>mit denen wir nichts zu tun haben.</b>
</p>
<p>
  Damit wir die besonderen Bedürfnissen anderer Menschen respektieren können, müssen wir sie auch näher kennen.
</p>
<p>
  Wie sollen wir aber Werte wie Fürsorglichkeit, Sensibilität oder Empathie
  bei Menschen anwenden, mit denen wir keinen Kontakt haben?
  </p>
<p>
  Es scheint, als könne man die Ethik der Fürsorge nur auf Menschen anwenden, die uns nahe stehen.
  Alle anderen scheint sie ausser Acht zu lassen.
</p>
