<h5 class="text-center">Mitgefühl und Empathie</h5>
<hr />
<p>
  Traditionelle Ethiken legen viel Wert auf <b>Begründungen, Rechtfertigungen</b> und <b>Widerspruchslosigkeit</b>.
  Doch in der Praxis scheinen solche Dinge nicht sehr wichtig zu sein.
</p>
<p>
  Wenn man einen kranken Freund im Spital besucht, dann muss man dies nicht rechtfertigen.
  Auch muss man nicht begründen, warum man einer ungefallenen Person beim Aufstehen hilft.
</p>
<p>
  Oftmals sind wir freundlich zueinander, nicht weil wir es rechtfertigen oder begründen könnten,
  sondern weil wir <b>Mitgefühl</b> und <b>Empathie</b> haben.
</p>
<p>
  Die Ethik der Fürsorge trägt diesem Umstand Rechnung.
  Sie verlangt von uns,
  sich in die Lebenswelt oder Situation einer anderen Person hineinzuversetzen
  und Probleme aus ihrer Sicht heraus zu verstehen.
</p>
