<h5 class="text-center">Mutter-und-Kind-Beziehung</h5>
<hr />
<p>
  Im Unterschied zu Männern können Frauen Kinder bekommen und oft sind es die Mütter,
  die sich um die Gesundheit und Erziehung der Kinder kümmern.
</p>
<p>
  Früher waren die meisten Philosophen Männer.
  Wenn sie über ethische Fragen nachdachten,
  dann taten sie das meist aus der <b>Perspektive eines Mannes heraus</b>.
</p>
<p>
  Manche Feministen argumentieren,
  dass diese <b>männliche Perspektive</b>
  bestimmte <b>Werte</b> oder <b>Normen</b> vernachlässigt, die für Frauen,
  besonders für <b>Mütter</b>, wichtig sind.
</p>
<p>
    Beispiele für diese Werte oder Normen sind
    <b>Fürsorglichkeit, Sensibilität</b> oder <b>Empathie</b>.
</p>
