<h5 class="text-center">Kritik</h5>
<hr />
<p>
  Die Ethik der Fürsorge ist nicht ohne Kritik geblieben.
</p>
<p>
  Im Folgenden werden <b>zwei Einwände</b>
  gegenüber einer Ethik der Fürsorge erläutert:
</p>
<p>
  <ol>
    <li>
      Die Ethik der Fürsorge begrenzt sich auf eine kleine Anzahl von Personen.
    </li>
    <li>
      Wir können mit Bekannten und ähnlichen Menschen besser empathisieren, als mit unähnlichen Menschen und Fremden.
    </li>
  </ol>
</p>
