<h3 class="text-center">Benachteiligung</h3>
<hr />
<p>
  Die Geschichte ist reich an Beispielen,
  wie Frauen gegenüber Männern benachteiligt wurden.
</p>
<p>
  So waren Frauen oft nicht berechtigt, <b>am politischen Wesen teilzunehmen</b>.
  In den meisten demokratischen Ländern durften anfangs nur die Männer abstimmen gehen.
  Als eines der letzten Ländern führte die Schweiz das Frauenwahlrecht im Jahre 1971 ein.
</p>
<p>
  Für eine lange Zeit verdienten nur Männer Geld für ihre Arbeit.
  Frauen, obwohl sie auch arbeiteten, waren von einem Mann <b>abhängig</b>,
  der über Geld zum Ausgeben verfügte.
</p>
<p>
  Frauen wurde lange Zeit den Zugang zu Universitäten verwehrt
  und somit die Möglichkeit, <b>sich zu bilden</b>.
  Bis ins 20. Jahrhundert hinein waren Universitäten Männerwelten.
</p>
