<h5 class="text-center">Mutter-und-Kind-Beziehung</h5>
<hr />
<p>
  Feministen kritisieren traditionelle Ethiken darin,
  dass sie bestimmte Werte oder Normen vernachlässigen
  und andere, "männliche", Werte priorisieren.
</p>
<p>
  Beispiele für "männliche Werte" sind
  <b>Autonomie, Unabhängigkeit</b> oder <b>Freiheit</b>.
</p>
<p>
  Für eine Mutter sind diese Werte nicht so wichtig, wie beispielsweise für einen jungen Mann.
  Eine Mutter möchte für ihr Kind sorgen und ist gerne bereit, dafür mehr abhängig und weniger frei zu sein.
</p>
<p>
  Feministen argumentieren daher, dass eine gute Ethik die <b>Lebenswelt von allen Menschen</b>
  miteinbeziehen muss und nicht nur die von bestimmten Menschen.
</p>
