<h3 class="text-center">Benachteiligung</h3>
<hr />
<p>
  Feministen haben auf diese reagiert.
</p>
<p>
  Diese Vorwürfe sind nur <b>ungerechtfertigte Vorurteile</b>.
</p>
<p>
  
</p>
<p>
  Zwei Strategien:
  Es stimmt nicht, dass Frauen generell schlechter als Männer sind.
  Selbst wenn Frauen generell schlechter sein sollen,
  sollte man sie deswegen nicht benachteiligen.
</p>

<p>
  Allerdings gibt es zweifellos physiologische Unterschiede.
</p>
<p>
  Kinderkriegen, unterschiedliche Bedürfnisse
</p>
