<h3 class="text-center">Benachteiligung</h3>
<hr />
<p>
  Die Geschichte ist reich an Beispielen,
  wie Frauen gegenüber Männern benachteiligt wurden.
</p>
<p>
  In der Demokratie Griechenland durften nur Männer abstimmen und
  als eines der letzten Ländern führte die Schweiz das Wahlrecht 1971 ein.
</p>
<p>
  Frauen bekommen weniger zu essen.
</p>
<p>
  Frauen verdienten kein Geld und waren von einem Mann abhängig.
</p>
<p>
  Frauen durften verschiedene Berufe, wie Politiker nicht werden.
</p>
<p>

</p>
