<h3 class="text-center">Benachteiligung</h3>
<hr />
<p>
  Manchmal wurden diese Benachteiligungen zur Kenntnis genommen und gerechtfertigt.
</p>
<p>
  So schrieb der antike Philosoph <b>Aristoteles</b>, dass das Männliche <b>von Natur aus
  mehr zur Leitung geeignet ist</b>, als das Weibliche.

</p
<p>
    <%= fa_icon "arrow-right" %> <b>Rechtfertigung der politischen Benachteiligung.</b>
  </p>
<p>
  Der Psychologe Ludwig Klages meinte: "Der <b>typische Mann ist mehr „Denker” als das typische Weib</b>; so
  denken denn Frauen öfter an etwas als über etwas, Männer
  meist umgekehrt".
</p>
<p>
    <%= fa_icon "arrow-right" %> <b>Rechtfertigung der Benachteiligung im Bildungsbereich.</b>
</p>
