<h3 class="text-center">Benachteiligung</h3>
<hr />
<p>
  Feministen weisen daraufhin, dass diese Rechtfertigungen nicht auf wissenschaftlichen Tatsachen beruhen, sondern auf <b>unhaltbaren Vorurteilen</b>.
</p>
<p>
  Die feministische Forschung beschäftigt sich unter anderem damit, zu zeigen,
  dass Frauen nicht von Natur aus den Männern unterlegen sind.
</p>
<p>
  Dennoch ist klar, dass Frauen mit Männern <b>nicht identisch</b> sind.
  Am offensichtlichsten ist, dass die <b>Physiologie</b> einer Frau verschieden von der eines Mannes ist.
</p>
<p>
  Hier stellt sich die Frage:
</p>
<p>
  <em>
    Spielen die geschlechtlichen Unterschiede eine Rolle in der Ethik? Wenn ja, inwiefern?
  </em>
</p>
