<h3 class="text-center">Benachteiligung</h3>
<hr />
<p>
  Aristoteles: Frauen können nicht objektiv denken.
</p>
<p>
  Frauen sind in der Regel weniger stark als Männer.
</p>
<p>
  Frauen sind hysterisch und emotional unkontrolliert
</p>
<p>
  Frauen werden schwanger und können dann nicht arbeiten.
</p>
<p>
  Frauen sind von Natur aus gute Mütter und sollen sich auch um das Kind kümmern,
  nicht um andere Dinge. 
</p>
<p>
  Diese Benachteiligung ist
</p>
