<h5 class="text-center">Empathie?</h5>
<hr />
<p>
  Kritiker argumentieren, dass Mitgefühl und Empathie <b>von Faktoren abhängen,
    die wir nicht selber kontrollieren können.</b>
</p>
<p>
    Kritiker deuten darauf hin, dass es uns wesentlich leichter fällt,
    mit <b>attraktiven</b> oder <b>uns ähnlichen Personen</b> zu empathisieren,
    als mit fremden Personen, die unterschiedliche Ansichten teilen oder einen anderen ethnischen,
    religiösen oder sozialen Hintergrund haben, als wir.
</p>
<p>
  Führt eine Ethik der Fürsorge möglicherweise zu <b>Ungerechtigkeiten</b>,
  indem man Freunde und Partner bevorteilt, weil man ihre Probleme besser versteht, als die von anderen?
</p>
