<h5 class="text-center">Eine Ethik der Fürsorge</h5>
<hr />
<p>
  Feministen fordern oft, die verschiedenen Lebenswelten von Menschen zu berückschtigen.
</p>
<p>
  So wie es Kinder gibt, die <b>besondere Bedürfnisse</b> haben oder eine <b>bestimmte Fürsorge</b> benötigen,
  gibt es allgemein Menschen, die besondere Bedürfnisse haben oder eine bestimmte Fürsorge benötigen.
</p>
<p>
    Einer <b>Ethik der Fürsorge</b> geht es nun darum,
    <b>die verschiedenen Bedürfnissen der Menschen um uns zu erkennen</b>
    und <b>diese so gut wie möglich zu befriedigen</b>.
</p>
<p>
    Diese Ethik unterscheidet sich von traditionellen Ethiken darin,
    dass sie weniger versucht, Regeln aufzustellen, die alle zu befolgen haben (Deontologie),
    oder Prinzipien zu nennen, nach denen wir handeln sollen (Konsequentialismus).
</p>
