<h3 class="text-center">Feminismus</h3>
<hr />
<p>
  <b>Feminismus</b> ist eine breite gesellschaftliche <b>Bewegung</b>,
  die das Ziel hat, die <b>Unterdr端ckung von und Diskriminierung gegen端ber Frauen zu beenden</b>.
</p>
<p>
  Die <b>feministische Ethik</b> befasst sich mit speziell mit ethischen Fragen,
  die diese Form von Unterdr端ckung und Diskriminierung zum Gegenstand haben.
</p>
<p>
  Sie versucht folgende Fragen zu beantworten:
  <ul>
    <li><b>Sind geschlechtliche Unterschiede ethisch relevant?</b></li>
    <li><b>Was genau ist Diskriminierung und in welchen Formen kommt sie vor?</b></li>
    <li><b>Sind traditionelle Ethiken unfair gegen端ber Frauen?</b></li>
  </ul>
</p>
