<h3 class="text-center"></h3>
<hr />
<p>
  <b>Feminismus</b> ist eine breite gesellschaftliche <b>Bewegung</b>,
  die das Ziel hat, die <b>Unterdrückung von und Diskriminierung gegenüber Frauen zu beenden</b>.
</p>
<p>

</p>
