<h3 class="text-center">Pragmatik</h3>
<hr />
<p>
  Viele Ethiker behandeln "Luxus-Fragen".
  Ob und wie ein moralisches Urteil zustande kommt ist nicht so wichtig,
  als das durchsetzen von fairen Regeln oder das Abschaffen von Doppelmoralen
</p>
<p>
  Würde, "abstrakte Gefährdung"
</p>
<p>

</p>
