<p>
  Frauen sind in der Regel weniger stark als Männer.
</p>
<p>
  Frauen sind hysterisch und emotional unkontrolliert
</p>
<p>
  Frauen werden schwanger und können dann nicht arbeiten.
</p>
<p>
  Frauen sind von Natur aus gute Mütter und sollen sich auch um das Kind kümmern,
  nicht um andere Dinge.
</p>

<p>
  Zwei Strategien:
  Es stimmt nicht, dass Frauen generell schlechter als Männer sind.
  Selbst wenn Frauen generell schlechter sein sollen,
  sollte man sie deswegen nicht benachteiligen.
</p>
<p>
  Kinderkriegen, unterschiedliche Bedürfnisse
</p>

<p>
  Einer <b>Ethik der Fürsorge</b> geht es weniger darum,
  Regeln aufzustellen, die alle zu befolgen haben (Deontologie), oder
  Prinzipien zu nennen, nach denen wir handeln sollen (Utilitarismus),
  sondern darum, <b>die verschiedenen Bedürfnissen der Menschen um uns zu erkennen</b>
  und <b>diese so gut wie möglich zu befriedigen</b>.
  </p>
