<div class="album py-5 philosopiech-background">
  <div class="container">
    <% courses.in_groups_of(2, false).each do |groups| %>
        <div class="card-deck">
            <% groups.each do |course| %>
              <%= render "courses/course", course: course %>
            <% end %>
        </div>
    <% end %>
  </div>
</div>
