<%= render "layouts/navigation" %>

<main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Kurs-Überblick</h1>
          <p class="lead text-muted">
            Dein Punktestand: <b><%= @account.total_score %></b>
          </p>
        </div>
      </section>

      <%= render "courses/courses_in_groups_of_2", courses: courses %>

    </main>
