<div class="container-fluid p-3 bg-image-<%= @course.name_of_picture.split('.').first %> min-vh-100" >
  <div class="row">
    <div class="offset-md-2">

    </div>
    <div class="offset-lg-1">

    </div>

    <div class="col-12 col-md-8 col-lg-6">
      <div class="slide faster p-1">
        <%= render "slide", current_slide: @current_slide, course: @course %>
      </div>
    </div>

  </div>

</div>

<script>
  //$(document).on('ready turbolinks:load', function() {
  $( document ).ready(function() {

    var course_id = "<%= course.id %>";

    //get previous slide
    function getPreviousSlide(){
      var current_slide = $("#get-previous-slide").attr('slide');
      setCurrentSlide(course_id, current_slide);

      //get previous slide
        $.ajax({
          url: "/slide/" + course_id + "/" + current_slide + ".js",
          method: 'GET',
          async: true,
          cache: false
        }).done(function(response) {
          animateCss('.slide', 'fadeOutRight', function() {
            $(".slide").empty().append(response);
            animateCss('.slide', 'fadeInLeft');
          })
      });
    }

    function getNextSlide(){
      var current_slide = $("#get-next-slide").attr('slide');
      setCurrentSlide(course_id, current_slide);

      //get next slide
        $.ajax({
          url: "/slide/" + course_id + "/" + current_slide + ".js",
          method: 'GET',
          async: true,
          cache: false
        }).done(function(response) {
          animateCss('.slide', 'fadeOutLeft', function() {
            $(".slide").empty().append(response);
            animateCss('.slide', 'fadeInRight');
          })
      });
    }

    //remove previous event handlers to prevent bugs
    $(document).unbind('keydown');
    $("body").off("click", "#get-next-slide");
    $("body").off("click", "#get-previous-slide");

    //keys
    $( document ).keydown(function(event) {
      $('.modal').modal('hide');
      if ( event.which == 37 ) {
        getPreviousSlide();
      } else if ( event.which == 39 ) {
        getNextSlide();
      }
    });

    //click on buttons
    $("body").on("click", "#get-next-slide", function() {
      getNextSlide();
    });

    $("body").on("click", "#get-previous-slide", function() {
      getPreviousSlide();
    });

  });
</script>
