<div class="container p-3">
  <div class="row">
    <div class="offset-md-2">

    </div>
    <div class="offset-lg-1">

    </div>

    <div class="col-12 col-md-8 col-lg-6">
      <div class="slide faster">
        <%= render "slide", current_slide: @current_slide, course: @course %>
      </div>
    </div>

  </div>

</div>

<script>
  $(document).on('ready turbolinks:load', function() {
    console.log("Course loaded!");
    var course_id = "<%= course.id %>";

/*
      var element = document;
      var h = new Hammer(element);
      h.get("swipe").set({ threshold: 1, velocity: 0.1 });
      h.on("swiperight", function() {
        getPreviousSlide();
      })
      h.on("swipeleft", function() {
        getNextSlide();
      })
      */

    //get previous slide
    function getPreviousSlide(){
      console.log("getPreviousSlide");
      var current_slide = $("#get-previous-slide").attr('slide');
      setCurrentSlide(course_id, current_slide);

      //get new slide
        $.ajax({
          url: "/slide/" + course_id + "/" + current_slide + ".js",
          method: 'GET',
          async: true,
          cache: false
        }).done(function(response) {
          animateCss('.slide', 'fadeOutRight', function() {
            $(".slide").empty().append(response);
            animateCss('.slide', 'fadeInLeft');
          })
      });
    }

    function getNextSlide(){
      console.log("getNextSlide");
      var current_slide = $("#get-next-slide").attr('slide');
      setCurrentSlide(course_id, current_slide);

      //get new slide
        $.ajax({
          url: "/slide/" + course_id + "/" + current_slide + ".js",
          method: 'GET',
          async: true,
          cache: false
        }).done(function(response) {
          animateCss('.slide', 'fadeOutLeft', function() {
            $(".slide").empty().append(response);
            animateCss('.slide', 'fadeInRight');
          })
      });
    }

    //keys
    $( document ).keydown(function(event) {
      if ( event.which == 37 ) {
        getPreviousSlide();
      } else if ( event.which == 39 ) {
        getNextSlide();
      }

    });

    //click on buttons
    $("body").on("click touchstart", "#get-next-slide", function() {
      getNextSlide();
    });

    $("body").on("click touchstart", "#get-previous-slide", function() {
      getPreviousSlide();
    });

    // Bind the swipeleftHandler callback function to the swipe event on div.box
    $( "body" ).on( "swiperight", getPreviousSlide );
    $( "body" ).on( "swipeleft", getNextSlide );

    function getSlideAndButtons(course_id, current_slide) {
      document.cookie = course_id + "-current_slide=" + current_slide;

      //insert spinner
      /*
      $(".slide").empty().append(
      `<div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>`
      );
      */

      //get new slide
        $.ajax({
          url: "/slide/" + course_id + "/" + current_slide + ".js",
          method: 'GET',
          data: { id: course_id, current_slide: current_slide },
          headers: {
            'X-CSRF-Token': document.querySelector("meta[name=csrf-token]").content
          }
        }).done(function(response) {
        $(".slide").fadeOut( "fast", function() {
          $(".slide").empty().append(response).fadeIn("fast");
        });
      });

      //get new buttons
      $.ajax({
        url: "/navigation_buttons/" + course_id + "/" + current_slide + ".js",
        method: 'GET',
        headers: {
          'X-CSRF-Token': document.querySelector("meta[name=csrf-token]").content
          }
        }).done(function(response) {
        $(".navigation-buttons").fadeOut( "fast", function() {
          $(".navigation-buttons").empty().append(response).fadeIn("fast");
        });
      });
    }
  });
</script>
