<div class="container p-3">
      <div class="slide">
        <%= render "slides/courses/#{course.topic}/#{course.title.parameterize}/#{course.slides[@current_slide]}", current_slide: @current_slide, course: course %>
      </div>
      <hr>
      <div class="navigation-buttons">
        <%= render "/courses/navigation_buttons", current_slide: @current_slide, course: course %>
      </div>
</div>

<script>
  $(document).on('ready turbolinks:load', function() {

    //keys
    $( document ).keydown(function(event) {
      if ( event.which == 37 ) {
        $("#get-previous-slide").click();
      } else if ( event.which == 39 ) {
        $("#get-next-slide").click();
      }

    });

    //click on buttons
    $("body").on("click", ".get-slide-button", function() {
      var course_id = "<%= course.id %>";
      var current_slide = $(this).attr('slide');
      getSlideAndButtons(course_id, current_slide)
    });

    function getSlideAndButtons(course_id, current_slide) {
      document.cookie = course_id + "-current_slide=" + current_slide;

      //insert spinner
      /*
      $(".slide").empty().append(
      `<div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>`
      );
      */

      //get new slide
        $.ajax({
          url: "/slide/" + course_id + "/" + current_slide + ".js",
          method: 'GET',
          data: { id: course_id, current_slide: current_slide },
          headers: {
            'X-CSRF-Token': document.querySelector("meta[name=csrf-token]").content
          }
        }).done(function(response) {
        $(".slide").fadeOut( "fast", function() {
          $(".slide").empty().append(response).fadeIn("fast");
        });
      });

      //get new buttons
      $.ajax({
        url: "/navigation_buttons/" + course_id + "/" + current_slide + ".js",
        method: 'GET',
        headers: {
          'X-CSRF-Token': document.querySelector("meta[name=csrf-token]").content
          }
        }).done(function(response) {
        $(".navigation-buttons").fadeOut( "fast", function() {
          $(".navigation-buttons").empty().append(response).fadeIn("fast");
        });
      });
    }
  });
</script>
