<h4 class="text-center">Der reiche Freund</h4>
<hr />
<p>
  <b>Stell dir vor:</b> Du hast einen <b>reichen</b> Freund.
</p>
<p>
  Dein reicher Freund hat dir <b>200 Franken</b> ausgeliehen.
  Du hast ihm versprochen, das Geld so bald wie möglich zurückzugeben.
</p>
<p>
  Heute hast du das Geld zusammen und machst dich auf dem Weg, ihm das Geld zurückzugeben.
</p>
<p>
  Unterwegs begegnest du einer <b>Hilfsorganisation</b>.
</p>
<p>
  Die Menschen der Hilfsorganisation erklären dir,
  dass man mit einer Spende von 200 Franken
  <b>sehr viel Gutes tun kann</b>.
  Man könnte damit zum Beispiel extreme Armut oder Hungersnöte bekämpfen.
</p>
