<h3 class="text-center">Der vergessliche Freund</h3>
<hr />
<p>
  <b>Stell dir vor:</b> Du hast einen Freund,
  der <b>reich</b> und <b>vergesslich</b> ist.
</p>
<p>
  Er hat dir einmal freundlicherweise <b>200 Franken</b> ausgeliehen.
  Auch hat er schon komplett <b>vergessen</b>, dass er dir diese 200 Franken ausgeliehen hat.
</p>
<p>
  Heute hast du das Geld zusammen und du könntest ihm das Geld <b>zurückzahlen</b>.
</p>
<p>
  Unterwegs zu ihm begegnest du einer <b>Hilfsorganisation</b>.
</p>
<p>
  Die Menschen der Hilfsorganisation erklären dir,
  dass man mit einer Spende von 200 Franken
  <b>sehr viel Gutes tun kann</b>.
  Man könnte damit zum Beispiel extreme Armut oder Hungersnöte bekämpfen.
</p>
