<p>
  Hier siehst du einen Versuch, <b>Glück zu definieren</b>:
</p>
<hr />
<p>
  "Glück ist das <b>Empfinden von Lust</b>.
</p>
<p>
  Das Gegenteil von Glück ist <b>Leid</b>. Leid ist das <b>Empfinden von Schmerzen</b>.
</p>
<p>
  <b>Glücklich</b> wird man, wenn Schokolade isst, ein gutes Buch liest oder Spass mit Freunden hat.
</p>
<p>
  <b>Unglücklich</b> wird man, wenn man krank ist, sich verletzt oder wenn man Langeweile hat.
</p>
<p>
  Glück kann man daran <b>messen</b>, wie viel Lust oder Schmerzen eine Person empfindet.
</p>
<p>
  Wenn sie viel Lust empfindet, dann ist sie sehr glücklich.
  Wenn sie viel Leid empfindet, dann ist sie sehr unglücklich."
</p>
