<h3 class="text-center">Eine Herausforderung</h3>
<hr />
<p>
Aufsatz schreiben.
</p>
<p>
Was denkst du ist Glück?
</p>
<p>
Wer ist glücklich?
</p>
<p>
Was <b>macht</b> glücklich?
</p>
<p>
  Überlege dir, was dich glücklich machen würde!
</p>
