<h3 class="text-center">Eine Herausforderung</h3>
<hr />
<p>
  Jeder Utilitarist und jede Utilitaristin steht vor der Herausforderung,
  zu bestimmen, was <b>genau unter Nutzen oder Glück zu verstehen ist</b>.
</p>
<p>
  Da im Utilitarismus Handlungen danach bewertet werden, wie viel Nutzen oder Glück sie bringen,
  <b>braucht es eine klare Definition dieser Begriffe</b>.
</p>
<p>
  Was zum Beispiel ist <b>Glück</b>?
</p>
<p>
    Ist Glück ein positiver oder angenehmer <b>Empfindungszustand</b>, wie zum Beispiel der <b>Genuss</b> einer Schokolade?
</p>
<p>
  Ist Glück die <b>Freude</b>, die man empfindet, wenn man ein gutes Buch liest?
</p>
<p>
  Oder ist Glück die <b>Abwesenheit von Schmerzen</b> oder von anderen Unannehmlichkeiten?
</p>
