<h3 class="text-center">Eine Herausforderung</h3>
<hr />
<p>
  Jeder Utilitarist und jede Utilitaristin steht vor der Herausforderung,
  zu bestimmen, was <b>genau</b> unter <b>Nutzen</b> oder <b>Glück</b> zu verstehen ist.
</p>
<p>
  Da im Utilitarismus Handlungen danach bewertet werden, wie viel Nutzen oder Glück sie bringen,
  braucht es eine <b>klare Definition</b> dieser Begriffe.
</p>
<p>
  Was genau ist es?
</p>
<p>
  Wie kann man es messen? Wie können wir feststellen, ob wir mehr oder weniger Glück hervorgebracht haben.
</p>
<p>
   Umfragen.
</p>
<p>
  Eine nächste Frage ist dann aber, was unter <b>Glück</b> genau zu verstehen ist.
</p>
<p>
    Ist Glück ein positiver oder angenehmer <b>Empfindungszustand</b>, wie zum Beispiel der <b>Genuss</b> einer Schokolade?
</p>
<p>
  Ist Glück die <b>Freude</b>, die man empfindet, wenn man ein gutes Buch liest?
</p>
<p>
  Oder ist Glück die <b>Abwesenheit von Schmerzen</b> oder von anderen Unannehmlichkeiten?
</p>
<p>
  Wie man Nutzen oder Glück <b>definiert</b>,
  ist im Utilitarismus von hoher Wichtigkeit.
  Je nach dem, wie man diese Begriffe definiert,
  werden Folgen oder Konsequenzen unterschiedlich bewertet.
</p>
