<h3 class="text-center">Eine Herausforderung</h3>
<hr />
<p>
  Jeder Utilitarist und jede Utilitaristin steht vor der Herausforderung,
  zu bestimmen, was <b>genau unter Nutzen oder Glück zu verstehen ist</b>.
</p>
<p>
  Da im Utilitarismus Handlungen danach bewertet werden, wie viel Nutzen oder Glück sie bringen,
  <b>braucht es eine klare Definition dieser Begriffe</b>.
</p>
<p>
  Eine brauchbare Definition muss Antworten auf diese Fragen geben können:
</p>
<p>
  1. Was ist Glück? Was ist das Gegenteil von Glück?
</p>
<p>
  2. Was macht glücklich? Was macht unglücklich?
</p>
<p>
  3. Wie kann man Glück <b>messen</b>?
</p>
