<h2 class="text-center">Ein Beispiel</h2>
<hr />
<p>
  Angenommen, wir haben zwei Handlungsoptionen. Nennen wir sie Handlung <b>A</b> und Handlung <b>B</b>.
<ul>
  <li class="mb-3"> Handlung <b>A</b> führt dazu, dass 10 Menschen glücklich werden und 2 Menschen leiden.</li>
  <li> Handlung <b>B</b> führt dazu, dass 2 Menschen glücklich werden und 10 Menschen leiden.</li>
</ul>
</p>
<p>
  Nach dem Utilitarismus können wir nun die zwei Handlungen im Bezug auf die Folgen <b>vergleichen</b>.
</p>
<p>
  Verglichen zur Handlung B, werden bei Handlung A <b>mehr Menschen glücklick</b> und es müssen <b>weniger Menschen leiden</b>.
  Somit ist Handlung A <b>besser</b> als Handlung B.
</p>
<p>
  Dabei spielt es nach dem Utilitarismus keine Rolle, was <b>A</b> für eine Handlung ist.
</p>
