<h5 class="text-center">Ökonomisches Denken in der Ethik?</h5>
<hr />
<p>
  "Nutzen" ist ein Begriff, den man normalerweise in den <b>Wirtschaftswissenschaften</b> (z.B. in der Ökonomie) antrifft.
</p>
<p>
  In den Wirtschaftswissenschaften geht es hauptsächlich nicht um ethische Fragen,
  sondern um die <b>Vermehrung von Gewinn</b> oder die <b>Steigerung von Profit</b>.
</p>
<p>
  Da die Ethik und die Wirtschaftswissenschaften <b>unterschiedliche Fragen</b> zu beantworten versuchen,
  lautet nun eine Kritik, dass der <b>Nutzenbegriff nichts in der Ethik zu suchen habe</b>.
</p>
<p>
  Ethische Fragen sollten daher
  nicht mit einer an die Ökonomie angelehnte Methode beantworten werden,
  weil ethische und ökonomische Fragen <b>grundsätzlich verschieden</b> sind.
</p>
