<h5 class="text-center">Ungleichbehandlung durch Nutzenmaximierung?</h5>
<hr />
<p>
  Weiter wird kritisiert, dass es Situationen geben kann, in denen der Utilitarismus eine <b>Ungleichbehandlung von Menschen</b> befürworten würde.
</p>
<p>
  Angenommen, es gibt zwei Gesellschaften, eine <b>ohne Sklaverei</b> und eine <b>mit Sklaverei</b>.
</p>
<p>
  In der Gesellschaft mit Sklaverei werden Sklaven ausgebeutet und müssen viel Leid ertragen.
  Da aber mit der Sklaverei viele Güter und Waren hergestellt werden, werden viele Menschen dank der Sklaverei glücklich.
</p>
<p>
  Es könnte nun möglich sein, dass <b>mehr Menschen in der Gesellschaft mit Sklaverei glücklich sind, als in der Gesellschaft ohne Sklaverei</b>.
</p>
<p>
  Der Utilitarismus würde in diesem Fall die Sklaverei für gut befinden, was für Kritiker und Kritikerinnen unakzeptabel ist.
</p>
