<h4 class="text-center">Anwendbarkeit?</h4>
<hr />
<p>
    Der Utilitarismus fordert, dass wir immer so handeln sollen, so dass der Gesamtnutzen für alle Betroffenen so hoch wie möglich ist.
</p>
<p>
    Damit wir den Gesamtnutzen errechnen können, <b>müssen wir abschätzen, welche Folgen unsere Handlungen haben werden.</b>
</p>
<p>
    Doch Handlungen haben manchmal <b>unerwartete Folgen oder Nebeneffekte</b>.
    Wir können deshalb nie mit Sicherheit wissen, wie sich unsere Handlungen auf uns und auf andere auswirken werden.
</p>
<p>
    Kritiker argumentieren nun, dass es <b>viel zu schwierig sei, die Konsequenzen unserer Handlungen zuverlässig vorherzusehen.</b>
</p>
<p>
  Daher könne man auch nicht von einer Person erwarten, dass sie utilitaristisch handelt, weil sie die Folgen ihrer Handlungen nicht vorhersehen kann.
</p>
