<h6 class="text-center">Ungleichheit durch Nutzenmaximierung?</h6>
<hr />
<p>
  Kritiker argumentieren, dass es Situationen geben kann, in denen der Utilitarismus <b>Ungleichheiten</b> hervorrufen würde.
</p>
<p>
  Angenommen, es gibt zwei Gesellschaften, eine <b>ohne Sklaverei</b> und eine <b>mit Sklaverei</b>.
</p>
<p>
  In der Gesellschaft mit Sklaverei werden Sklaven ausgebeutet und müssen viel Leid ertragen.
  Da aber mit der Sklaverei viele Güter und Ressourcen hergestellt werden, werden viele Menschen dank der Sklaverei glücklich.
</p>
<p>
  Es könnte nun möglich sein, dass <b>mehr Menschen in der Gesellschaft mit Sklaverei glücklich sind, als in der Gesellschaft ohne Sklaverei</b>.
</p>
<p>
  Der Utilitarismus würde in diesem Fall die Sklaverei für gut befinden, was für Kritiker unakzeptabel ist.
</p>
