<h5 class="text-center">Ökonomisches Denken in der Ethik?</h5>
<hr />
<p>
  Der Nutzenbegriff war zu Beginn ein Begriff in den <b>Wirtschaftswissenschaften</b> (z.B. Ökonomie).
</p>
<p>
  In den Wirtschaftswissenschaften geht es hauptsächlich nicht um ethische Fragen,
  sondern um die <b>Vermehrung von Gewinn</b> oder die <b>Steigerung von Profit</b>.
</p>
<p>
  Da die Ethik und die Wirtschaftswissenschaften <b>unterschiedliche Fragen</b> zu beantworten versuchen,
  argumentieren Kritiker, dass der <b>Nutzenbegriff nichts in der Ethik zu suchen habe</b>.
</p>
<p>
  Fragen darüber, wie wir miteinander leben sollen, sollten daher nicht mit ökonomischen Fragen vermischt werden,
  da ethische Fragen <b>kategorial</b> verschieden zu ökonomischen Fragen sind.
</p>
