<h6 class="text-center">Persönliche Beziehungen und Freundschaften?</h6>
<hr />
<p>
  Oft wird auch kritisiert,
  dass der Utilitarismus <b>persönliche Beziehungen und Freundschaften ruiniert</b>.
</p>
<p>
  Persönliche Beziehungen und Freundschaften beruhen auf <b>Vertrauen</b> und <b>Nähe</b>.
</p>
<p>
  So erwarten wir von unseren Freunden, dass sie für uns da sind
  und von Eltern, dass sie sich ganz besonders um ihre eigenen Kinder sorgen.
</p>
<p>
  Es wird darauf hingewiesen, dass der Utilitarismus je nach Situation fordern kann,
  unsere Freunde <b>im Stich zu lassen</b>, weil wir dadurch mehr Nutzen für alle generieren können.
</p>
<p>
  Auch würde der Utilitarismus fordern, dass Eltern sich <b>zuerst um andere Kinder sorgen sollen</b>,
  wenn diese die Hilfe dringender als die eigenen Kinder nötig haben.
</p>
