<h3 class="text-center">Konsequentialismus</h3>
<hr />
<p>
  <em>
    Dies ist ein Vertiefungskurs und setzt ein gewisses Vorwissen voraus.
    Den Einführungskurs findet man <%=  link_to 'hier', course_path(Course.find(1)) %>.
  </em>
</p>
<p>
  In diesem Kurs erwirbst du folgende Kompetenzen:
  <ul class="space-between-li-10">
    <li>
      Du kannst <b>drei Grundmerkmale des Utilitarismus</b> nennen.
    </li>
    <li>
      Du kannst <b>drei Vorteile</b> und <b>drei Nachteile</b> des Utilitarismus nennen.
    </li>
    <li>
      Du kannst utilitaristisch argumentieren.
    </li>
  </ul>
</p>
<p>
  Mit diesen Kompetenzen kannst du ...
  <ul class="space-between-li-10">
    <li>
      ...
    </li>
    <li>
      ...
    </li>
    <li>
      ...
    </li>
  </ul>
</p>
