<h3 class="text-center">Konsequentialismus</h3>
<hr />
<p>
  <em>
    Dies ist ein Vertiefungskurs und setzt ein gewisses Vorwissen voraus.
    Den Einführungskurs findest du <%=  link_to 'hier', course_path(Course.find(1)) %>.
  </em>
</p>
<p>
  In diesem Kurs erwirbst du folgende Kompetenzen:
  <ul class="space-between-li-10">
    <li>
      Du kannst <b>das Grundmerkmal</b> des Konsequentialismus nennen.
    </li>
    <li>
      Du kannst <b>konsequentialistische Theorien</b> von anderen ethischen Theorien <b>unterscheiden</b>.
    </li>
    <li>
      Du kannst <b>drei Grundmerkmale des Utilitarismus</b> nennen.
    </li>
    <li>
      Du kannst <b>drei Vorteile</b> und <b>drei Nachteile</b> des Utilitarismus nennen.
    </li>
    <li>
      Du kannst eine Handlung aus einer <b>utilitaristischen Perspektive heraus beurteilen</b>.
    </li>
  </ul>
</p>
