Was ist das <b>Ziel</b> der folgenden Theorie?
<hr />
<p>
  "Die Demokratie ist das wichtigste Gut unserer Gesellschaft.
</p>
<p>
  Darum ist eine Handlung dann gut, wenn sie hilft, die <b>Demokratie am Leben zu erhalten</b>.
</p>
<p>
  <b>Zum Beispiel: </b>
</p>
<p>
  Das Ausgrenzen von Minderheiten unterhöhlt die Demokratie.
  Darum ist das Ausgrenzen von Minderheiten <b>falsch</b>!"
</p>
<hr />
<p>
  Das Ziel ist ...
</p>
<p>
  <button type="button" value="kkonstheorie" class="btn btn-light border multilinebutton btn-block p-3 mb-4 kkonstheorie">
    ... die Erhaltung der Demokratie.
  </button>
  <button type="button" value="" class="btn btn-light border multilinebutton btn-block p-3 mb-4 kkonstheorie">
    ... die Beseitigung von Armut.
  </button>
  <button type="button" value="" class="btn btn-light border multilinebutton btn-block p-3 mb-4 kkonstheorie">
    ... die Förderung von Bildung.
  </button>
</p>

<!-- Modal -->
<div class="modal fade" id="konstheorie" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">Richtig!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>

        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Schliessen</button>
        <button type="button" id="get-next-slide" data-dismiss="modal" class="btn btn-info get-slide-button mx-2" slide="<%= current_slide + 1 %>">Weiter</button>
      </div>
    </div>
  </div>
</div>

<script>
  $( document ).ready(function() {
    console.log("konstheorie loaded!");

    var points = 100;

    $( ".kkonstheorie" ).click(function() {

      if($(this).attr("value") === "kkonstheorie"){
        $(".modal-body").append(
          `<p class="text-center lead">
              Du hast ${points} Punkte erhalten!
            </p>
          `
        );
        addPointsToCourse(2, "konstheorie1s", points);
        $(this).animate({backgroundColor: "#32CD32", color: "#FFFFFF" }, 200, function(){
          setTimeout(function(){
              $('#konstheorie').modal('show');
            }, 600);
        });
      } else {
        $(this).animate({backgroundColor: "#DC143C", color: "#FFFFFF" }, 200);
        points = points - 50;
      }
    });

  });
</script>
