<h3 class="text-center">Der Konsequentialismus</h3>
<hr />
<p>
  <b>Konsequentialismus</b> ist ein Sammelbegriff für ethische Theorien,
  die Handlungen aufgrund ihrer <b>Folgen</b> oder <b>Konsequenzen</b> beurteilen.
</p>
<p>
  Daher her auch der Name "<em>Konsequen</em>tialismus".
</p>
<p>
  Eine Handlung ist <b>gut</b>, wenn sie <b>gute Folgen</b> hat und eine Handlung ist <b>schlecht</b>,
  wenn sie <b>schlechte Folgen</b> hat.
</p>
<p>
  Die Frage ist nun, was man genau unter <b>guten</b> und <b>schlechten Folgen</b> verstehen soll.
</p>

<hr />
<p>
    Der <b>Utilitarismus</b> ist <b>eine bestimmte Form</b> einer ethischen Theorie, die in den Bereich des Konsequentialismus fällt.
</p>
<p>
  Das Prinzip des <b>Utilitarismus</b> ist die <b>Steigerung</b> oder <b>Maximierung</b> von <b>Nutzen</b>.
</p>
<p>
  Der Name "Utilitarismus" entspringt aus dem lateinischen Wort für Nutzen, <em>utilitas</em>.
</p>
