<h4 class="text-center">Konsequentialistische Theorien</h4>
<hr />
<p>
  Alle konsequentialistischen Theorien beurteilen Handlungen im Bezug
  auf ihre <b>Folgen</b> oder <b>Konsequenzen</b>.
</p>
<p>
  Untereinander unterscheiden sich konsequentialistische Theorien nur in
  der <b>Art und Weise</b>,
  wie sie Folgen oder Konsequenzen <b>bewerten</b>.
</p>
<p>
  Konsequentialistische Theorien kann man daran <b>erkennen</b>,
  dass sie immer auf <b>ein Ziel</b> hin gerichtet sind.
</p>
<p>
  <b>Zum Beispiel: </b>
</p>
<p>
  "Eine Handlung ist gut, wenn sie hilft, <b>die Armut in der Welt zu verringern</b>!"
</p>
<p>
  "Eine Handlung ist gut, wenn sie hilft, <b>mehr Menschen als zuvor glücklich zu machen</b>!"
</p>
