<h3 class="text-center">Schwächen</h3>
<hr />
<p>
  Der Utilitarismus ist nicht ohne Kritik geblieben.
</p>
<p>
  Im Folgenden werden <b>vier Einwände</b>
  gegenüber dem Utilitarismus erläutert:
</p>
<p>
  <ol class="space-between-li-20">
    <li>
      Eine ökonomische Bemessung ist grundsätzlich verschieden von einer ethischen Beurteilung.
    </li>
    <li>
      Es ist zu schwierig, den Gesamtnutzen zu errechnen.
    </li>
    <li>
      Der Utilitarismus kann zu erheblichen Ungleichheiten führen.
    </li>
    <li>
      Utilitaristisches Verhalten kann persönliche Beziehungen und Freundschaften ruinieren.
      </li>
  </ol>
</p>
