<h3 class="text-center">Schwächen</h3>
<hr />
<p>
  Der Utilitarismus ist nicht ohne Kritik geblieben.
</p>
<p>
  Im Folgenden werden <b>vier Einwände</b>
  gegenüber dem Utilitarismus erläutert:
</p>
<p>
  <ol class="space-between-li-20">
    <li>
      Eine ökonomische Bemessung <b>ist grundsätzlich verschieden</b> von einer ethischen Beurteilung.
    </li>
    <li>
      Es ist <b>zu schwierig</b>, den Gesamtnutzen <b>zu errechnen</b>.
    </li>
    <li>
      Der Utilitarismus kann zu <b>Ungleichbehandlungen von Menschen</b> führen.
    </li>
    <li>
      Utilitaristisches Verhalten kann persönliche Beziehungen und Freundschaften <b>ruinieren</b>.
    </li>
  </ol>
</p>
