<h3 class="text-center">Stärken</h3>
<hr />
<p>
  Der Utilitarismus ist einer der bekanntesten und einflussreichsten ethischen Theorien überhaupt.
  Und das nicht grundlos.
</p>
<p>
  Im Folgenden werden <b>drei Stärken</b>
  des Utilitarismus hervorgehoben.
</p>
<p>
  <ol>
    <li>
      Nutzen ist gut und kann nicht schlecht sein.
    </li>
    <li>
      Der Utilitarismus ist <b>pragmatisch</b> und <b>zielorientiert</b>.
    </li>
    <li>
      
    </li>
    <li>

    </li>
  </ol>
</p>
