<h3 class="text-center">Wissenschaft</h3>
<hr />
<p>
   Der Utilitarismus ist <b>pragmatisch</b> und <b>zielorientiert</b>.
</p>
<p>
  Gemäss dem Utilitarismus sollten wir uns fragen, wie können wir mehr Menschen als zuvor glücklich machen?
  Wie maximieren wir den Gesamtnutzen?
</p>
<p>
  Krankheiten Ursache für viel Leid.
  </p>
<p>
  Wir sollten möglichst effizient sein.
</p>
<p>
  Lässt sich wissenschaftlich einholen.
</p>
<p>
    Gutgemeint vs. Effektiv. Gesetze, die nichts verändern vs. viel verändern.
</p>
<p>
  Unerwartete, konventionelle Ideen können erfolgreich sein.
</p>
<p>
  Modern, schreckt nicht vor neuen Lösungen ab. (gegen Traditionen).
</p>
