<h3 class="text-center">Wissenschaft</h3>
<hr />
<p>
   Der Utilitarismus ist <b>pragmatisch</b> und <b>zielorientiert</b>.
</p>
<p>
  Wir sollten möglichst effizient sein.
</p>
<p>
  Lässt sich wissenschaftlich einholen.
</p>
