<h3 class="text-center">Einfach anwendbar</h3>
<hr />
<p>
  Nach dem Utilitarismus sollten wir so handeln,
  dass wir möglichst <b>viel Nutzen oder Glück</b> hervorbringen
  und möglichst <b>viel Schaden oder Leid</b> verhindern.
</p>
<p>
  <b>Das heisst:</b>
</p>
<p>
  Das <b>einzige</b>, was wir tun müssen, um <b>richtig</b> zu handeln,
  ist vor jeder Entscheidung zu <b>überlegen</b>, mit welcher Handlung wir möglichst viel Nutzen oder Glück hervorbringen oder möglichst viel Schaden oder Leid verhindern
  , und dann so <b>zu handeln</b>.
</p>
<p>
  Der Utilitarismus ist somit eine ethische Theorie, die man <b>sehr leicht anwenden</b> kann,
  weil man <b>nur diese eine Regel befolgen muss</b>.
</p>
