<h3 class="text-center">Stärken</h3>
<hr />
<p>
  Der Utilitarismus ist einer der bekanntesten und einflussreichsten ethischen Theorien überhaupt.
  Und das nicht grundlos.
</p>
<p>
  Im Folgenden werden <b>drei Stärken</b>
  des Utilitarismus hervorgehoben.
</p>
<p>
  <ol class="space-between-li-20">
    <li>
      Der Utilitarismus ist <b>einfach anwendbar</b>.
    </li>
    <li>
      Der Utilitarismus ist <b>pragmatisch</b> und <b>zielorientiert</b>.
    </li>
    <li>
      Der Utilitarismus fördert Glück, ein Gut, <b>das sowieso alle wollen.</b>
    </li>
  </ol>
</p>
