<h5 class="text-center">Pragmatisch und zielorientiert</h5>
<hr />
<p>
  Das Ziel des Utilitarismus ist die <b>Vermehrung</b> von Nutzen und Glück
  und die <b>Verminderung</b> von Schaden und Leid.
</p>
<p>
  Und dieses Ziel sollten wir <b>so gut wie nur möglich</b> erreichen.
</p>
<p>
  <b>Das heisst: </b>
</p>
<p>
  Wir dürfen <b>alles tun</b> und <b>alles unternehmen</b>,
  was zu diesem Ziel führt!
</p>
<p>
  Auch Mord, Diebstahl und Lüge sind,
  wenn sie <b>effektiv</b> zur Vermehrung von Glück oder zur Verminderung von Leid beitragen,
  <b>erlaubte Handlungen</b>.
</p>
<p>
   Der Utilitarismus ist somit sehr <b>pragmatisch</b> und <b>zielorientiert</b>.
</p>
