<h3 class="text-center">Einfach anwendbar</h3>
<hr />
<p>
  Gemäss dem Utilitarismus sollten wir so handeln,
  dass wir möglichst <b>viel Nutzen oder Glück</b> hervorbringen
  und möglichst <b>viel Schaden oder Leid</b> verhindern.
</p>
<p>
  Indem der Utilitarismus
</p>
<p>
  Der Utilitarismus ist einfach zum Anwenden, weil
</p>
<p>
  Wir sollten uns in jeder Situation überlegen, wir
</p>
<p>
  Im Grunde verlangt der Utilitarismus, dass wir konsequent durchziehen und nicht zu Egoisten werden.
</p>
<p>
  Das machen wir ohnehin schon.
  Was ist günstiger? Wo habe ich mehr Vorteile.
</p>
<p>
  Der Utilitarismus weitet einfach auf andere aus.
</p>
<p>
  Im Grunde verlangt der Utilitarismus nur, dass wir weiter denken.
</p>
