<h3 class="text-center">Nutzen und Glück</h3>
<hr />
<p>
  Das Ziel des Utilitarismus ist,
  Nutzen oder Glück zu <b>maximieren</b>.
</p>
<p>
  Kontingenz vs. Notwendigkeit
</p>
<p>
  Es gibt viele Dinge, die manchmal gut und manchmal schlecht sein können.
</p>
<p>
  Aber wie kann Glück jemals etwas Schlechtes sein?
</p>
<p>
  Die Stärke
</p>
<p>
  Was lässt sich schon gross dagegen einwenden?
</p>
<p>
  Kann man wirklich dagegen einwenden,
   dass es falsch
</p>
<p>
  Wie kann es richtig sein,
  <b>nicht</b> Glück zu maximieren,
  sondern Leid zu vermehren?
</p>
<p>
  Es tut sich ein Paradox auf: Menschen glücklich zu machen ist schlecht?
</p>
