<h5 class="text-center">Mehr Glück für alle</h5>
<hr />
<p>
  Wir alle streben danach, <b>glücklich</b> zu werden.
</p>
<p>
  Zwar haben nicht alle die gleiche Vorstellung davon,
  was es heisst, glücklich zu sein, aber grundsätzlich scheint Glück etwas zu sein,
  wonach wir <b>alle streben</b>.
</p>
<p>
  Das Ziel des Utilitarismus ist die <b>Vermehrung</b> von Nutzen und Glück
  und die <b>Verminderung</b> von Schaden und Leid.
</p>
<p>
  Der Utilitarismus ist darum eine sehr attraktive Theorie,
  weil er das zu vermehren versucht,
  was ohnehin alle wollen, nämlich <b>Glück</b>.
</p>
