<h4 class="text-center">
  Warum Konsequentialismus?
</h4>
<hr />
<p>
  Der Konsequentialismus
</p>
<p>
  Drei Argumente für den Konsequentialismus
</p>
<p>
  Robin Hood
</p>
<p>
  Akt- und Regelutilitarismus
</p>
<p>
  Nützlichkeitsprinzip
</p>
<p>
  Das grösste Glück der grössten Zahl
</p>
<p>
  Das Ziel, Erreichbarkeit, Zweckdienlich
</p>

-------
Universalisierbarkeit
Widerspruchsfreiheit, Kohärenz, Konsistenz
