<h4 class="text-center">Nicht-utilitaristische Theorien</h4>
<hr />
<p>
  Der Utilitarismus ist eine so prominente konsequentialistische Theorie, so dass Konsequentialismus und Utilitarismus manchmal <b>synonym</b> verwendet werden.
</p>
<p>
  Doch müssen konsequentialistische Theorien nicht immer utilitaristisch sein.
</p>
<p>
    Beispiele für nicht-utilitaristische Theorien könnten so aussehen:
    <ul>
      <li>
          Eine Handlung ist gut, wenn sie die allgemeine Armut verringert.
      </li>
      <li>
        Eine Handlung ist gut, wenn sie die Demokratie am Leben erhält.
        </li>
        <li>
          Eine Handlung ist gut, wenn sie für mehr Gleichheit sorgt.
        </li>
    </ul>
</p>
<p>

</p>
