<h4 class="text-center">Kosten- und Nutzenanalyse</h4>
<hr />
<p>
  Weiter vertritt der Utilitarismus die Idee, dass Nutzen oder Glück und deren Gegenteile (z.B. Schaden oder Leid) <b>gegeneinander ab- und aufgewogen werden können</b>.
</p>
<p>
  Die Art und Weise, wie der Utilitarismus eine Handlung beurteilt,
  kann mit einer <b>Kosten- und Nutzenanalyse</b> aus der Ökonomie verglichen werden:
  </p>
<p>
  Man <b>listet</b> zuerst alle Nutzen auf der einen Seite auf und alle Schäden auf der anderen.
</p>
<p>
  Danach errechnet man auf jeder Seite die <b>Summe</b> und schaut, ob die Summe aller Nutzen die Summe aller Schäden <b>überwiegen</b> oder nicht.
</p>
<p>
    Auf den nächsten Folien findest du ein Beispiel einer solchen Analyse.
</p>
