<h6 class="text-center">Nutzen als Befriedigung von Präferenzen</h6>
<hr />
<p>
  Nach dem modernen Vorschlag ist eine Handlung gut, wenn sie möglichst viele Präferenzen befriedigt.
</p>
<p>

</p>
<p>
  Der Unterschied e
</p>
<p>
  Kannst du dir eine Situation vorstellen, in der eine Präferenz befriedigt wird,
  du dadurch aber nicht glücklicher geworden bist?
</p>
