<h3 class="text-center">Nutzen als Glück</h3>
<hr />
<p>
    Wenn eine Handlung gut ist, wenn sie viel Nutzen bringt, dann stellt sich die Frage,
    <b>was unter Nutzen genau zu verstehen ist</b>.
</p>
<p>
  Ein klassischer Vorschlag ist die <b>Gleichsetzung</b> von Nutzen mit <b>Glück</b>.
  Demnach ist eine Handlung gut, wenn sie viel Glück produziert.
</p>
<p>
  Eine nächste Frage ist dann aber, was unter <b>Glück</b> genau zu verstehen ist.
</p>
<p>
    Ist Glück ein positiver oder angenehmer <b>Empfindungszustand</b>, wie zum Beispiel der <b>Genuss</b> einer Schokolade?
</p>
<p>
  Ist Glück die <b>Freude</b>, die man empfindet, wenn man ein gutes Buch liest?
</p>
<p>
  Oder ist Glück die <b>Abwesenheit von Schmerzen</b> oder von anderen Unannehmlichkeiten?
</p>
