<h3 class="text-center">Nutzen als Glück</h3>
<hr />
<p>
  Weiter vertritt der Utilitarismus die Idee, dass Nutzen oder Glück und deren Gegenteile (z.B. Schaden oder Schmerz) <b>gegeneinander ab- und aufgewogen werden können</b>.
</p>
<p>
  Die Art und Weise, wie der Utilitarismus eine Handlung beurteilt,
  kann mit einer <b>Kosten- und Nutzenanalyse</b> aus der Ökonomie verglichen werden.
  </p>
<p>
  Man listet alle Nutzen auf der einen Seite auf, alle Schäden auf der anderen,
  errechnet dann jeweils die Summe und schaut, ob die Nutzen die Schäden überwiegen oder nicht.
</p>
<p>
    Auf den nächsten Folien findest du ein Beispiel einer solchen Analyse.
</p>
