<h6 class="text-center">Nutzen als Befriedigung von Präferenzen</h6>
<hr />
<p>
  Nutzen mit Glück gleichzusetzen ist der <b>klassische Vorschlag</b>.
</p>
<p>
  Ein etwas <b>modernerer Vorschlag</b> ist die Gleichsetzung von Nutzen mit der <b>Befriedigung von Präferenzen</b>.
</p>
<p>
  Präferenz ist ein Sammelbegriff für <b>Wünsche, Bedürfnisse, Interessen und Vorlieben</b>.
</p>
<p>
  Wir alle haben eine Vielzahl von Präferenzen.
  <b>Zum Beispiel: </b>
  <ul>
    <li>
      Den Wunsch, nicht hungern zu müssen.
    </li>
    <li>
      Die Vorliebe, Tennis, statt Fussball, zu spielen.
    </li>
    <li>
      Das Bedürfnis, von anderen respektiert zu werden.
    </li>
    <li>
      Das Interesse, gesund bleiben zu können.
    </li>
  </ul>
</p>
