<h5 class="text-center">Eltern ins Altersheim bringen?</h5>
<hr />
<p>
    -1 bedeutet ein leichter Abstieg im Glücksempfinden, während -20 elende Qual bedeutet.
</p>
<p>
    <b>Der Schaden</b>
    <table class="table">
      <tbody>
        <tr>
          <td>Verlust von Unabhängigkeit</td>
          <td>-15</td>
        </tr>
        <tr>
          <td>Verlust von Privatsphäre</td>
          <td>-12</td>
        </tr>
        <tr>
          <td>Mehr Langeweile</td>
          <td>-6</td>
        </tr>
        <tr>
          <td>Verkauf oder Weggeben von persönlichem Eigentum</td>
          <td>-4</td>
        </tr>
        <tr>
          <td><b>Total: </b></td>
          <td><b>-37</b></td>
        </tr>
      </tbody>
    </table>
    <br />
</p>
