<h5 class="text-center">Eltern ins Altersheim bringen?</h5>
<hr />
<p>
    +1 bedeutet ein leichter Anstieg im Glücksempfinden, während +20 ekstatische Freude bedeutet.
</p>
<p>
    <b>Der Nutzen</b>
    <table class="table">
      <tbody>
        <tr>
          <td>Weniger Angst vor Unfällen</td>
          <td>+10</td>
        </tr>
        <tr>
          <td>Regelmässiges Essen in der Mensa</td>
          <td>+8</td>
        </tr>
        <tr>
          <td>Weniger Einsamkeit</td>
          <td>+6</td>
        </tr>
        <tr>
          <td>Keine Haus- und Gartenarbeit mehr</td>
          <td>+4</td>
        </tr>
        <tr>
          <td>Keine Inkonvenienz für die Kinder</td>
          <td>+6</td>
        </tr>
        <tr>
          <td><b>Total: </b></td>
          <td><b>+34</b></td>
        </tr>
      </tbody>
    </table>
    <br />
</p>
