<h5 class="text-center">Eltern ins Altersheim bringen?</h5>
<hr />
<p>
    <b>+1</b> bedeutet ein leichter Anstieg im Glücksempfinden, während <b>+20</b> ekstatische Freude bedeutet.
</p>
<p>
    <b>Der Nutzen</b>
    <table class="table">
      <tbody>
        <tr>
          <td>
            Bei einem Unfall ist im Altersheim immer jemand zugegen.
            Es gibt mehr Sicherheit für die Eltern.
          </td>
          <td>+12</td>
        </tr>
        <tr>
          <td>Im Altersheim begegnen die Eltern viele andere Menschen.
          Sie sind nicht mehr so einsam.</td>
          <td>+8</td>
        </tr>
        <tr>
          <td>Es gibt regelmässiges Essen in der Mensa.
          Die Kinder müssen nicht mehr für die Eltern kochen und haben mehr Freizeit.</td>
          <td>+4</td>
        </tr>
        <tr>
          <td><b>Total: </b></td>
          <td><b>+24</b></td>
        </tr>
      </tbody>
    </table>
    <br />
</p>
