<h3 class="text-center">Nutzen als Glück</h3>
<hr />
<p>
    Wenn eine Handlung gut ist, wenn sie viel Nutzen bringt, dann stellt sich die Frage,
    <b>was unter Nutzen genau zu verstehen ist</b>.
</p>
<p>
  Ein klassischer Vorschlag ist die <b>Gleichsetzung</b> von Nutzen mit <b>Glück</b>.
</p>
<p>
  Demnach ist eine Handlung gut, wenn sie <b>viel Glück hervorbringt</b>.
</p>
<p>
  Anders formuliert:
</p>
<p>
  Wir sollten uns so verhalten, dass wir <b>möglichst viel Glück hervorbringen</b>.
</p>
