<h5 class="text-center">Eltern ins Altersheim bringen?</h5>
<hr />
<p>
    <b>-1</b> bedeutet ein leichter Abstieg im Glücksempfinden, während <b>-20</b> elende Qual bedeutet.
</p>
<p>
    <b>Der Schaden</b>
    <table class="table">
      <tbody>
        <tr>
          <td>Im Altersheim müssen die Eltern den Regeln des Altersheim folgen.
          Sie verlieren ihre Unabhängigkeit.</td>
          <td>-15</td>
        </tr>
        <tr>
          <td>Im Altersheim ist man selten für sich alleine.
          Die Eltern verlieren ihre Privatsphäre.</td>
          <td>-12</td>
        </tr>
        <tr>
          <td>Das Altersheim kostet viel Geld.
          Die Kinder müssen für das Altersheim zahlen.</td>
          <td>-5</td>
        </tr>
        <tr>
          <td><b>Total: </b></td>
          <td><b>-32</b></td>
        </tr>
      </tbody>
    </table>
    <br />
</p>
