<h5 class="text-center">Eltern ins Altersheim bringen?</h5>
<hr />
<p>
  In dieser Analyse kam heraus, dass die Handlung, die Eltern ins Altersheim zu bringen,
   mehr Schaden als Nutzen hervorbringt.
</p>
<p>
  Aufsummiert hat diese Handlung einen Nutzenswert von <b>+24</b> und
  einen Schadenswert von <b>-32</b>.
</p>
<p>
  Zusammengezählt gibt es einen <b>Gesamtnutzen</b> von <b>-8</b>
  und somit ist die Handlung, die Eltern ins Altersheim zu bringen, schlechter, als die Eltern <b>nicht</b> ins Altersheim zu bringen.
</p>
<p>
 Gemäss dem Utilitarismus sollten wir bei allen Handlungen auf den Gesamtnutzen achten.
 <b>Je höher</b> der Gesamtnutzen, <b>desto besser</b>.
</p>
<p>
  Daraus ergibt sich der berühmte utilitaristische Slogan:
</p>
<p>
    <em>
      "Das grösstmögliche Glück für die grösstmögliche Zahl!"
    </em>
</p>
