<h5 class="text-center">Eltern ins Altersheim bringen?</h5>
<hr />
<p>
  Leonie und Johannes überlegen sich,
  <b>welchen Nutzen</b> und <b>welche Schaden</b>
  es gäbe,
  wenn sie ihre Eltern ins Altersheim bringen würden.
</p>
<p>
  Dabei achten sie nicht nur,
  welchen Nutzen oder Schaden für sie selber entsteht,
  sondern auch,
  welcher Nutzen oder Schaden für die Eltern entsteht.
</p>
<p>
  <b>Leonie</b> und <b>Johannes</b> sind Geschwister.
  Sie beide <b>haben Kinder</b> und <b>arbeiten</b> tagsüber.
</p>
<p>
  Sie <b>kümmern sich abwechselnd um ihre Eltern.</b>
</p>
<p>
  Mit zunehmenden Alter brauchen die Eltern <b>mehr und mehr Unterstützung</b>.
</p>
<p>
  Eines Tages, während Leonie und Johannes am Arbeiten waren,
  fiel der <b>von Schwindel geplagte Vater</b> auf den Boden.
</p>
<p>
  Glücklicherweise war die Nachbarin zugegen und hat dem Vater sofort geholfen.
</p>
<p>
  Dennoch machen Leonie und Johannes sich Sorgen um ihre Eltern.
  Was wäre passiert, wenn die Nachbarin nicht zugegen gewesen wäre?
</p>
<p>
  Sie überlegen sich, die Eltern in ein <b>Altersheim zu bringen</b>.
</p>
