<h5 class="text-center">Eltern ins Altersheim bringen?</h5>
<hr />
<p>
  <b>Leonie</b> und <b>Johannes</b> sind Geschwister.
  Sie beide <b>haben eine eigene Familie</b> und <b>arbeiten</b> tagsüber.
</p>
<p>
  Sie <b>kümmern sich abwechselnd um ihre Eltern.</b>
</p>
<p>
  Mit zunehmenden Alter brauchen die Eltern <b>mehr und mehr Unterstützung</b>.
</p>
<p>
  Eines Tages, während Leonie und Johannes am Arbeiten waren,
  fiel der <b>von Schwindel geplagte Vater</b> auf den Boden.
</p>
<p>
  Glücklicherweise war die Nachbarin zugegen und hat dem Vater sofort geholfen.
</p>
<p>
  Dennoch machen Leonie und Johannes sich Sorgen um ihre Eltern.
  Was wäre passiert, wenn die Nachbarin nicht zugegen gewesen wäre?
</p>
<p>
  Sie überlegen sich, die Eltern in ein <b>Altersheim zu bringen</b>.
</p>
