<h3 class="text-center">Nutzen als Gl端ck</h3>
<hr />
<p>
    Wenn eine Handlung gut ist, wenn sie viel Nutzen bringt, dann stellt sich die Frage,
    <b>was unter Nutzen genau zu verstehen ist</b>.
</p>
<p>
  Ein klassischer Vorschlag ist die <b>Gleichsetzung</b> von Nutzen mit <b>Gl端ck</b>.
</p>
<p>
  Demnach ist eine Handlung gut, wenn sie viel Gl端ck produziert.
</p>
<p>
  Diese Art von Utilitarismus wird <b>Gl端cks-Utilitarismus</b> genannt.
</p>
