<h3 class="text-center">Nutzen als Glück</h3>
<hr />
<p>
  Wie man Nutzen oder Glück <b>definiert</b>,
  ist im Utilitarismus von hoher Wichtigkeit.
  Je nach dem wie man diese Begriffe definiert,
  werden Folgen oder Konsequenzen anders bewertet.
</p>
<p>
  Weiter vertritt der Utilitarismus die Idee, dass Nutzen oder Glück und deren Gegenteile (z.B. Schaden oder Schmerz) <b>gegeneinander ab- und aufgewogen werden können</b>.
</p>
<p>
  Die Art und Weise, wie Utilitaristen eine Handlung beurteilen, kann mit einer <b>Kosten- und Nutzenanalyse</b> aus der Ökonomie verglichen werden.
  </p>
<p>
  Man listet alle Nutzen auf der einen Seite auf, alle Schäden auf der anderen,
  errechnet dann jeweils die Summe und schaut, ob die Nutzen die Schäden überwiegen oder nicht.
</p>
<p>
    Auf den nächsten Folien findest du ein Beispiel einer solchen Analyse.
</p>
