<h5 class="text-center">Eltern ins Altersheim bringen?</h5>
<hr />
<p>
  Leonie und Johannes überlegen sich,
  welche Vorteile und welche Nachteile es hätte,
  wenn sie ihre Eltern ins Altersheim bringen würden.
</p>
<p>
  Sie listen auf der einen Seite <b>alle Nutzen</b> auf
  und auf der anderen Seite <b>alle Schäden</b>,
  die ein Einzug ins Altersheim hätte.
</p>
<p>
  Sie weisen dann jedem Nutzen und jedem Schaden <b>einen Wert zu</b>.
</p>
<p>
  Wenn ein Nutzen sehr angenehm ist und sehr viel Freude bereitet,
  dann weisen sie ihm einen <b>hohen, positiven Wert</b> zu.
</p>
<p>
  Wenn ein Nutzen nur ganz wenig Freude bereitet, dann bekommt er nur einen <b>kleinen, positiven Wert</b>.
</p>
<p>
  Umgekehrt weisen sie einem Schaden einen <b>hohen, negativen Wert</b> zu,
  wenn er sehr unangenehm ist und sehr viel Leid bereitet.
</p>
<p>
  Einem kleinen Schaden weisen sie <b>einen kleinen, negativen Wert</b> zu.
</p>
