<h5 class="text-center">Deine Kosten- und Nutzenanalyse</h5>
<hr />
<p>

</p>
<p>
  Es wird darüber abgestimmt,
  ob alle Arbeitslose per Gesetz ein
  <b>gut sichtbares, gelbes Armband</b> tragen sollen oder nicht.
</p>
<p>
  Du wurdest angefragt, eine Kosten- und Nutzenanalyse zu erstellen!
</p>
<p>
  Überlege dir, <b>welche Vorteile und Nachteile</b> dieses Gesetz hat
  und gib ihnen einen <b>Nutzwert</b>.
</p>
