<p>
  Welcher Nutzen und welcher Schaden bränge das folgende Gesetz?
</p>
<p>
  <em>
    Arbeitslose müssen ein gut sichtbares, gelbes Armband tragen.
  </em>
</p>
<hr />
<label>Nutzen / Schaden</label>
<div class="input-group input-group-lg mb-3">
  <input type="text" name="name" class="form-control" placeholder="z.B. Anreiz, Arbeit zu suchen gehen">
</div>

  <label>Wert</label>
  <select class="form-control" id="valueforname" name="value">
    <% (-20..20).reverse_each do |i| %>
      <% if i == 0 %>
        <option value="<%= i %>" selected>Auswählen</option>
      <% else %>
        <option value="<%= i %>">
          <%= i %>
        </option>
      <% end %>
    <% end %>
  </select>

<hr />
<button type="button" id="addvaluetorechnung" class="btn btn-info mx-2">Hinzufügen</button>
<button type="button" id="alladded" class="btn btn-warning mx-2 disabled">Fertig</button>

<hr />
<p>
    <b>Nutzen und Schaden:</b>
</p>
<div class="row" id="rechnungtable">
</div>

<b>Gesamtnutzen: </b> <span id="gesamtnutzen"></span>



<!-- Modal -->
<div class="modal fade" id="porgnutzen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>
          <b>Deine Analyse:</b>
          </p>
        <div class="container col-12 pb-2" id="rechnungtablecopy">

        </div>
        <p>
          Was ist der <b>Gesamtnutzen</b> gemäss deiner Analyse?
          </p>
          <div class="input-group input-group-lg mb-3">
          <input type="text" name="gesamtnutzenist" class="form-control" placeholder="z.B. -14 oder 7">
        </div>
        <p>
          <button type="button" id="gesamtnutzenist" class="btn btn-info btn-lg my-3">Antwort prüfen!</button>
        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Schliessen</button>
      </div>
    </div>
  </div>
</div>

<script>
  $( document ).ready(function() {
    console.log("porg loaded!");
    var entries = 0;
    var sum = 0;
    //addPointsToCourse(2, "utilubung4", points);

    var points = 100;
    //$('#porgnutzen').modal('show');
    $( "#alladded" ).click(function() {
      $("#rechnungtable").appendTo("#rechnungtablecopy");
      $('#porgnutzen').modal('show');
    });

    $("#gesamtnutzenist").click(function(){
      var input = parseInt($('input[name="gesamtnutzenist"]').val());
      var element = $('input[name="gesamtnutzenist"]');
      console.log(input);
      console.log(sum);
      if (input === sum) {
        element.removeClass("is-invalid").addClass("is-valid");
        setOrden(2, "rechner-badge.png");
        setTimeout(function(){
          $('#porgnutzen').modal('hide');
          $("#get-next-slide").click();
        }, 1000);

      } else {
        element.removeClass("is-valid").addClass("is-invalid");
      }
    });



    $( "#addvaluetorechnung" ).click(function() {
      var text = $('input[name="name"]').val();
      //var value = $('#valueforname').find(":selected").val();
      var value = $('#valueforname :selected').val();
      sum = sum + parseInt(value);
      entries = entries + 1;

      if(entries == 3){
        $("#alladded").removeClass("disabled");
        console.log("GO");
      }

      $('#rechnungtable').fadeOut(300).fadeIn(500);

      $("#rechnungtable").append(
        `
        <div class="col-12 rounded border m-1 p-1" id="entries-${entries}">
          ${text}
          <div class="float-right">${value>0?'+' + value:'' + value}</div>
        </div>
        `
      );

      if(value > 0){
        $('#entries-' + entries).animate({backgroundColor: "#32CD32", color: "#FFFFFF" }, 200);
      } else {
        $('#entries-' + entries).animate({backgroundColor: "#DC143C", color: "#FFFFFF" }, 200);
      }

      $('input[name="name"]').val("");
      $("#valueforname").val(0);

      $("#gesamtnutzen").empty().append(sum);

    });
  });
</script>
