<h3 class="text-center">Utilitaristen</h3>
<hr />
<p>
  Aufgrund der <b>3 Elementen</b> des Utilitarismus
  treten Utilitaristen oft als <b>Sozialreformer,
  Tierrechtler</b> und <b>Pragmatiker</b> auf.
</p>
<p>
  Als <b>Sozialreformer</b> fordern sie Gesetze, Massnahmen oder Handlungen,
  die nicht nur bestimmte Gesellschaftsschichten (wie z.B. dem Adel) nützen,
  sondern allen gleichermassen, inklusive den unteren Gesellschaftsschichten.
</p>
<p>
  Als <b>Tierrechtler</b> fordern sie die bessere Behandlung von Tieren,
  da auch Tiere Glück und Leid empfinden oder bestimmte Interessen haben
  und daher in unseren Handlungen berücksichtigt werden sollen.
</p>
<p>
  Als <b>Pragmatiker</b> sind sie darum bemüht,
  die jeweils beste Strategie zur Maximierung von Nutzen zu verwenden.
  Welche die beste Strategie dafür ist, kann wissenschaftlich eingeholt werden.
</p>
