<h3 class="text-center">Das Universalprinzip</h3>
<hr />
<p>
  Das dritte Grundmerkmal des Utilitarismus ist das <b>Universalprinzip</b>.
</p>
<p>
  Das Universalprinzip des Utilitarismus fordert,
  dass bei der Errechnung des Gesamtnutzens einer Handlung das <b>Wohl all jener</b> berücksichtigt werden,
  die von einer Handlung betroffen sind.
</p>
<p>
  <b>Das heisst: </b>
   Man soll nicht nur das <b>eigene</b> Wohl oder das Wohl seiner <b>Freunde</b> oder das seiner eigenen <b>Familie</b>
   berücksichtigen, sondern auch das Wohl <b><u>aller anderen</u></b>.
</p>
<p>
  Mit "alle anderen" sind <b>alle Wesen</b> gemeint,
  die ein <b>Wohl haben</b> oder die <b>Glück</b> oder <b>Leid</b> empfinden können.
</p>
<p>
  Damit sind nicht nur Menschen gemeint, sondern oftmals auch <b>Tiere</b>.
</p>
