<h3 class="text-center">Das Universalprinzip</h3>
<hr />
<p>
  Somit ist ein Mensch, der nur seinen eigenen Nutzen maximiert, kein Utilitarist, sondern ein <b>Egoist</b>.
</p>
<p>
  Ebenso sind National-Sozialisten keine Utilitaristen,
  weil diese nur das Wohl der eigenen Gesellschaft im Blick haben,
  nicht aber das der anderen.
</p>
<p>
  Mit Betroffenen einer Handlung sind auch nicht nur Menschen gemeint,
  sondern auch andere <b>Lebewesen</b>, wie Tiere, die ebenfalls <b>ein Wohl</b>
  oder bestimmte <b>Interessen</b> haben.
</p>
