<h3 class="text-center">Welches Element?</h3>
<hr />
<p>
  Welches Element des Utilitarismus <b>passt nicht</b> zur folgenden Aussage?
</p>
<p>
  <em>
    "Jeder ist auf sich alleine gestellt.
    Daher ist es in Ordnung,
    wenn jeder nur seine eigenen Ziele verfolgt
    oder nur das macht, was zur Befriedigung seiner eigenen Interessen oder Bedürfnissen dient.
    Eine Handlung ist somit gut, wenn ihre Konsequenzen zur Erfüllung deiner Ziele dienen."
  </em>
</p>
<p>
  <button type="button" id="konsequ" class="btn btn-primary multilinebutton btn-block">Der Konsequentialismus</button>
  <button type="button" id="nutzenu" class="btn btn-primary multilinebutton btn-block">Das Nutzenprinzp</button>
  <button type="button" id="universa" class="btn btn-primary multilinebutton btn-block">Das Universalprinzp</button>
</p>

<!-- Modal -->
<div class="modal fade" id="utilubung2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">Richtig!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Das <b>Universalprinzip</b> des Utilitarismus fordert, dass bei der Errechnung
          des Gesamtnutzens einer Handlung <b>alle Betroffenen</b>
          dieser Handlung berücksichtigt werden.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Schliessen</button>
        <button type="button" id="get-next-slide" data-dismiss="modal" class="btn btn-info get-slide-button mx-2" slide="<%= current_slide + 1 %>">Weiter</button>
      </div>
    </div>
  </div>
</div>


<script>
  $( document ).ready(function() {
    console.log("utilubung2 loaded!");


    var points = 100;
    var score = 0;

    $( "#universa" ).click(function() {
      $('#utilubung2').modal('show');
    });

  });
</script>
