<h5 class="text-center">Deine Kosten- und Nutzenanalyse</h5>
<hr />
<p>
  In vielen Ländern wird diskutiert,
  ob man die <b>Sterbehilfe</b> erlauben soll oder nicht.
</p>
<p>
  Sterbehilfe ist, wenn eine Person einer anderen beim Sterben hilft,
  das heisst, <b>sie tötet</b>.
</p>
<p>
  Die Sterbehilfe unterscheidet sich vom Mord darin,
  dass die Person, die sterben möchte, <b>ausdrücklich darum bittet, getötet zu werden</b>.
</p>
<p>
  Welche <b>Vorteile</b> und welche <b>Nachteile</b> hätte das Erlauben der Sterbehilfe?
</p>
<p>
  <b>Überlege dir</b>, welche Nutzen und welche Schäden beim Erlauben der Sterbehilfe entstehen würden
  und <b>gib</b> sie auf der nächsten Folie <b>an</b>!
</p>
