<h4 class=text-center>Der Utilitarismus</h4>
<hr />
<p>
  Der Utilitarismus hat <b>3 Grundmerkmale</b>:
</p>
<p>
  1. Als eine konsequentialistische Theorie beurteilt der Utilitarismus
  eine Handlung im Bezug auf ihre <b>Folgen</b> oder <b>Konsequenzen</b>.
</p>
<p>
  2. Der Utilitarismus bewertet die Folgen oder Konsequenzen danach,
  wie viel <b>Nutzen sie bringen</b> (oder <b>nicht bringen</b>).
</p>
<p>
  Die Idee, dass Folgen oder Konsequenzen danach bewertet werden sollen,
  wie viel Nutzen sie bringen, nennt man auch das <b>Nutzenprinzip</b>.
</p>
<p>
  3. Der Utilitarismus achtet auf den <b>Gesamtnutzen</b>,
  nicht nur auf den Nutzen für eine bestimmte Person oder für eine bestimmte Gruppe.
</p>
<p>
  Die Idee, dass man auf den Gesamtnutzen achten soll, nennt man auch das <b>Universalprinzip</b>.
</p>
