<p class="text-center">
  <b>Welche Kritik</b> am Utilitarismus wird hier ausgedrückt?
</p>
<hr />
<p>
  "Der Utilitarismus macht die seltsame Annahme,
  dass Glück etwas sei, das man messen oder zählen könne.
</p>
<p>
  Doch Glück ist nicht einfach eine Ware, von der man mehr oder weniger haben kann.
   Glück ist ein bestimmter Zustand unserer Seele.
</p>
<p>
 Und genau weil man Glück nicht so einfach messen kann,
 kann man Handlungen nicht danach beurteilen, wie viel Glück sie bringen."
</p>
<hr />
<p>
  <button type="button" value="" class="btn btn-light border multilinebutton btn-block p-3 mb-4 zuschwierig">Utilitaristisches Verhalten kann persönliche Beziehungen und Freundschaften ruinieren.</button>
  <button type="button" value="" class="btn btn-light border multilinebutton btn-block p-3 mb-4 zuschwierig">Der Utilitarismus kann zu Ungleichbehandlung von Menschen führen.</button>
  <button type="button" value="zuschwierig" class="btn btn-light border multilinebutton btn-block p-3 mb-4 zuschwierig">Eine ökonomische Bemessung ist kategorial verschieden von einer ethischen Beurteilung.</button>
</p>

<!-- Modal -->
<div class="modal fade" id="utilubung8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLabel">Übung abgeschlossen!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>

        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Schliessen</button>
        <button type="button" id="get-next-slide" data-dismiss="modal" class="btn btn-info get-slide-button mx-2" slide="<%= current_slide + 1 %>">Weiter</button>
      </div>
    </div>
  </div>
</div>

<script>
  $( document ).ready(function() {
    console.log("utilubung8 loaded!");

    var points = 100;

    $( ".zuschwierig" ).click(function() {

      if($(this).attr("value") === "zuschwierig"){
        $(".modal-body").append(
          `<p class="text-center lead">
              Du hast ${points} Punkte erhalten!
            </p>
          `
        );
        addPointsToCourse(2, "utilubung8", points);
        $(this).animate({backgroundColor: "#32CD32", color: "#FFFFFF" }, 200, function(){
          setTimeout(function(){
              $('#utilubung8').modal('show');
            }, 600);
        });
      } else {
        $(this).animate({backgroundColor: "#DC143C", color: "#FFFFFF" }, 200);
        points = points - 50;
      }
    });
  });
</script>
