<h3 class="text-center">Welches Element?</h3>
<hr />
<p>
  Welches Element des Utilitarismus <b>passt nicht</b> zur folgenden Aussage?
</p>
<p>
    "Jeder ist auf sich alleine gestellt.
    Daher ist es in Ordnung,
    wenn jeder nur seine eigenen Ziele verfolgt
    oder nur das macht, was zur Befriedigung seiner eigenen Interessen oder Bed端rfnissen dient.
    Eine Handlung ist somit gut, wenn ihre Konsequenzen zur Erf端llung deiner eigenen Ziele f端hren."
</p>
<p>
  <button type="button" id="konsequ" class="btn btn-light border multilinebutton btn-block p-3 mb-4">Der Konsequentialismus</button>
  <button type="button" id="nutzenu" class="btn btn-light border multilinebutton btn-block p-3 mb-4">Das Nutzenprinzp</button>
  <button type="button" id="universa" class="btn btn-light border multilinebutton btn-block p-3 mb-4">Das Universalprinzp</button>
</p>

<!-- Modal -->
<div class="modal fade" id="utilubung2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">Richtig!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Das <b>Universalprinzip</b> des Utilitarismus fordert, dass bei der Errechnung
          des Gesamtnutzens einer Handlung <b>alle Betroffenen</b>
          dieser Handlung ber端cksichtigt werden.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Schliessen</button>
        <button type="button" id="get-next-slide" data-dismiss="modal" class="btn btn-info get-slide-button mx-2" slide="<%= current_slide + 1 %>">Weiter</button>
      </div>
    </div>
  </div>
</div>


<script>
  $( document ).ready(function() {
    console.log("utilubung2 loaded!");


    var points = 100;

    $( "#konsequ, #nutzenu" ).click(function() {
      console.log("CLICK!");
      $(this).animate({backgroundColor: "#DC143C", color: "#FFFFFF" }, 200);
      points = points - 50;
    });

    $( "#universa" ).click(function() {
      $(".modal-body").append(
        `<p class="text-center lead">
            Du hast ${points} Punkte erhalten!
          </p>
        `
      );
      addPointsToCourse(2, "utilubung2", points);
      $(this).animate({backgroundColor: "#32CD32", color: "#FFFFFF" }, 200, function(){
        setTimeout(function(){
            $('#utilubung2').modal('show');
          }, 600);
      });
    });

  });
</script>
