<p>
  <b>Kreuze</b> die <b>drei Grundmerkmale</b> des Utilitarismus an!
</p>
<hr />
<ul class="form-check rounded">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" name="theories" value="0">
      Der Utilitarismus bewertet die Folgen oder Konsequenzen danach,
      wie viel Geld oder Reichtum sie bringen.
    </label>
    <hr />
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" name="theories" value="1">
      Der Utilitarismus bewertet Handlungen im Bezug auf die Person, die die Handlung vollzieht.
    </label>
        <hr />
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" name="theories" value="2">
            Der Utilitarismus achtet auf den Gesamtnutzen.
    </label>
        <hr />
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" name="theories" value="3">
      Der Utilitarismus achtet auf den Nutzen aller Männer, die älter als 30 sind.
    </label>
        <hr />
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" name="theories" value="4">
       Der Utilitarismus bewertet die Folgen oder Konsequenzen danach, wie viel Nutzen sie bringen.
    </label>
        <hr />
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" name="theories" value="5">
      Der Utilitarismus bewertet Handlungen im Bezug auf ihre Folgen oder Konsequenzen.
    </label>
        <hr />
</ul>
<p>
  <button type="button" id="utilubung5" class="btn btn-info btn-lg my-3">Antwort prüfen!</button>
</p>

<!-- Modal -->
<div class="modal fade" id="utilubung5m" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">Richtig!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>

        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Schliessen</button>
        <button type="button" id="get-next-slide" data-dismiss="modal" class="btn btn-info get-slide-button mx-2" slide="<%= current_slide + 1 %>">Weiter</button>
      </div>
    </div>
  </div>
</div>

<script>
  $( document ).ready(function() {
    console.log("utilubung5 loaded!");

    var points = 100;
    var score = 0;

    $("#utilubung5").click(function(event){
        event.preventDefault();
        result1 = ($("input[name=theories]:checked").map(function() {
            return this.value;
        }).get().join(","));
        console.log(result1);
        if(result1.toString() == "2,4,5"){
          $(".form-check").animate({backgroundColor: "#32CD32", color: "#FFFFFF" }, 200);
          addPointsToCourse(1, "utilubung5", points);
          $(".modal-body").empty().append(
            `
            <p>
                Du hast ${points} Punkte erhalten!
              </p>
            `
          );
          $('#utilubung5m').modal('show');
        } else {
          console.log("falsch");
          $(".form-check").animate({backgroundColor: "#DC143C", color: "#FFFFFF" }, 200).delay(400).animate({backgroundColor: "#FFFFFF", color: "#000000" }, 200);
          $('input[name=theories]').prop('checked', false);
          if(points > 0){
            points = points - 50;
          }
        };
    });

  });
</script>
