<h3 class="text-center">Der Utilitarismus</h3>
<hr />
<p>
  Der <b>Utilitarismus</b> ist eine Variante einer konsequentialistischen Theorie.
</p>
<p>
  Im Namen "Utilitarismus" steckt das lateinischen Wort <em>utilitas</em>, das "Nutzen" bedeutet.
</p>
<p>
  Der Utilitarismus <b>definiert</b>, was gute und was schlechte Folgen sind:
</p>
<p>
  <ul class="space-between-li-10">
    <li>
      Eine Handlung ist gut, wenn sie <b>viel Nutzen bringt</b>.
    </li>
    <li>
      Eine Handlung ist schlecht, wenn sie <b>keinen Nutzen bringt</b> oder sogar <b>Nutzen verhindert</b>.
    </li>
  </ul>
</p>
<p>
  Nach dem Utilitarismus sollten wir immer so handeln,
  dass <b>möglichst viel Nutzen</b> entsteht.
</p>
