<h3 class="text-center">Der Utilitarismus</h3>
<hr />
<p>
  Der <b>Utilitarismus</b> ist eine Form von Konsequentialismus.
</p>
<p>
  Der Utiltarismus <b>definiert</b>, was gute und was schlechte Folgen sind:
</p>
<p>
  <ul class="space-between-li-10">
    <li>
      Eine Handlung ist gut, wenn sie <b>viel Gl端ck bringt</b>.
    </li>
    <li>
      Eine Handlung ist schlecht, wenn sie <b>viel Leid produziert</b>.
    </li>
  </ul>
</p>
<p>
  <b>Beispiel f端r eine gute Handlung: </b>
</p>
<p>
  Ich besuchte meine Freundin im Spital.
  Das machte sie sehr gl端cklich.
</p>
<p>
  <b>Beispiel f端r eine schlechte Handlung: </b>
</p>
<p>
  Jemand hat mir mit dem Hammer auf die Finger gehauen.
  Das hat mir sehr weh getan.
</p>
