<h6>Warum sich mit Konsequentialismus befassen?</h6>
<hr>
<p>
  <em>
    Dies ist ein Vertiefungskurs und setzt ein gewisses Vorwissen voraus.
    Den Einführungskurs findest du <%=  link_to 'hier', course_path(Course.find(1)) %>.
  </em>
</p>
<p>
  Es lohnt sich mit dem Konsequentialismus zu befassen,
  weil konsequentialistische Begründungenoder Argumente
  im Alltag und in der Politik <b>oft vorkommen</b>.
</p>
<p>
  Das Studium des Konsequentialismus hilft dir,
  konsequentialitischte Begründungen oder Argumente besser zu <b>erkennen</b>,
  zu <b>analysieren</b> und zu <b>kritisieren</b>.
</p>
<p>
  Indem du die <b>Stärken</b> und <b>Schwächen</b> des Konsequentialismus kennst,
  kannst du bessere <b>Entscheidungen treffen</b> und andere beraten,
  wie sie sich entscheiden <b>sollen</b>.
</p>
