<p>
  Er beurteilt eine Handlung nach den <b>Folgen</b>, die sie nach sich zieht.
  <br />
  <%= fa_icon "arrow-right" %> <b>Konsequentialismus</b>
</p>
<p>
  Er bewertet die Folgen danach, wie viel <b>Nutzen</b> sie bringen (oder nicht bringen).
  <br />
  <%= fa_icon "arrow-right" %> <b>Nutzenprinzip</b>
</p>
<p>
  Er achtet auf den <b>Gesamtnutzen</b>,
  nicht nur auf den Nutzen für eine bestimmte Person oder für eine bestimmte Gruppe.
  <br />
  <%= fa_icon "arrow-right" %> <b>Universalprinzip</b>
</p>

<p>
  Wie man Nutzen oder Glück definiert ist im Utilitarismus von zentraler Bedeutung,
  da Handlungen und Folgen daran bemessen werden, wie viel Nutzen oder Glück sie bringen.
</p>
<p>
  Beispiele für Interessen oder Präferenzen sind:
  <ul>
    <li>
      Am Leben zu bleiben.
      </li>
      <li>
        Gesund sein und zu bleiben.
      </li>
      <li>
        Nicht hungern zu müssen.
      </li>
      <li>
        Nicht Qualen erleiden zu müssen.
      </li>
      <li>
        Politisch mitbestimmen zu können.
        </li>
        <li>
          Am öffentlichen Leben teilnehmen zu können.
          </li>
          <li>
            Ein Recht auf Bildung zu haben.
          </li>
    </ul>
</p>
<p>
  Das Universalprinzip des Utilitarismus fordert, dass bei der Errechnung
  des Gesamtnutzens einer Handlung <b>alle Betroffenen</b> berücksichtigt werden.
</p>
<p>
  Nach dem Utilitarismus sollten wir uns vor jeder Entscheidung überlegen,
  wie wir möglichst viel <b>Nutzen</b> oder <b>Glück</b> hervorbringen können.
</p>

<p>
  Indem der Utilitarismus
</p>
<p>
  Der Utilitarismus ist einfach zum Anwenden, weil
</p>
<p>
  Wir sollten uns in jeder Situation überlegen, wir
</p>
<p>
  Im Grunde verlangt der Utilitarismus, dass wir konsequent durchziehen und nicht zu Egoisten werden.
</p>
<p>
  Das machen wir ohnehin schon.
  Was ist günstiger? Wo habe ich mehr Vorteile.
</p>
<p>
  Der Utilitarismus weitet einfach auf andere aus.
</p>
<p>
  Im Grunde verlangt der Utilitarismus nur, dass wir weiter denken.
</p>
<p>
  Gemäss dem Utilitarismus sollten wir uns fragen, wie können wir mehr Menschen als zuvor glücklich machen?
  Wie maximieren wir den Gesamtnutzen?
</p>
<p>
  Krankheiten Ursache für viel Leid.
  </p>
<p>
  Wir sollten möglichst effizient sein.
</p>
<p>
  Lässt sich wissenschaftlich einholen.
</p>
<p>
    Gutgemeint vs. Effektiv. Gesetze, die nichts verändern vs. viel verändern.
</p>
<p>
  Unerwartete, konventionelle Ideen können erfolgreich sein.
</p>
<p>
  Modern, schreckt nicht vor neuen Lösungen ab. (gegen Traditionen).
</p>
<p>

</p>
<p>
  Es kann sein, dass nicht alle unter Glück dasselbe verstehen,
  aber grundsätzlich scheint Glück immer etwas zu sein,
  das wir wollen und .
</p>
<p>

</p>
<p>
  Das Ziel des Utilitarismus ist,
  Nutzen oder Glück zu <b>maximieren</b>.
</p>
<p>
  Kontingenz vs. Notwendigkeit
</p>
<p>
  Es gibt viele Dinge, die manchmal gut und manchmal schlecht sein können.
</p>
<p>
  Aber wie kann Glück jemals etwas Schlechtes sein?
</p>
<p>
  Die Stärke
</p>
<p>
  Was lässt sich schon gross dagegen einwenden?
</p>
<p>
  Kann man wirklich dagegen einwenden,
   dass es falsch
</p>
<p>
  Wie kann es richtig sein,
  <b>nicht</b> Glück zu maximieren,
  sondern Leid zu vermehren?
</p>
<p>
  Es tut sich ein Paradox auf: Menschen glücklich zu machen ist schlecht?
</p>
