<p>
  Er beurteilt eine Handlung nach den <b>Folgen</b>, die sie nach sich zieht.
  <br />
  <%= fa_icon "arrow-right" %> <b>Konsequentialismus</b>
</p>
<p>
  Er bewertet die Folgen danach, wie viel <b>Nutzen</b> sie bringen (oder nicht bringen).
  <br />
  <%= fa_icon "arrow-right" %> <b>Nutzenprinzip</b>
</p>
<p>
  Er achtet auf den <b>Gesamtnutzen</b>,
  nicht nur auf den Nutzen f端r eine bestimmte Person oder f端r eine bestimmte Gruppe.
  <br />
  <%= fa_icon "arrow-right" %> <b>Universalprinzip</b>
</p>

<p>
  Wie man Nutzen oder Gl端ck definiert ist im Utilitarismus von zentraler Bedeutung,
  da Handlungen und Folgen daran bemessen werden, wie viel Nutzen oder Gl端ck sie bringen.
</p>
