<p>
  Er beurteilt eine Handlung nach den <b>Folgen</b>, die sie nach sich zieht.
  <br />
  <%= fa_icon "arrow-right" %> <b>Konsequentialismus</b>
</p>
<p>
  Er bewertet die Folgen danach, wie viel <b>Nutzen</b> sie bringen (oder nicht bringen).
  <br />
  <%= fa_icon "arrow-right" %> <b>Nutzenprinzip</b>
</p>
<p>
  Er achtet auf den <b>Gesamtnutzen</b>,
  nicht nur auf den Nutzen für eine bestimmte Person oder für eine bestimmte Gruppe.
  <br />
  <%= fa_icon "arrow-right" %> <b>Universalprinzip</b>
</p>

<p>
  Wie man Nutzen oder Glück definiert ist im Utilitarismus von zentraler Bedeutung,
  da Handlungen und Folgen daran bemessen werden, wie viel Nutzen oder Glück sie bringen.
</p>
<p>
  Beispiele für Interessen oder Präferenzen sind:
  <ul>
    <li>
      Am Leben zu bleiben.
      </li>
      <li>
        Gesund sein und zu bleiben.
      </li>
      <li>
        Nicht hungern zu müssen.
      </li>
      <li>
        Nicht Qualen erleiden zu müssen.
      </li>
      <li>
        Politisch mitbestimmen zu können.
        </li>
        <li>
          Am öffentlichen Leben teilnehmen zu können.
          </li>
          <li>
            Ein Recht auf Bildung zu haben.
          </li>
    </ul>
</p>
<p>
  Das Universalprinzip des Utilitarismus fordert, dass bei der Errechnung
  des Gesamtnutzens einer Handlung <b>alle Betroffenen</b> berücksichtigt werden.
</p>
