<h5 class="text-center">Sind alle Menschen gleich?</h5>
<hr />
<p>
  Der Vergleich zwischen Mensch und Tier führte auch zu
   vertieften Überlegungen zum Vergleich zwischen <b>Menschen untereinander</b>.
</p>
<p>
  Menschliche Babys besitzen <b>weder Vernunft,
  die Fähigkeit zum Sprechen oder zum Benutzen von Werkzeug.</b>
</p>
<p>
  Manche Menschen mit psychischen Behinderungen können
  nicht sprechen und können keine einfachen Aufgaben lösen.
  Und Patienten mit fortgeschrittenem Alzheimer
  haben ein sehr eingeschränktes Wahrnehmungs- und Erinnerungsvermögen.
</p>
<p>
  Hier stellt sich die folgende Frage:
</p>
<p>
  <em>Wenn wir Tiere anders behandeln sollen, als Menschen,
  müssten wir dann nicht auch Menschen anders behandeln,
</em>
</p>
