<h5 class="text-center">Die Anthropologische Differenz</h5>
<hr />
<p>
  Mit der Aufweichung der Grenze zwischen Mensch und Tier
  kam die Idee auf, dass man Tiere mit Menschen auch <b>vergleichen</b> kann
  und dass es womöglich <b>Ähnlichkeiten</b> zwischen Menschen und Tieren gibt.
</p>
<p>
  Und wenn es Ähnlichkeiten zwischen Menschen und Tieren gibt,
  dann gibt es <b>vielleicht auch Gründe</b>, Tiere so zu behandeln,
  wie wir andere Menschen behandeln sollen.
</p>
<p>
  In der Tierethik haben sich verschiedene Theorien und Ideen entwickelt,
  inwiefern Tiere
</p>
