<h5 class="text-center">Die Anthropologische Differenz</h5>
<hr />
<p>
  In westlichen Traditionen herrschte lange die Überzeugung,
  dass es eine <b>klare Grenze</b> zwischen Menschen und Tieren gibt.
</p>
<p>
  Diese Grenze wurde darin begründet, dass
  Menschen <b>bestimmte Fähigkeiten</b> oder <b>Eigenschaften</b> haben,
  die Tiere nicht haben.
</p>
<p>
  Der Unterschied zwischen Mensch und Tier wird die <b>anthropologische Differenz</b>
  genannt.
</p>
<p>
  Kandidaten für diesen Unterschied sind:
  <ul>
    <li>
      Werkzeuggebrauch
    </li>
    <li>
      Sprachvermögen
    </li>
    <li>
      Selbstbewusstsein
    </li>
    <li>
      Vernunft / Rationalität
    </li>
  </ul>
</p>
<p>

</p>
