<h5 class="text-center">Ähnlichkeiten</h5>
<hr />
<p>
  Mit der Aufweichung der Grenze zwischen Mensch und Tier
  kam die Idee auf, dass man Tiere mit Menschen auch <b>vergleichen</b> kann.
<p>
  Und wenn es Ähnlichkeiten zwischen Menschen und Tieren gibt,
  dann gibt es <b>vielleicht auch Gründe</b>, Tiere so zu behandeln,
  wie wir andere Menschen behandeln sollen.
</p>
<p>
  In der Tierethik haben sich daraufhin verschiedene Theorien entwickelt und Positionen gebildet,
  wie sich <b>unser Umgang mit Tieren gestalten soll</b>.
</p>
<p>

</p>
