<h3 class="text-center">Anthropozentrismus</h3>
<hr />
<p>
  Viele frühere Philosophen rechtfertigten mit der
  anthropologischen Differenz eine <b>Höherstellung</b>
  des Menschen gegenüber den Tieren.
</p>
<p>
  Weil der Mensch bestimmte Eigenschaften oder Fähigkeiten besitzt,
  die nur er und sonst keine Tiere haben, ist der
  Mensch <em>wertvoller</em> oder <em>wichtiger</em>
  als alle anderen Tiere.
</p>
<p>
  Und weil der Mensch <b>wertvoller</b> ist,
  darf der Mensch mit den Tieren im Grunde machen, was er will.
</p>
<p>
  Die Idee, dass Menschen auf Tiere <b>keine Rücksicht nehmen müssen</b>,
  nennt sich <b>Anthropozentrismus</b>.
</p>
<p>
  "Anthropos" ist das griechische Wort für Mensch und "Zentrismus" steht für den "Mittelpunkt".
  "Anthropozentrismus" bedeutet wörtlich, dass der <b>Mensch im Zentrum</b> steht.
</p>
