<h5 class="text-center">Sind alle Menschen gleich?</h5>
<hr />
<p>
  Der Vergleich zwischen Mensch und Tier führte auch zu
   vertieften Überlegungen zum Vergleich zwischen <b>Menschen untereinander</b>.
</p>
<p>
  Menschliche Babys besitzen weder Vernunft,
   noch die Fähigkeit zu Sprechen oder zu Werkzeuggebrauch.
</p>
<p>
  Manche Menschen mit psychischen Behinderungen können
  nicht sprechen oder keine einfachen Aufgaben lösen.
</p>
<p>
  Und Patienten mit fortgeschrittenem Alzheimer
  haben ein sehr eingeschränktes Wahrnehmungs- und Erinnerungsvermögen.
</p>
<p>
  Es scheint, dass <b>manche Menschen selber nicht die
  Fähigkeiten oder Eigenschaften besitzen</b>,
  die Menschen sonst von Tieren unterscheiden.
</p>
<p>
  Die Begründung läuft meistens auf Analogien aus. 
</p>
