<h5 class="text-center">Eine klare Grenze?</h5>
<hr />
<p>
  Die Tierforschung in den vergangenen Jahren hat gezeigt,
  dass diese Grenze zwischen Mensch und Tier nicht
  so <b>einfach</b> oder <b>klar</b> ist, wie anfangs gedacht.
</p>
<p>
  <b>So wurden Tiere beobachtet, die Werkzeuge gebrauchen.</b>
  So benutzen Kapuziner-Affen Steine, um Nüsse zu knacken.
  Delphine stülpen sich Schwämme über die Nase, die sie vor zackigen Steinen
  bei der Nahrungssuche schützen. Und Elefanten werfen gezielt Steine auf
  elektrische Zäune, so dass die Stromversorgung unterbrochen wird.
</p>
<p>
  <b>Auch kommunizieren Tiere miteinander</b>.
  So hat jede Kuh einen eigenen charakteristischen Ruf für ihr Kalb.
  Wenn das Kalb von der Mutter getrennt wird, ruft die Mutter mit diesem Ruf nach ihrem Kalb.
  Auch wurden Wale beobachtet, wie sie miteinander durch Walgesang kommunizieren.
</p>
