<h3 class="text-center">Thomas von Aquin</h3>
<hr />
<p>
  Doch obwohl Thomas ein Anthropozentrist ist,
  verlangte er einen <b>freundlichen Umgang mit Tieren</b>.
</p>
<p>
  Thomas beobachtete, wie Menschen, die grausam gegenüber Tieren sind,
  dazu tendieren, auch <b>grausam gegenüber Menschen zu sein.</b>
</p>
<p>
  Wenn wir grausam zu Tieren sind,
  dann <b>gewöhnen wir uns eine Grausamkeit an</b> ,
  die sich auch gegenüber Menschen äussern kann.
</p>
<p>
  Damit wir keine solche Grausamkeit aneignen,
  <b>sollen wir freundlich gegenüber Tieren sein</b>.
</p>
<p>
  Wir sollten daher freundlich zu Tieren sein,
  nicht um den Tieren selbst willen,
  sondern <b>um der Menschen willen</b>.
</p>
