<h3 class="text-center">Thomas von Aquin</h3>
<hr />
<p>
  <b>Thomas von Aquin</b> war ein christlicher Philosoph aus dem Mittelalter.
</p>
<p>
  Nach Thomas haben nur Menschen einen <b>freien Willen</b> und die Fähigkeit,
  <b>Gründe für ihr Handeln anzugeben</b>.
</p>
<p>
  Auch gibt es für Thomas eine <b>göttliche Ordnung</b>,
  in der die Menschen an oberster Stelle stehen.
</p>
<p>
  Der Mensch darf Tiere und Pflanzen für seine Zwecke gebrauchen,
  weil Gott diese den Menschen zur Verfügung gestellt hat.
</p>
<p>
  Damit lässt sich Thomas als ein <b>Anthropozentrist</b> einstufen,
  weil nach seiner Philosophie Tiere und andere nicht-menschliche Wesen
  grundsätzlich nicht zu berücksichtigen sind.
</p>
