<h3 class="text-center">Thomas von Aquin</h3>
<hr />
<p>
  <b>Thomas von Aquin</b> war ein Philosoph aus dem Mittelalter.
</p>
<p>
  Für Thomas sind
</p>
<p>
  Dennoch wollte Thomas, dass wir <b>freundlich</b> gegenüber Tieren sein sollen.
</p>
<p>
  Wir sollte nach Thomas nicht freundlich gegenüber den Tieren sein,
  ihretwegen, sondern <b>indirekt</b> den Menschen wegen.
</p>
<p>
  Menschen die schlecht oder grausam zu Tieren sind,
  tendieren dazu, <b>auch schlecht und grausam zu Menschen zu sein.</b>

</p>
<p>
  Daher sollten wir nach Thomas freundlich zu den Tieren sein,
  weil wir
</p>
