<h3 class="text-center">Biozentrismus</h3>
<hr />
<p>
  Der Arzt und Nobelpreisträger <b>Albert Schweitzer</b>
  schrieb in seinem Buch "Ehrfurcht vor dem Leben"
  den berühmten Satz:
</p>
<p>
  <em>
    «Ich bin Leben, das leben will, inmitten von Leben, das leben will.»
  </em>
</p>
<p>
  Damit bringt Schweitzer seine ethische Position zum Ausdruck,
  nach der wir jegliche Formen von Leben respektieren sollen.
</p>
<p>
  Zu den Lebenwesen gehören zweifellos <b>Tiere</b> und <b>Pflanzen </b>.
  Nicht zu ihnen gehören <b>Steine, Landschaften</b> oder <b>Maschinen</b>.
</p>
<p>
  Grenzfälle sind oft mikroskopische Wesen,
  wie zum Beispiel <b>Enzyme, Bakterien</b> oder <b>Körperzellen</b>.
</p>
