<h3 class="text-center">Biozentrismus</h3>
<hr />
<p>
 Laut dem <b>Biozentrismus</b> müssen wir ein Wesen,
 dann berücksichtigen, <b>wenn es lebt.</b>
 "Bios" ist das griechische Wort für "Leben".
</p>
<p>
  Die Begründung des Biozentrismus ist,
  dass alle Lebewesen danach streben,
  <b>sich zu erhalten</b>.
</p>
<p>
  Wie wir Menschen auch am Leben bleiben wollen,
  so müssen wir auch das Leben anderer Wesen berücksichtigen.
</p>
<p>
  
</p>
