<h4 class="text-center">Das Extensionsmodell</h4>
<hr />
<p>
  "Extension" ist ein anderes Wort für "Erweiterung".
</p>
<p>
  Anhänger eines Extensionsmodells versuchen,
  den Bereich von Lebewesen, die wir zu berücksichtigen haben,
  zu bestimmten und gegebenenfalls zu <em>erweitern</em>.
</p>
<p>
  Die Anhänger eines Extensionsmodells haben <b>zwei Aufgaben</b>:
</p>
<p>
  <ol>
    <li>
      Sie müssen angeben, <b>welche Eigenschaften oder Fähigkeiten</b>
      wir zu berücksichtigen haben und <b>welche nicht</b>.
    </li>
    <li>
      Sie müssen erkären,
      <b>warum</b> wir die von ihnen genannten Eigenschaften oder Fähigkeiten zu berücksichtigen haben.
    </li>
  </ol>
</p>
<p>
  Unterschiedliche Positionen verweisen hierbei auf unterschiedliche Eigenschaften oder Fähigkeiten.
</p>
