<h4 class="text-center">Das Extensionsmodell</h4>
<hr />
<p>
  Viele Tierethiker argumentieren,
  dass Tiere und Menschen <b>sich ähnlich genug sind</b>
  und wir Menschen daher auch Tiere <b>in unseren Handlungen berücksichtigen müssen</b>.
</p>
<p>
  <b>Zum Beispiel:</b>
  Wie Menschen können auch Tiere leiden und Schmerzen empfinden.
  Tiere und Menschen <b>teilen</b> sich eine Eigenschaft,
  nämlich <b>Schmerzempfindlichkeit</b>.
</p>
<p>
  Wenn es also schlecht ist, anderen Menschen Schmerzen zuzufügen,
  dann ist es auch schlecht, Tieren Schmerzen zuzufügen,
  weil sie <b>die gleiche Eigenschaft teilen</b>.
</p>
<p>
  Hier wird die Idee des sogenannten <b>Extensionsmodell</b> sichtbar:
</p>
<p>
  <em>Wir müssen ein Lebewesen berücksichtigen,
  wenn es bestimmte Eigenschaften oder Fähigkeiten besitzt.</em>
</p>
