<h3 class="text-center">Pathozentrismus</h3>
<hr />
<p>
 Laut dem <b>Pathozentrismus</b> müssen wir ein Lebewesen,
 dann berücksichtigen, <b>wenn es die Fähigkeit zu leiden besitzt.</b>
 "Pathos" ist das griechische Wort für "Leid".
</p>
<p>
  Die Begründung des Pathozentrismus ist,
  dass alle leidfähigen Lebewesen darauf aus sind,
  <b>Leid zu vermindern</b> oder
  <b>Schmerzen zu vermeiden</b>.
</p>
<p>
    Leid und Schmerzen sind demnach <b>nie etwas Gutes</b>.
</p>
<p>
  Man soll Leid und Schmerzen verhindern,
  <b>unabhängig davon,</b>
  ob das betroffene Wesen ein Mensch, eine Kuh, ein Hund oder ein Schwein ist.
</p>
