<h3 class="text-center">Zentrismen</h3>
<hr />
<p>

</p>
<p>
  Welche Eigenschaften oder F채higkeiten m체ssen wir
</p>
<p>
  "Extension" ist ein anderes Wort f체r "Erweiterung".
</p>

<p>
  Thomas von Aquin. Wir haben Tieren gegen체ber keine Pflichten.
  Wir sollten aber dennoch freundlich mit ihnen umgehen.
</p>
Indirekt.
