<h3 class="text-center">Pathozentrismus</h3>
<hr />
<p>
  Wenn wir alle Wesen zu berücksichtigen haben,
  die die Fähigkeit zu leiden haben,
  dann stellt sich die Frage:
</p>
<p>
  <em>Welche Wesen haben diese Fähigkeit?</em>
</p>
<p>
  Den meisten <b>Tieren</b> wird zugestanden, dass sie die Fähigkeiten zu leiden haben,
  während <b>Pflanzen</b> diese Fähigkeit nicht zugestanden wird.
</p>
<p>
  Grenzfälle sind <b>Insekten</b> oder <b>Spinnentiere</b>.
  Ob diese Wesen leiden können oder nicht,
  ist eine Frage, die <b>wissenschaftlich</b> zu klären ist.
</p>
<p>
  <b>Peter Singer</b>, ein berühmter Tierethiker,
  schrieb einst, dass die Fähigkeit zu leiden wahrscheinlich
  <b>
  "irgendwo zwischen einer Garnele und einer Auster"
  beginnt.</b>
</p>
<p>

</p>
