<h3 class="text-center">Peter Singer</h3>
<hr />
<p>
Leidensfähigkeit -> Interssen
</p>
<p>
  Alle Interessen sind gleichwichtig
</p>
<p>
  Menschen haben mehr Interessen.
</p>
<p>
  ANIMAL LIBERATIONNNNN!
</p>
