<h3 class="text-center">Ein Gedankenexperiment!</h3>
<hr />
<p>
  Schau dir dieses Gedankenexperiment vom SRF (Schweizer Radio und Fernsehen) an!
</p>
<p>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe src='//tp.srgssr.ch/p/srf/embed?urn=urn:srf:video:2f09562a-5c56-4d5d-92fe-a8252b01612d&start=' allowfullscreen width='624' height='351' frameborder='0' name='Filosofix: Das Gedankenexperiment «Menschenfleisch»' allow="geolocation *; autoplay; encrypted-media"></iframe>
  </div>
</p>
