<h3 class="text-center">Peter Singer</h3>
<hr />
<p>
  Für Singer gilt es, die verschiedenen Interessen und Präferenzen,
  die Menschen und Tiere haben, <b>zu berücksichtigen</b>.
</p>
<p>
  Im Unterschied zu Thomas von Aquin sollten wir nach Singer
  freundlich zu Tieren sein, <b>um den Tieren selbst willen</b>.
</p>
<p>
  Wenn also Zum Beispiel ein Schwein den Wunsch hat, <b>sich im Schlamm zu wühlen</b>,
  dann müssen wir diesen Wunsch auch respektieren.
</p>
<p>
  Solange keine gewichtigen Gründe dagegen vorliegen,
  dürfen wir einem Schwein nicht die Möglichkeit,
  sich im Schlamm zu wühlen, entziehen.
</p>
