<h3 class="text-center">Peter Singer</h3>
<hr />
<p>
  <b>Peter Singer</b> ist ein australischer Philosoph.
</p>
<p>
  Als sogenannter <b>Präferenz-Utilitarist</b>
  argumentiert Singer, dass eine Handlung dann gut ist,
  wenn sie möglichst viele <b>Präferenzen oder Interessen</b>
  befriedigt.
</p>
<p>
  Weiter argumentiert Singer, dass nur die Wesen Präferenzen, Wünsche oder Interessen haben,
  die <b>schmerzempfindlich</b> sind.
</p>
<p>
  Wenn ein Wesen nicht schmerzempfindlich ist,
  dann kann man nach Singer <b>nicht sinnvollerweise sagen</b>,
  dass es Interessen oder Präferenzen hat.
</p>
<p>
  Somit lässt sich Singer als <b>Pathozentrist</b> einstufen.
</p>
