<h3 class="text-center">Tierethik</h3>
<hr />
<p>
  <b>Tierethik</b> ist die philosophische Disziplin,
  die sich mit der Bewertung menschlichen Handelns <b>gegenüber Tieren</b>
  auseinandersetzt.
</p>
<p>
  Sie versucht folgende Fragen zu beantworten:
  <ul>
    <li>
      <b>Wie sollen oder dürfen wir mit Tieren umgehen?</b>
    </li>
    <li>
      <b>Kann man Tiere auch falsch behandeln?</b>
    </li>
    <li>
      <b>Haben Tiere Rechte?</b>
    </li>
    <li>
      <b>Dürfen wir Tieren unnötiges Leid hinzufügen?</b>
    </li>
  </ul>

  Die Tierethik untersucht besonders
  die verschiedenen <b>Argumente, Begründungen, Analysen</b>
  und <b>Herangehensweisen</b>, die Antworten auf diese Fragen zu geben versuchen.

</p>
