<p>
  Die Idee ist dabei die folgende:
</p>
<p>
  <em>
    Wenn wir mit Tieren eine Eigenschaft teilen,
    dann sollen wir Tiere auch
  </em>
</p>
<p>

</p>
<p>
  So wie der Mensch leiden und Schmerzen haben kann,
  können auch viele Tiere leiden und Schmerzen haben.
</p>
<p>
  Die Idee ist dabei die folgende:
  Wir sollten ein Lebewesen dann in unserer Handlung berücksichtigen,
  wenn
</p>
<p>
  Schmerzen
</p>
<p>
  Wenn zwei Lebewesen unterschiedlich behandelt werden,
  dann <b>muss</b> dieser Unterschied
</p>
kann
und dass mehr <b>Ähnlichkeiten</b> als Unterschiede zwischen Menschen und Tieren bestehen.
</p>

<p>
  Welche Eigenschaften oder Fähigkeiten müssen wir
</p>
<p>
  "Extension" ist ein anderes Wort für "Erweiterung".
</p>

<p>
  Thomas von Aquin. Wir haben Tieren gegenüber keine Pflichten.
  Wir sollten aber dennoch freundlich mit ihnen umgehen.
</p>
Indirekt.
