<p>
  Die Idee ist dabei die folgende:
</p>
<p>
  <em>
    Wenn wir mit Tieren eine Eigenschaft teilen,
    dann sollen wir Tiere auch
  </em>
</p>
<p>

</p>
<p>
  So wie der Mensch leiden und Schmerzen haben kann,
  können auch viele Tiere leiden und Schmerzen haben.
</p>
<p>
  Die Idee ist dabei die folgende:
  Wir sollten ein Lebewesen dann in unserer Handlung berücksichtigen,
  wenn
</p>
<p>
  Schmerzen
</p>
<p>
  Wenn zwei Lebewesen unterschiedlich behandelt werden,
  dann <b>muss</b> dieser Unterschied
</p>
kann
und dass mehr <b>Ähnlichkeiten</b> als Unterschiede zwischen Menschen und Tieren bestehen.
</p>

<p>
  Welche Eigenschaften oder Fähigkeiten müssen wir
</p>
<p>
  "Extension" ist ein anderes Wort für "Erweiterung".
</p>

<p>
  Thomas von Aquin. Wir haben Tieren gegenüber keine Pflichten.
  Wir sollten aber dennoch freundlich mit ihnen umgehen.
</p>
Indirekt.

<p>
  Thomas wollte, dass wir freundlich mit Tieren umgehen sollen,
  weil Menschen, die <b>grausam zu Tieren sind</b>, dazu tendieren,
  auch <b>grausam zu Menschen sind</b>.
</p>
<p>
  Dennoch wollte Thomas, dass wir <b>freundlich</b> gegenüber Tieren sein sollen.
</p>
<p>
  Wir sollte nach Thomas nicht freundlich gegenüber den Tieren sein,
  ihretwegen, sondern <b>indirekt</b> den Menschen wegen.
</p>
<p>
  Menschen die schlecht oder grausam zu Tieren sind,
  tendieren dazu, <b>auch schlecht oder grausam zu Menschen zu sein.</b>
</p>
<p>

</p>
<p>
  Daher sollten wir nach Thomas freundlich zu den Tieren sein,
  weil wir
</p>
<p>
  In der Tugendethik geht es weniger um die Bewertung von Handlungen, sondern um die Bewertung von <b>Charaktereigenschaften</b>.
</p>
