$completed-background-color: #58d68d;
$started-background-color: #f9e79f;
$unstarted-background-color: #e5e7e9;

.multilinebutton{
    white-space:normal !important;
}

.completed-background{
  background-color: $completed-background-color;
}

.started-background{
  background-color: $started-background-color;
}

.unstarted-background{
  background-color: $unstarted-background-color;
}
