$completed-background-color: #58d68d;
$started-background-color: #F3E380;//#f9e79f;
$unstarted-background-color: white; //#e5e7e9;
$philosophiech-grey: #E6E5E6;
$philosophiech-yellow: #F3E380;
$philosophiech-green: #B7FFAF;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body {
  font-family: 'Roboto', sans-serif !important;
}

.previous-next-button {
  @extend .btn;
  @extend .btn-dark;
  /*
  background-color: $philosophiech-yellow !important;
  &:hover {
    background-color: darken($philosophiech-yellow, 15%) !important;
  }
  */
}

.start-course-button{
  @extend .btn;
  //@extend .btn-info;
  @extend .btn-dark;
  @extend .text-white;
  //background-color: $philosophiech-green !important;
  //&:hover {
  //  background-color: darken($philosophiech-green, 15%) !important;
  //}
}

.navbar {
  min-height: 100px;
}

.multilinebutton{
    white-space:normal !important;
}

.philosopiech-background{
  background-color: $philosophiech-grey !important;
}

.philosopiech-background-lighten{
  background-color: lighten($philosophiech-grey, 5%) !important;
}


.completed-background{
  background-color: $completed-background-color;
}

.started-background{
  background-color: $started-background-color;
}

.unstarted-background{
  background-color: $unstarted-background-color;
}

.space-between-li-10{
  li{
    margin-bottom: 10px;
  }
}

.space-between-li-20{
  li{
    margin-bottom: 20px;
  }
}

.slide-opacity{
  opacity: 0.8;
}

.bg-image-properties {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x:hidden;
}

.bg-image-landscape {
  background-image: linear-gradient(rgba(255,255,255, 0.9), rgba(255,255,255, 0.9)), url(asset_path("landscape.jpg"));
  background-position: center;
  @extend .bg-image-properties;
}

.bg-image-kant {
  background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.8)), url(asset_path("kant.jpg"));
  background-position: center left;
  @extend .bg-image-properties;
}

.bg-image-domino {
  background-image: linear-gradient(rgba(255,255,255,0.93), rgba(255,255,255,0.93)), url(asset_path("domino.jpg"));
  background-position: center;
  @extend .bg-image-properties;
}

.bg-image-aristotle {
  background-image: linear-gradient(rgba(255,255,255,0.93), rgba(255,255,255,0.93)), url(asset_path("aristotle.jpg"));
  background-position: center;
  @extend .bg-image-properties;
}
