<h3 class="text-center">Kurs abgeschlossen!</h3>
<hr />
<p>
  <b><%= @account.attendances.where(course_id: course.id).first.points %></b> Punkte gesammelt!
</p>
<p>
  <b>Du hast diesen Orden erhalten!</b>
</p>
<% if @account.attendances.where(course_id: course.id).first.result1.blank? || (@account.attendances.where(course_id: course.id).first.result1 == "Deontologie") %>
<div class="text-center rounded border philosopiech-background p-2 my-3">
  <%= image_tag("konsequentialismus-badge.png", class: "img-fluid") %>
</div>
<% else %>
<div class="text-center rounded border philosopiech-background p-2 my-3">
  <%= image_tag("deontologie-badge.png", class: "img-fluid") %>
</div>
<% end %>
<p>
  Schau dir noch die anderen Kurse an!
</p>
<p>
  <%= link_to 'Zum Kurs-Überblick zurückkehren', courses_path, class: "btn btn-info text-white" %>
</p>

<script>
  $( document ).ready(function() {
    console.log("abschluss loaded!");
    setStatus(1, "COMPLETED");
  });
</script>
