<h3 class="text-center">Kurs abgeschlossen!</h3>
<hr />
<p>
  <b><%= @account.attendances.where(course_id: course.id).first.points %></b> Punkte gesammelt!
</p>
<p>
  <b>Du hast diesen Orden erhalten!</b>
</p>
<% if @account.attendances.where(course_id: course.id).first.result1.blank? %>
<div class="text-center rounded border philosopiech-background">
  <%= image_tag("konsequentialismus-badge.png", class: "img-fluid") %>
</div>
<% elsif @account.attendances.where(course_id: course.id).first.result1 == "Deontologie" %>
<div class="text-center rounded border philosopiech-background">
  <%= image_tag("deontologie-badge.png", class: "img-fluid") %>
</div>
<% else %>
<div class="text-center rounded border white-bg p-2 my-3">
  <%= image_tag("deontologie-badge.png", class: "img-fluid") %>
</div>
<% end %>
<p>

</p>
<p>

</p>

<script>
  $( document ).ready(function() {
    console.log("abschluss loaded!");
    setStatus(1, "COMPLETED");
  });
</script>
