<h3 class="text-center">Kurs abgeschlossen!</h3>
<hr />
<p>
  <b><%= @account.attendances.where(course_id: course.id).first.points %> Punkte gesammelt!</b>
</p>
<p>
  
</p>
<p>

</p>

<script>
  $( document ).ready(function() {
    console.log("abschluss loaded!");
    setStatus(1, "COMPLETED");
  });
</script>
