<h4 class="text-center">Deine erste Prüfung!</h4>
<hr />
<p>
  Auf der nächsten Folie siehst du oben ein <b>Wort</b> und darünter <b>drei Kästchen</b> mit Text.
</p>
<p>
  Versuche herauszufinden, <b>welches</b> der drei Kästchen zum <b>zum obenstehenden Wort passt</b>!
</p>
<p>
  <b>Klicke</b> dann auf das Kästchen, von dem du denkst, dass es zum obenstehenden Wort passt.
</p>
