<h2 class="text-center">1. Übung</h2>
<hr />
<p>
  Du hast nun drei der bekanntesten ethischen Theorien kennen gelernt.
</p>
<p>
  Auf der nächsten Folie siehst du oben ein Wort und darünter <b>drei Kästchen</b> mit Text.
</p>
<p>
  Versuche herauszufinden, <b>welches</b> der drei Kästchen zum <b>zum obenstehenden Wort passt</b>!
</p>
<p>
  Klicke dann auf das Kästchen, von dem du denkst, dass es zum obenstehenden Wort passt.
</p>
