<h5 class="text-center">Was passt zum obenstehenden Wort?</h5>
<hr />

<div id="concept" class="text-center mb-4">
  <div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
</div>

<div id="definition" class="text-center mb-4">

</div>

<script>

var concepts = [
    ["Ethik", 7],
    ["Tugendethik", 6],
    ["Konsequentialismus", 1],
    ["Deontologie", 2],
    ["Utilitarismus", 3],
    ["Tugende", 4],
    ["Goldene Regel", 5],
    ["Laster", 8],
]

var definitions = [
    ["Eine philosophische Disziplin, die sich mit der Bewertung menschlichen Handelns auseinandersetzt.", 7],
    ["Ob eine Handlung gut oder schlecht ist, hängt davon ab, ob sie aus einer Tugend oder aus einer Laster entspringt.", 6],
    ["Ob eine Handlung gut oder schlecht ist, hängt von den Folgen ab, die eine Handlung nach sich zieht.", 1],
    ["Ob eine Handlung gut oder schlecht ist, hängt von der Handlung selbst ab.", 2],
    ["Eine Handlung ist gut, wenn sie viel Glück produziert und schlecht, wenn sie viel Leid verursacht.", 3],
    ["Klugheit, Weisheit, Gerechtigkeit, Tapferkeit und Mässigung", 4],
    ["Was du nicht willst, dass man dir tu, das füg auch keinem andern zu.", 5],
    ["Aberglaube, Ungerechtigkeit, Feigheit und Zügellosigkeit.", 8],
]

    var score = 0;
    var currentnumber = 0;

  $( document ).ready(function() {

  console.log("Allocate Concepts loaded!");
  getNextRound(currentnumber);

  $("body").on("click", ".acanswer", function(e) {
    e.stopImmediatePropagation();

    var value = parseInt($(this).attr("value"));

    console.log("RESULTS!");
    console.log($(this).attr("value"));
    console.log(concepts[currentnumber][1]);
    console.log(value === concepts[currentnumber][1]);

    if(value === concepts[currentnumber][1]){
      score = score + 1
      currentnumber = currentnumber + 1;

      $(this).animate({backgroundColor: "#32CD32" }, 200, function(){
        setTimeout(function(){
            getNextRound(currentnumber);
          },500);
      });

    } else {
      $(this).animate({backgroundColor: "#DC143C" }, 200);
    }

  });


  function getNextRound(number) {
    console.log(number);
    //concept
    $("#concept").fadeOut("fast", function(){
      $("#concept").empty().append(
        `<div class="bg-light rounded p-1">
          <b>
            ${concepts[number][0]}
          </b>
        </div>`
      ).fadeIn("fast");
    });

    //definition
    $("#definition").fadeOut("fast", function(){
      var random1;
      var random2;
      do {
        random1 = Math.floor(Math.random()*definitions.length);
        random2 = Math.floor(Math.random()*definitions.length);
      } while (number === random1 || number === random2 || random1 === random2);

      var array = [random1, random2, number];

      let random_array = array
        .map((a) => ({sort: Math.random(), value: a}))
        .sort((a, b) => a.sort - b.sort)
        .map((a) => a.value)

      $("#definition").empty().append(
        `<button type="button" value="${definitions[random_array[0]][1]}" class="btn btn-primary multilinebutton btn-block acanswer p-3 mb-4">${definitions[random_array[0]][0]}</button>
        <button type="button" value="${definitions[random_array[1]][1]}" class="btn btn-primary multilinebutton btn-block acanswer p-3 mb-4">${definitions[random_array[1]][0]}</button>
        <button type="button" value="${definitions[random_array[2]][1]}" class="btn btn-primary multilinebutton btn-block acanswer p-3 mb-4">${definitions[random_array[2]][0]}</button>`
      ).fadeIn("fast");
    });
  }
});
</script>
