<h3 class="text-center">Beispiel Spenden</h3>
<hr />
<p>
  Eine tugendhafte Person ist <b>grosszügig</b>.
</p>
<p>
  Grosszügigkeit ist das Mittlere zwischen zwei Extremen, nämlich
  <b>Knauserei</b> und <b>Verschwendungssucht</b>.
</p>
<p>
  Im Falle eines Notfalls muss eine Person überlegen,
  wie sie handeln soll.
</p>
<p>
  Eine tugendhafte Person handelt genauso,
  dass sie nicht <b>zu knauserig</b> oder <b>zu verschwenderisch</b> handelt,
  sondern <b>genau richtig</b>, nämlich <b>grosszügig</b>.
</p>
<p>
  Nichts oder wenig zu spenden, wäre <b>knauserig</b>, man würde an Grosszügigkeit <b>mangeln</b>
</p>
<p>
  Zu viel zu spenden wäre <b>verschwenderisch</b>, man hätte <b>zu viel</b> Grosszügigkeit.
</p>
<p>
  Die tugendhafte Person handelt genau im richtigen Mass:
  Sie spendet genug, aber nicht zu viel, um selbst in Armut zu fallen.
</p>
