<h3 class="text-center">Eudaimonia</h3>
<hr />
<p>
  Wie erreichen wir dieses Eudaimonia?
</p>
<p>
  Nach Aristoteles erreichen wir Eudaimonia,
  indem wir auf eine <b>bestimmte Art und Weise leben</b>
  oder eine bestimmte <b>Lebensform annehmen</b>.
</p>
<p>
  Spezifisch menschliches Leben
</p>
<p>
    Vernunft
</p>
<p>
    Der Weg ist das Ziel
</p>
<p>
    Jedes Lebewesen hat sein eigenes Eudaimonia.
</p>
