<h3 class="text-center">Beispiel Krieg</h3>
<hr />
<p>
    Feige, tapfer, übermütig.
</p>
<p>
  <div class="table-responsive">
    <table class="table" style="word-wrap: break-word;">
      <thead>
        <tr>
          <th scope="col">Laster</th>
          <th scope="col">Tugend</th>
          <th scope="col">Laster</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Furcht</td>
          <td>Tapferkeit</td>
          <td>Zuversicht</td>
        </tr>
        <tr>
          <td>Stumpfsinnigkeit</td>
          <td>Besonnenheit</td>
          <td>Zügellosigkeit</td>
        </tr>
        <tr>
          <td>Knauserei</td>
          <td>Grosszügigkeit</td>
          <td>Verschwendungssucht</td>
        </tr>
      </tbody>
    </table>
  </div>
</p>

<p>
  Die handelnde Person soll jeweils versuchen, die <b>goldene Mitte</b> anzustreben.
</p>
<p>
    Sie muss die Situation abschätzen und das tun
</p>
