<h3 class="text-center">Aristoteles</h3>
<hr />
<p>
  Als Hauptvertreter der Tugendethik gilt der Philosoph <b>Aristoteles</b>.
</p>
<p>
  Für Aristoteles ist jedes menschliche Handeln auf <b>ein Gut</b> oder auf <b>ein Ziel gerichtet</b>.
</p>
<p>
   Manche Güter wollen wir um ihrer selbst willen,
   andere nur als Mittel zum Zweck, nämlich, um andere Güter zu erhalten.
</p>
<p>
  Nach Aristoles gibt es nun ein <b>höchstes Gut</b> oder ein <b>letztendliches Ziel</b>.
  Dieses höchste Gut nennt Aristoteles <b>Eudaimonia</b>
</p>
<p>
    Manche Güter wollen wir aber nur, um ein anderes Gut zu erhalten.
    Geld, zum Beispiel, erstreben wir nicht um ihrer selbst willen
</p>
<p>
  So arbeiten wir, um Geld zu verdienen oder
  trinken Wasser, um nicht zu verdursten.
</p>
<p>
  Manche Dinge wollen wir aber nur, um andere Ziele zu erreichen.
  Geld, zum Beispiel, erstreben wir nicht um seiner selbst willen, sondern um andere Güter zu kaufen.
</p>
<p>

</p>
