<h3 class="text-center">Beispiel Krieg</h3>
<hr />
<p>
  Eine tugendhafte Person ist <b>tapfer</b>.
</p>
<p>
  Tapferkeit ist das Mittlere zwischen zwei Extremen, nämlich
  <b>Furcht</b> und <b>Zuversicht</b>.
</p>
<p>
  Im Falle eines Krieges muss die tugendhafte Person überlegen,
  wie sie handeln soll.
</p>
<p>
  Vor dem Krieg zu fliehen wäre <b>feige</b>
</p>
<p>
    Feige, tapfer, übermütig.
</p>
