<h3 class="text-center">Der Post-Mitarbeiter</h3>
<hr />
<p>
  Weil Lara so erfolgreich ist, wurde sie beauftragt,
  von nun an den <b>wichtigsten Kunden</b> zu betreuen.
</p>
<p>
  Da Toni schon l채nger bei der Post arbeitet
  und diesen wichtigen Kunden gut kennt, fragt Lara Toni um Rat.
</p>
<p>
  Weil Toni eifers체chtig ist, gibt er Lara <b>absichtlich eine Falschinformation</b>.
</p>
<p>
  Aufgrund dieser Falschinformation macht Lara einen verh채ngnisvollen Fehler,
  der den Kunden ver채rgert und der viel Geld verschwendet.
</p>
<p>
  Lara verliert daraufhin ihre Stelle bei der Post.
</p>
