<h3 class="text-center">Der Bank-Mitarbeiter</h3>
<hr />
<p>
  <b>Toni</b> arbeitet seit 10 Jahren bei der Bank.
</p>
<p>
  Obwohl Toni sich Mühe gibt, hatte er bisher wenig Erfolg bei der Arbeit.
</p>
<p>
  Er bekommt oft schwierige Kunden und es gelingt ihm nur selten,
  gute Geschäfte abzuschliessen.
</p>
<p>
  <b>Lara</b> ist Tonis Mitarbeiterin.
</p>
<p>
  Obwohl sie erst vor einem Jahr angefangen hat,
  wurde sie schon zwei Mal befördert.
</p>
<p>
  Lara ist beliebt und talentiert. Sie schafft es immer wieder, gute Geschäfte abzuschliessen.
</p>
