<h3 class="text-center">Kritik an den Theorien</h3>
<hr />
<p>
  Die drei vorgestellten ethischen Theorien sind nicht ohne Kritik geblieben.
</p>
<p>
  Im Folgenden werden Überlegungen vorgestellt, die jeweils
  gegen eine ethische Theorie sprechen.
</p>
