<h3 class="text-center">Deontologen</h3>
<hr />
<p>
  Deontologen sind bekannt dafür...
</p>
<p>
  Als Rationalisten Vernunft, Nachdenken
</p>
<p>
  Universalisten, Normen sind für alle Menschen gleich verbindlich.
</p>
