<h3 class="text-center">Deontologen</h3>
<hr />
<p>
  Deontologen sind bekannt dafür, dass sie <b>Generalisten</b>, <b>Rationalisten</b> und .. sind.
</p>
<p>
  Als <b>Generalisten</b> fordern sie, dass <b>alle Menschen</b> die <b>gleichen</b> Regeln befolgen sollen.
  So akzeptieren Deontologen nicht, dass m
</p>
<p>
  Als Rationalisten (<em>ratio</em> ist lateinisch für Vernunft) achten sie weniger auf die Folgen oder Konsequenzen einer Handlung,
  sondern
</p>
<p>
  Universalisten, Normen sind für alle Menschen gleich verbindlich.
</p>
