<h3 class="text-center">Deontologen</h3>
<hr />
<p>
  Deontologen sind bekannt dafür, dass sie <b>Generalisten</b>, <b>Rationalisten</b> und .. sind.
</p>
<p>
  Als <b>Generalisten</b> fordern sie, dass alle Menschen die <b>gleichen</b> Regeln befolgen sollen.
  So akzeptieren Deontologen nicht, dass es manchen Menschen erlaubt sein soll, zu töten,
</p>
<p>
  Als Rationalisten Vernunft, Nachdenken
</p>
<p>
  Universalisten, Normen sind für alle Menschen gleich verbindlich.
</p>
