<h3 class="text-center">Deontologie</h3>
<hr />
<p>
  Welche Regeln müssen wir befolgen? Welche Pflichten haben wir?
</p>
<p>
  Universalisierbarkeit
</p>
<p>
  Wenn alle das täten...
</p>
<p>
  
</p>
