<h3 class="text-center">Deontologen</h3>
<hr />
<p>
  Deontologen sind bekannt dafür, dass sie <b>Generalisten</b> und <b>Rationalisten</b> sind.
</p>
<p>
  Als <b>Generalisten</b> denken sie, dass <b>alle Menschen</b> die <b>gleichen Regeln</b> befolgen sollen.
  Sie akzeptieren nicht, dass für bestimmte Menschen unterschiedliche Regeln oder Pflichten herrschen.
</p>
<p>
  Als <b>Rationalisten</b> (<em>ratio</em> ist lateinisch für Vernunft) achten sie weniger auf die Umstände, Folgen oder Konsequenzen einer Handlung,
  sondern darauf, ob eine Handlung an sich <b>vernünftig</b> oder <b>sinnvoll</b> ist oder nicht.
</p>
<p>
  Deontologen denken daher anders über ethische Fälle nach,
  als zum Beispiel Konsequentialisten, für die die Umstände, Folgen oder Konsequenzen einer Handlung wichtig sind.
</p>
