<h2 class="text-center">Ein Beispiel</h2>
<hr />
<p>
  Ein Beispiel, wie man eine Handlung in der Deontologie bewertet, könnte so aussehen: <br><br>
  Ist <b>Stehlen</b> intrinsisch schlecht? Möchtest du bestohlen werden? Falls nein, dann ist Stehlen intrinsisch schlecht.<br><br>
  Ist <b>Nothilfe leisten</b> intrinsisch gut? Möchtest du im Notfall Nothilfe bekommen? Falls ja, dann ist Nothilfe leisten intrinsischt gut.
</p>

<p>
  Dieses Prinzip nennt man manchmal auch die <b>goldene Regel</b>: <em>„Was du nicht willst, dass man dir tu, das füg auch keinem andern zu.“</em>
</p>
