<h2 class="text-center">Ein Beispiel</h2>
<hr />
<p>
  Nach dem Kantianismus sollten wir vor jeder Handlung prüfen,
  ob unsere Handlung eine ist, <b>von der wir wollen können,
  dass alle sie tun würden.</b>
</p>
<p>
  <b>Stell dir vor</b>, du wanderst im <b>Nationalpark</b>.
  Unterwegs machst du eine Essenspause.
  Nach dem Essen hat sich <b>ein Abfallhaufen</b> gebildet.
  Du könntest den Abfall liegen lassen oder ihn mitnehmen.
</p>
<p>
  Solltest du den Abfall liegen lassen?
</p>
<p>
  Nach dem Kantianismus musst du prüfen,
  ob du es wollen kannst, wenn <b>jeder seinen Abfall im Nationalpark liegen lassen würde</b>.
</p>
<p>
  Wenn jeder seinen Abfall im Nationalpark liegen lassen würde,
  dann gäbe es vor lauter Müll gar keinen Nationalpark mehr.
  Da du das nicht wollen kannst, <b>darfst du den Abfall nicht liegenlassen.</b>
</p>
