  <h2 class="text-center">Die Deontologie</h2>
  <hr />
  <p>
    In der <b>Deontologie</b> werden Handlungen nicht im Bezug auf die Folgen beurteilt,
    sondern die <b>Handlungen selbst</b> werden beurteilt.
  </p>
  <p>
    Eine Handlung ist gut, wenn sie <b>an sich gut</b> ist und
    eine Handlung ist schlecht, wenn sie <b>an sich schlecht</b> ist.
  </p>
  <p>
    Die Frage ist nun,
    was man unter einer <b>an sich guten Handlung</b> und
    einer <b>an sich schlechten Handlung</b> genau verstehen soll.
  </p>
