  <h2 class="text-center">Die Deontologie</h2>
  <hr />
  <p>
    <b>Deontologie</b> ist ein Sammelbegriff für ethische Theorien, die Handlungen <b>als solche</b> beurteilen.
  </p>
  <p>
    In der Deontologie werden Handlungen nicht in Bezug auf die Folgen beurteilt,
    sondern die <b>Handlungen selbst</b> werden beurteilt.
  </p>
  <p>
    Das griechische Wort <em><u>to deon</u></em>
    bedeutet "das Notwendige" oder "das Erforderliche".
  </p>
  <p>
    Daher kommt auch der Name "<em>Deon</em>tologie".
  </p>
  <p>
    Eine Handlung ist gut, wenn sie <b>an sich gut</b> ist und
    eine Handlung ist schlecht, wenn sie <b>an sich schlecht</b> ist.
  </p>
  <p>
    Die Frage ist nun,
    was man unter einer <b>an sich guten Handlung</b> und
    einer <b>an sich schlechten Handlung</b> genau verstehen soll.
  </p>
