
  <h2 class="text-center">Die Deontologie</h2>
  <hr />
  <p>
    Die <b>Deontologie</b> beurteilt eine Handlung nicht danach, welche Folgen sie hat,
    sondern nach <b>der Art der Handlung selbst</b>.
  </p>
  <p>
    Wenn uns jemand ein <b>Versprechen</b> gibt, dann erwarten wir, dass diese Person dieses Versprechen auch <b>hält</b>.
  </p>
  <p>
    Wenn wir uns mit jemanden <b>unterhalten</b>, dann wollen wir nicht, dass diese Person uns <b>anlügt</b>.
  </p>
  <p>
    Wenn jemand aber ein <b>Versprechen bricht</b> oder <b>lügt</b>, so die Deontologie, dann ist die Handlung schlecht,
    <b>unabhängig von den Folgen</b>, die jene Handlung nach sich zieht.
  </p>
  <p>
    Gewisse Handlungen, wie Lügen oder das Brechen von Versprechen, sind <b>schlecht an sich</b>, sie sind, wie man sagt, <b>intrinsisch schlecht</b>.
  </p>
  <p>
    Die Frage ist nun, <b>welche Handlungen intrsinsisch gut</b> und <b>welche intrinsisch schlecht</b> sind.
  </p>
