  <h2 class="text-center">Der Kantianismus</h2>
  <hr />
  <p>
      Der <b>Kantianismus</b> ist eine Variante einer deontologischen Theorie.
  </p>
  <p>
    Der Kantianismus <b>definiert</b>, was eine gute und was eine schlechte Handlung ist:
  </p>
  <p>
    <ul>
      <li>
        Eine Handlung ist gut, wenn man wollen kann, dass <b>alle sie tun w端rden</b>.
      </li>
      <li>
        Eine Handlung ist schlecht, wenn man wollen kann, dass <b>alle sie <u>nicht</u> tun w端rden</b>.
      </li>
    </ul>
  </p>
  <p>
    <b>Beispiel f端r eine schlechte Handlung: </b>
  </p>
  <p>
    <b>Diebstahl</b> ist eine Handlung, die an sich schlecht ist.
    Ich will nicht in einer Welt leben, in der alle stehlen.
  </p>
  <p>
    <b>Beispiel f端r eine gute Handlung: </b>
  </p>
  <p>
    <b>Wahrheit sagen</b> ist eine Handlung, die an sich gut ist.
    Ich will in einer Welt leben, in der alle die Wahrheit sagen.
  </p>
