<h4 class="text-center">Konflikte zwischen Pflichten</h4>
<hr />
<p>
    Kritiker argumentieren,
    dass es im Kantianismus zu Konflikten zwischen zwei oder mehreren Pflichten kommen kann.
  </p>
  <p>
    Angenommen, du versteckst eine unschuldige Person in deinem Haus vor einer brutalen Mafia.
  </p>
  <p>
    Eines Tages kommt die Mafia bei dir vorbei und fragt dich nach dem Ort dieser unschuldigen Person.
  </p>
  <p>
    <b>Was tun?</b>
  </p>
  <p>
    Hier scheint ein Konflikt zwischen der Pflicht, <em>die Wahrheit zu sagen</em>
    und der Pflicht <em>Unschuldige zu beschützen</em> entstanden zu sein.
    </p>
    <p>
      <b>Egal wie man handelt, man macht in beiden Fällen etwas falsch.</b>
      Für Kritiker darf eine Ethik keine solche Konflikte zulassen.
    </p>
