
  <h3 class="text-center">Ein Persönlichkeitstest!</h3>
  <hr />
  <p class="text-justify">
    Da der <b>Konsequentialismus</b> und die <b>Deontologie</b> Handlungen unterschiedlich bewerten,
    liefern sie auch <b>unterschiedliche Empfehlungen</b> ab, wie man sich in bestimmten Situationen <b>verhalten soll</b>.
  </p>
  <p>
    <b>Finde heraus, nach welcher Ethik du dich richtest!</b>
  </p>
  <p>
    Auf der nächsten Seite wirst du mit Situationen konfrontiert,
    in denen Konsequentialisten und Deontologen sich unterschiedlich verhalten würden.
  </p>
  <p>
    <b>
      Wie würdest du dich in diesen Situationen entscheiden?
    </b>
  </p>
