<h3 class="text-center">Kritik</h3>
<hr />
<p>
  Der Kantianismus ist nicht ohne Kritik geblieben.
</p>
<p>
  Im Folgenden werden <b>drei Einwände</b>
  gegenüber dem Kantianismus erläutert:
</p>
<p>
  <ol>
    <li>
      Der Kantianismus kann zu einem Konflikt zwischen Pflichten führen.
    </li>
    <li>
      Leerer Formalismus?
    </li>
    <li>
      Der Utilitarismus kann zu erheblichen Ungleichheiten führen.
    </li>
  </ol>
</p>
