<h3 class="text-center">Kritik</h3>
<hr />
<p>
  Der Kantianismus ist nicht ohne Kritik geblieben.
</p>
<p>
  Im Folgenden werden <b>drei Einw채nde</b>
  gegen체ber dem Kantianismus erl채utert:
</p>
<p>
  <ol>
    <li>
      Der Kantianismus kann zu einem Konflikt zwischen Pflichten f체hren.
    </li>
    <li>
      Pflichtbewusstes Verhalten kann tragische Folgen haben.
    </li>
    <li>
      
    </li>

  </ol>
</p>
