<h3 class="text-center">Beispiel Schwarzfahren</h3>
<hr />
<p>
  Schwarzfahren ist das Benutzen eines Zuges ohne ein gültiges Billet zu besitzen.
</p>
<p>
  Würde die kantische Ethik das <b>Schwarzfahren</b> erlauben?
</p>
<p>
  Da ein Zug so oder so fährt, gibt es keinen grossen Schaden,
  wenn jemand einmal ohne ein gütliges Billet fährt.
</p>
<p>
    Nach Kant sollen wir aber nicht fragen,
    ob das Schwarzfahren zu einem grossen Schaden führt oder nicht,
    sondern, ob <b>es zu Widersprüchen kommt, wenn alle schwarzfahren würden</b>.
</p>
<p>
  Wenn jeder schwarzfahren würde,
  dann ginge das Bahnunternehmen zugrunde und
  man könnte überhaupt nicht mehr Bahnfahren.
</p>
<p>
  Daher wäre das Schwarzfahren <b>verboten</b>.
</p>
