  <h5 class="text-center">Was ist eine ethische Theorie?</h5>
  <hr>
  <p>
    Eine ethische Theorie hat <b>drei Merkmale</b>.
  </p>
  <p>
    1. Eine ethische Theorie <b>sagt uns, wie</b> wir uns in einer bestimmten Situation <b>verhalten sollen.</b>
  </p>
  <p>
    2. Eine ethische Theorie <b>fordert</b>, dass wir so handeln müssen,
    wie sie uns vorgibt, zu handeln.
  </p>
  <p>
    Das heisst: Wenn wir nicht so handeln, wie es eine ethische Theorie von uns fordert,
    dann tun wir <b>etwas Falsches</b> und wir <b>müssen uns ändern</b>.
  </p>
  <p>
    3. Eine ethische Theorie <b>richtet sich an Alle</b> gleichermassen.
  </p>
  <p>
    Eine ethische Theorie gilt nicht nur für alle Schweizer oder für alle Deutsche,
    sondern für <b>alle, die nach dieser Theorie handeln können</b>.
  </p>
