<h3 class="text-center">Drei Ethische Theorien</h3>
<hr>
<p>
  Auf den nächsten Folien lernst du <b>drei ethische Theorien</b> kennen.
</p>
<p>
  Diese drei Theorien unterscheiden sich in der <b>Art und Weise</b>, wie sie <b>Handlungen beurteilen</b>.
</p>
<p>
  <ul class="space-between-li-10">
    <li class="mb-2"><b>Konsequentialismus: </b> Eine Handlung ist gut,
      wenn sie gute Folgen hat.</li>
    <li class="mb-2"><b>Deontologie: </b> Eine Handlung ist gut,
      wenn die Handlung an sich gut ist.</li>
    <li class="mb-2"><b>Tugendethik: </b> Eine Handlung ist gut,
      wenn sie aus einer Tugend entspringt.</li>
  </ul>
</p>
