  <h3 class="text-center">Drei ethische Theorien</h3>
  <hr>
  <p>
    Damit wir besser auf ethische Fragen antworten können,
    entwickeln Philosophen und Philosophinnen <b>ethische Theorien</b>.
  </p>
  <p>
    Diese Theorien helfen uns, <b>Entscheidungen zu treffen</b>,
    wenn wir nicht wissen, was wir in einer bestimmten Situation tun sollen.
  </p>
  <p>
    Drei ethische Theorien sind besonders einflussreich.
    Sie heissen <b>Konsequentialismus</b>, <b>Deontologie</b> und <b>Tugendethik</b>.
  </p>
  <div class="text-center rounded white-bg p-2 my-3">
    <%= image_tag("ethiktheorien.png", class: "img-fluid") %>
  </div>
