  <h3 class="text-center">Drei ethische Theorien</h3>
  <hr>
  <p>
    In der Ethik gibt es drei einflussreiche <strong>Theorien</strong>.
  </p>
  <p>
    Sie heissen <b>Konsequentialismus</b>, <b>Deontologie</b> und <b>Tugendethik</b>.
  </p>
  <br>
  <div class="text-center rounded white-bg p-2">
    <%= image_tag("ethiktheorien.png", class: "img-fluid") %>
  </div>
