  <h6 class="text-center">Was ist eine ethische Theorie?</h6>
  <hr>
  <p>
    Eine ethische Theorie hilft uns, Entscheidungen zu treffen,
    wie wir uns in einer bestimmten Situation verhalten sollen.
  </p>
  <p>
    Eine ethische Theorie <b>fordert</b> auch,
    dass wir <b>nach ihr handeln müssen</b>.
  </p>
  <p>
    Das bedeutet, dass, wenn wir nicht nach einer ethischen Theorie handeln,
    wir <b>etwas Falsches tun</b> und wir <b>uns ändern müssen</b>.
  </p>
  <p>
    Keine Persönlichkeit 
  </p>
  <p>
    Zwar empfehlen uns unterschiedlichen Theorien,
    aber alle
    Unterschiedliche Theorien empfehlen uns, anders zu handeln.
  </p>
  <p>

  </p>
  <p>
    Nicht Sache der persönlichen Entscheidung
  </p>
  <p>
    Kein Wunschkonzert
  </p>
  <p>
    Ethische Theorien
  </p>
  <p>
    Sie beanspruchen, dass wir nur dann richtig handeln,
    wenn wir ihren Theorien folgen
  </p>
  <p>
    Objektivität
  </p>

  <p>
    Damit wir besser auf ethische Fragen antworten können,
    entwickeln Philosophen und Philosophinnen <b>ethische Theorien</b>.
  </p>
