  <h3 class="text-center">Drei ethische Theorien</h3>
  <hr>
  <p>
    Um auf ethische Fragen antworten zu können, haben Philosophen verschiedene <b>Theorien</b> entwickelt.
  </p>
  <p>
    Davon waren drei Theorien besonders einflussreich.
    Sie heissen <b>Konsequentialismus</b>, <b>Deontologie</b> und <b>Tugendethik</b>.
  </p>
  <br>
  <div class="text-center rounded white-bg p-2">
    <%= image_tag("ethiktheorien.png", class: "img-fluid") %>
  </div>
  <p>
    
  </p>
