<h3 class="text-center">Drei Ethische Theorien</h3>
<hr>
<p>
  Auf den nächsten Folien lernst du <b>drei ethische Theorien</b> kennen.
</p>
<p>
  Diese drei Theorien unterscheiden sich in der <b>Art und Weise</b>, wie sie <b>Handlungen beurteilen</b>:
</p>
<p>
  <b>Konsequentialismus: </b> Eine Handlung ist gut,
    wenn sie gute Folgen hat.
</p>
<p>
  <b>Deontologie: </b> Eine Handlung ist gut,
    wenn die Handlung an sich gut ist.
</p>
<p>
  <b>Tugendethik: </b> Eine Handlung ist gut,
    wenn sie aus einer Tugend entspringt.
</p>
