<h3 class="text-center">Übung</h3>
<hr />
<p>
  Auf der nächsten Folie findest du eine <b>Übung</b> vor!
</p>
<p>
  Du bekommst <b>oben</b> eine Frage gestellt und
  du kannst <b>unten</b> zwischen verschiedenen Antworten eine <b>auswählen</b>.
</p>
<p>
  Wenn du diese Übung richtig löst, dann bekommst du <b>Punkte</b>.
</p>
<p>
  Wenn du die Übung gleich beim ersten Mal richtig löst,
  dann erhältst du <b>die volle Punktzahl</b>.
</p>
<p>
  Wenn du aber zuerst einen Fehler gemacht hast,
  dann erhältst du bei der richtigen Antwort <b>weniger Punkte</b>.
</p>
<p>
  <b>Versuche also gleich beim ersten Mal die richtige Antwort zu finden!</b>
</p>
