<h3 class="text-center">Begriffe und Argumente</h3>
<hr />
<p>
  In den folgenden Folien wirst du jeweils die Grundbegriffe und die wichtigsten Argumente der jeweiligen Theorien näher kennen lernen.
</p>
