<h3 class="text-center">Generalismus und Partikularismus</h3>
<hr />
<p>
  <em>Generalismus: </em> Moralische Normen konstitutieren sich in <em>allgemeinen Prinzipien</em>.
</p>
<p>
  <em>Partikularismus: </em> Moralische Normen konstitutieren sich in <em>konkreten Einzelfallurteilen</em>.
</p>
<p>
  "Situationsethik" vs.
</p>
Niemand soll irgendwem Leid zufügen vs. Jeder soll für seine Familienangehörigen sorgen.
