<h2 class="text-center">Was ist Ethik?</h2>
<hr>
<p>
  Die Ethik ist eine philosophische Disziplin,
  die sich mit der <b>Bewertung menschlichen Handelns</b> auseinandersetzt.
</p>
<p>
  Sie versucht folgende Fragen zu beantworten:
  <ul>
    <li><b>Was darf ich tun?</b></li>
    <li><b>Wie soll ich leben?</b></li>
    <li><b>Wie sollen wir miteinander umgehen?</b></li>
    <li><b>Was ist das gute Leben?</b></li>
  </ul>
</p>
<p>
  Die Ethik untersucht besonders die verschiedenen <b>Argumente, Begründungen, Analysen</b> und <b>Herangehensweisen</b>,
  die Antworten auf diese Fragen zu geben versuchen.
</p>
