<h2 class="text-center">Was ist Ethik?</h2>
<hr>
<p>
  Die <b>Ethik</b> ist ein Teilgebiet der Philosophie.
</p>
<p>
  Sie beschäftigt sich mit Fragen wie:
  <ul class="space-between-li-10">
    <li>
      <b>Was soll ich tun?</b>
    </li>
    <li>
      <b>Wie verhalte ich mich richtig?</b>
    </li>
  </ul>
</p>
<p>
  Ethische Fragen tauchen im Alltag überall auf.
</p>
<p>
  <b>Zum Beispiel:</b> Darf ich meinen Nachbarn anlügen?
  Soll ich dem alten Mann über die Strasse helfen?
  Muss ich mein Versprechen immer halten?
</p>
<p>
  <b>Philosophen</b> und <b>Philosophinnen</b> denken
  über solche Fragen nach und versuchen, die besten Antworten auf diese Fragen zu finden.
</p>
