<h3 class="text-center">Was soll ich tun?</h3>
<hr>
<p>
  Hin und wieder kommt es vor,
  dass <b>wir nicht wissen</b>,
  was wir in einer bestimmten Situation tun sollen.
</p>
<p>
  Manchmal haben wir Gründe <b>dafür</b>, als auch <b>dagegen</b>,
  eine bestimmte Handlung zu tun oder zu unterlassen.
</p>
<p>
  <b>Zum Beispiel: </b>
  Soll ich meinem Vorgesetzten die Wahrheit sagen,
  auch wenn ich damit meinen Freund in Schwierigkeit bringe?
</p>
<p>
 Einerseits haben wir die Pflicht, unserem Vorgesetzten die Wahrheit zu sagen.
  Andererseits wollen wir unsere Freunde vor Ärger bewahren.
</p>
<p>
  Die ethische Frage lautet hier: <b>Was soll ich in dieser Situation tun?</b>
</p>
