<h3 class="text-center">Kantianismus</h3>
<hr />
<p>
  Als Hauptvertreter der Deontologie gilt der Philosoph <b>Immanuel Kant</b>.
</p>
<p>
  Seine Ethik wird manchmal "Kantianismus" oder die "kantische Position" genannt.
  Anhänger seiner Ethik werden "Kantianer" genannt.
</p>
<p>
  Kant formulierte den berühmten <b>kategorischen Imperativ</b>:
</p>
<p class="ml-3">
  <em>Handle nur nach derjenigen Maxime, durch die du zugleich wollen kannst, dass sie ein allgemeines Gesetz werde.</em>
</p>
<p>
  Nach Kant gibt es also einen Weg, <b>herauszufinden, welche Regeln wir befolgen müssen und welche nicht</b>.
</p>
<p>
  Auf der nächsten Folien findest du Beispiele dafür, wie wir nach Kant Regeln bestimmen können, die wir befolgen müssen.
</p>
