<h2 class="text-center">Ein Beispiel</h2>
<hr />
<p>
  Nach dem Utilitarismus sollten wir uns so verhalten,
  dass wir <b>möglichst viel Glück hervorbringen</b>
  und <b>möglichst wenig Leid produzieren</b>.
</p>
<p>
  <b>Stell dir vor</b>,
  du arbeitest für den <b>Nationalfonds</b>.
  Deine Aufgabe ist es, zu entscheiden,
  <b>welche Forschung finanziert werden soll</b>
  und <b>welche nicht</b>.
</p>
<p>
  Du musst nun zwischen zwei Anträgen einen auswählen:
</p>
<p>
  Der erste Antrag möchte ein <b>Medikament gegen Malaria</b> entwickeln.
  Täglich <b>sterben 1'200 Menschen an Malaria</b>.
</p>
<p>
  Der zweite Antrag möchte ein <b>Medikament gegen AIDS</b> entwickeln.
  Täglich <b>sterben 400 Menschen an AIDS</b>.
</p>
