<h2 class="text-center">Ein Beispiel</h2>
<hr />
<p>
  Welchen Antrag solltest du auswählen?
</p>
<p>
  Nach dem Utilitarismus musst du dir überlegen,
  <b>welcher Antrag am meisten Leid verhindert</b>
  und <b>am meisten Glück hervorbringt</b>.
</p>
<p>
  Da <b>zahlenmässig</b> mehr Menschen an Malaria sterben,
  als an AIDS,
  kannst du mehr <b>Leid verhindern</b> und mehr <b>Glück hervorbringen</b>,
  wenn du den ersten Antrag auswählst.
</p>
<p>
  Nach dem Utilitarismus sollten wir uns <b>immer</b> so verhalten.
</p>
<p>
   Wir sollten uns <b>in jeder Situation</b> überlegen,
   wie wir am meisten Glück hervorbringen und am
   meisten Leid verhindern können.
</p>
