<h4 class="text-center">Heiligt der Zweck die Mittel?</h4>
<hr />
<p>
  Im <b>Konsequentialismus</b> werden Handlungen im Bezug auf <b>die Folgen</b> beurteilt, die eine Handlung nach sich zieht.
</p>
<p>
  Betrachte erneut diese Situation:
</p>
<p>
  <em>
    Du bist Chirurg und ein Experte für Transplantationschirurgie. Du hast 4 Patienten, die dringend neue Organe benötigen. Zufälligerweise sitzt eine Person im Wartesaal,
              dessen Organe allen 4 Patienten das Leben retten könnten. Würdest du diese Person im Wartesaal für die anderen 4 Patienten opfern?
  </em>
</p>
<p>
  Der Tod eines Menschen verursacht Leid und Trauer, doch der Tod von 4 Menschen verursacht
  noch mehr Leid und Trauer und ist demnach, nach einer <b>utilitaristischen Ethik</b>, schlimmer
  als der Tod eines Menschen.
</p>
<p>
  Kritiker argumentieren nun, dass eine solche Ethik fatale Konsequenzen hätte:
  <i>
  Müssten wir uns denn nicht jedes Mal fürchten, wenn wir ins Krankenhaus gehen, dass wir vielleicht geopfert werden?
  </i>
  Eine solche Ethik würde jegliches Vertrauen, das wir in unsere Mitmenschen haben, vernichten und jedes gesunde Zusammenleben verhindern.
</p>
<p>
  Ist eine solche Ethik noch plausibel?
</p>
<p>
  Betrachte erneut diese Situation:
</p>
<p class="text-justify" style="font-size: small;">
  <b>
    Du bist Chirurg und ein Experte für Transplantationschirurgie. Du hast 4 Patienten, die dringend neue Organe benötigen. Zufälligerweise sitzt eine Person im Wartesaal,
              dessen Organe allen 4 Patienten das Leben retten könnten. Würdest du diese Person im Wartesaal für die anderen 4 Patienten opfern?
  </b>
</p>
<p>
  Der Tod eines Menschen verursacht Leid und Trauer, doch der Tod von 4 Menschen verursacht
  noch mehr Leid und Trauer und ist demnach, nach einer <b>utilitaristischen Ethik</b>, schlimmer
  als der Tod eines Menschen.
</p>
<p>
  Kritiker argumentieren nun, dass eine solche Ethik fatale Konsequenzen hätte:
  <i>
  Müssten wir uns denn nicht jedes Mal fürchten, wenn wir ins Krankenhaus gehen, dass wir vielleicht geopfert werden?
  </i>
  Eine solche Ethik würde jegliches Vertrauen, das wir in unsere Mitmenschen haben, vernichten und jedes gesunde Zusammenleben verhindern.
</p>
<p>
  Ist eine solche Ethik noch plausibel?
</p>
