<h3 class="text-center">Der Konsequentialismus</h3>
<hr />
<p>
  <b>Konsequentialismus</b> ist ein Sammelbegriff für ethische Theorien,
  die Handlungen aufgrund ihrer <b>Folgen</b> oder <b>Konsequenzen</b> beurteilen.
</p>
<p>
  Daher auch der Name "<em>Konsequen</em>tialismus".
</p>
<p>
  Eine Handlung ist <b>gut</b>, wenn sie <b>gute Folgen</b> hat und eine Handlung ist <b>schlecht</b>,
  wenn sie <b>schlechte Folgen</b> hat.
</p>
<p>
  Die Frage ist nun, was man genau unter <b>guten</b> und <b>schlechten Folgen</b> verstehen soll.
</p>
