<h4 class="text-center">Heiligt der Zweck die Mittel?</h4>
<hr />
<p>
  Im <b>Konsequentialismus</b> werden Handlungen im Bezug auf <b>die Folgen</b> beurteilt, die eine Handlung nach sich zieht.
</p>
<p>
  Kritiker des Konsequentialismus' argumentieren, dass eine solche Ethik verheerende Konsequenzen für unser Zusammenleben hätte.
</p>
<p>
  Betrachte erneut diese Situation:
</p>
