<h3 class="text-center">Einf체hrung in die Ethik</h3>
<hr />
<p>
  In diesem Kurs erwirbst du folgende Kompetenzen:
  <ul class="space-between-li-10">
    <li>
      Du kannst <b>drei ethische Theorien</b> nennen.
    </li>
    <li>
      Du kannst erkl채ren, wie diese ethischen Theorien eine <b>Handlung bewerten</b>.
    </li>
    <li>
      Du kannst Bewertungen von Handlungen <b>einer ethischen Theorie zuordnen</b>.
    </li>
  </ul>
</p>
<p>
  Mit diesen Kompetenzen kannst du ...
  <ul class="space-between-li-10">
    <li>
      ... besser 체ber Bewertungen <b>nachdenken</b>.
    </li>
    <li>
      ... Kritik und Lob an Handlungen <b>aus체ben</b>.
    </li>
    <li>
      ...
    </li>
  </ul>
</p>
