<h3 class="text-center">Einführung in die Ethik</h3>
<hr />
<p>
  In diesem Kurs erwirbst du folgende Kompetenzen:
  <ul class="space-between-li-10">
    <li>
      Du kannst <b>drei ethische Theorien</b> nennen.
    </li>
    <li>
      Du kannst erklären, wie diese ethischen Theorien eine <b>Handlung bewerten</b>.
    </li>
    <li>
      Du kannst jeweils <b>zwei Grundbegriffe</b> einer ethischen Theorie nennen.
    </li>
    <li>
      Du kannst Bewertungen von Handlungen <b>einer ethischen Theorie zuordnen</b>.
    </li>
  </ul>
</p>
<p>
  Mit diesen Kompetenzen kannst du...
  <ul>
    <li>
      ... besser über Bewertungen nachdenken.
    </li>
    <li>
      ... besser argumentieren.
    </li>
    <li>
      ...
    </li>
  </ul>
</p>
