<h6 class="text-center"><u>Einleitung</u></h6>
<hr />
<h3 class="text-center">Kompetenzen</h3>
<hr />
<p>
  In diesem Kurs erwirbst du folgende Kompetenzen:
  <ul class="space-between-li-20">
    <li>
      Du kannst <b>drei ethische Theorien</b> nennen.
    </li>
    <li>
      Du kannst erklären, wie diese ethischen Theorien eine <b>Handlung bewerten</b>.
    </li>
    <li>
      Du kannst Bewertungen von Handlungen <b>einer ethischen Theorie zuordnen</b>.
    </li>
  </ul>
</p>
