<h3 class="text-center">Nutzen</h3>
<hr />
<p>
  In diesem Kurs erwirbst du folgende <b>Kompetenzen</b>:
  <ul>
    <li>
      Du kannst <b>drei ethische Theorien</b> nennen.
    </li>
    <li>
      Du kannst erklären, wie
    </li>
    <li>
      Du kannst erkennen, zwischen den ethischen Theorien unterscheiden.
    </li>
  </ul>
</p>
