<h3 class="text-center">Konsequentialismus</h3>
<hr />
<p>
  <b>Konsequentialismus</b> ist ein Sammelbegriff für Theorien, die Handlungen aufgrund ihrer <em>Konsequenzen</em> beurteilen.
</p>
<p>
  Daher der Name "Konsequentialismus", weil im Konsequentialismus die <b>Konsequenzen</b>, also die Folgen, <b>im Fokus stehen</b>.
</p>
<hr />
<p>
  Der <b>Utilitarismus</b> ist eine so berühmte konsequentialistische Theorie, dass Konsequentialismus und Utilitarismus manchmal synonym verwendet werden.
</p>
<p>
    Util lateinisch englisch
</p>
<p>
  Nützlichkeitsprinzip
</p>
