<h3 class="text-center">Konsequentialismus</h3>
<hr />
<p>
  <b>Konsequentialismus</b> ist ein Sammelbegriff für ethische Theorien, die Handlungen aufgrund ihrer <em>Konsequenzen</em> beurteilen.
</p>
<p>
  Daher der Name "Konsequentialismus", weil im Konsequentialismus die <b>Konsequenzen</b> einer Handlung <b>im Fokus stehen</b>.
</p>
<hr />
<p>
    Der <b>Utilitarismus</b> ist <b>eine bestimmte Form</b> einer ethischen Theorie, die in den Bereich des Konsequentialismus fällt.
</p>
<p>
  Das Grundprinzip des <b>Utilitarismus</b> ist die <b>Steigerung</b> oder <b>Maximierung</b> von <b>Nutzen</b>.
</p>
<p>
  Der Name "Utilitarismus" ist aus dem lateinischen Wort für Nutzen, <em>utilitas</em>, entsprungen.
</p>
