<h3 class="text-center">Kritik</h3>
<hr />
<p>
  Der Utilitarismus ist nicht ohne Kritik geblieben.
</p>
<p>
  Im Folgenden werden <b>drei Einw채nde</b>
  gegen체ber dem Utilitarismus erl채utert:
</p>
<p>
  <ul>
    <li>
      Ethisches Handeln soll sich nicht am Nutzen orientieren.
    </li>
    <li>
      Es ist zu schwierig, den Gesamtnutzen zu errechnen.
    </li>
    <li>
      Der Utilitarismus kann zu erheblichen Ungleichheiten f체hren.
    </li>
  </ul>
</p>
