<h3 class="text-center">Kritik</h3>
<hr />
<p>
  Der Utilitarismus ist nicht ohne Kritik geblieben.
</p>
<p>
  Im Folgenden werden <b>drei Einwände</b>
  gegenüber dem Utilitarismus erläutert:
</p>
<p>
  <ol>
    <li>
      Eine ökonomische Bemessung ist kategorial verschieden von einer ethischen Beurteilung.
    </li>
    <li>
      Es ist zu schwierig, den Gesamtnutzen zu errechnen.
    </li>
    <li>
      Der Utilitarismus kann zu erheblichen Ungleichheiten führen.
    </li>
  </ol>
</p>
