<h1 class="text-center">Ethik und Moral</h1>
<hr>
<p>
  Die <b>Ethik</b> wird manchmal auch als <b>Moralphilosophie</b> bezeichnet.
</p>
<p>
  Die
</p>
<p>
  Doch was bedeutet <b>Moral</b>? Und was bedeutet <b>moralisch</b>?
</p>
<p>
  <ul>
  <li>
      Verschiedene Morale
  </li>
  <li>
      Richtet sich an Menschen.
  </li>
  <li>
    Unbedingter Anspruch
  </li>
  <li>
    Allgemeingültig
  </li>
  </ul>
</p>
