<h3 class="text-center">Nicht-utilitaristische Theorien</h3>
<hr />
<p>
  Der Utilitarismus ist eine so prominente konsequentialistische Theorie, so dass Konsequentialismus und Utilitarismus manchmal <b>synonym</b> verwendet werden.
</p>
<p>
  Doch müssen konsequentialistische Theorien nicht immer utilitaristisch sein. Beispiele:
</p>
<p>
    Beispiele für nicht-utilitaristische Theorien könnten so aussehen:
    <ol>
      <li>
          Ziel: Senkung der Armut
      </li>
      <li>
        Ziel: Erhaltung der Demokratie
        </li>
        <li>
            Ziel: Verringerung von Ungleichheit
        </li>
    </ol>
</p>

<p>
  Denkfigur: Ideale Beobachter
</p>
