<h6 class="text-center">Nutzen</h6>
<hr />
<p>
  <b>Gl체cks-Utilitarismus: </b>
</p>
<p>
  <em>Zu maximieren ist die Gesamtmenge an empfundenem Gl체ck.</em>
</p>
<p>
  <b>Pr채ferenz-Utilitarismus: </b>
</p>
<p>
  <em>Zu maximieren ist die Gesamtmenge an befriedigter Pr채ferenz.</em>
</p>
