<h3 class="text-center">Nutzen als Glück</h3>
<hr />
<p>
  Wie man Nutzen oder Glück definiert ist im Utilitarismus von zentraler Bedeutung,
  da Handlungen und Folgen daran bemessen werden, wie viel Nutzen oder Glück sie bringen.
</p>
<p>
  Weiter besteht im Utilitarismus die Idee, dass Nutzen oder Glück und deren Gegenteile (z.B. Schaden oder Schmerz) <b>gegeneinander ab- und aufgewogen werden können</b>.
</p>
<p>
  Die Art und Weise, wie Utilitaristen eine Handlung beurteilen, kann mit einer <b>Kosten- und Nutzenanalyse</b> aus der Ökonomie verglichen werden.
  </p>
<p>
  Man listet alle Nutzen auf der einen Seite auf und alle Schäden auf der anderen und errechnet jeweils die Summe.
</p>
<p>
    Auf den nächsten Folien findest du ein Beispiel einer solchen Analyse.
</p>
