<h6 class="text-center">Nutzen als Befriedigung von Interessen</h6>
<hr />
<p>
  Ein etwas modernerer Vorschlag ist die <b>Gleichsetzung</b> von Nutzen mit der <b>Befriedigung von Interessen</b> oder <b>Präferenzen</b>.
</p>
<p>
  Demnach ist eine Handlung gut, wenn sie möglichst viele Interessen oder Präferenzen befriedigt.
</p>
<p>
  Beispiele für Interessen oder Präferenzen sind:
  <ul>
    <li>
      Nicht getötet werden zu wollen.
      </li>
      <li>
        Politisch mitbestimmen zu können.
        </li>
        <li>
          Am öffentlichen Leben teilnehmen zu können.
          </li>
    </ul>
</p>
<p>
  Ähnlichkeiten?
  </p>
