<h3 class="text-center">Nutzen</h3>
<hr />
<p>
  Wie man Nutzen oder Glück definiert ist im Utilitarismus von zentraler Bedeutung
  und ist heute noch Gegenstand zahlreicher Debatten.
</p>
<p>
  Weiter besteht im Utilitarismus die Idee, dass Nutzen oder Glück und deren Gegenteile <b>gegeneinander ab- und aufgewogen werden können</b>.
</p>
<p>
  Eine utilitaristische Analyse könnte wie folgt aussehen:
</p>
<p>
    Eltern ins Altersheim bringen:
    <div class="row">
      <div class="col-6">
        Glück:
      </div>
      <div class="col-6">
        Leid:
      </div>
    </div>
</p>
<p>
    Das grösstmögliche Glück für die grösstmögliche Zahl.
</p>
