<h6 class="text-center">Nutzen als Befriedigung von Interessen</h6>
<hr />
<p>
  Ein anderer Vorschlag ist die <b>Gleichsetzung</b> von Nutzen mit <b>Befriedigung von Interessen</b> oder <b>Präferenzen</b>.
  Demnach ist eine Handlung gut, wenn sie möglichst viel Interessen oder Präferenzen befriedigt.
</p>
<p>
  Wie man Nutzen oder Glück definiert ist im Utilitarismus von zentraler Bedeutung
  und ist heute noch Gegenstand zahlreicher Debatten.
</p>
<p>
  Weiter besteht im Utilitarismus die Idee, dass Nutzen oder Glück und deren Gegenteile <b>gegeneinander ab- und aufgewogen werden können</b>.
</p>
<p>
  Eine utilitaristische Analyse könnte wie folgt aussehen:
</p>
<p>
    Eltern ins Altersheim bringen:
    <div class="row">
      <div class="col-6">
        Glück:
      </div>
      <div class="col-6">
        Leid:
      </div>
    </div>
</p>
<p>
    Das grösstmögliche Glück für die grösstmögliche Zahl.
</p>
