<h3 class="text-center">Nutzen</h3>
<hr />
<p>
    Das grösstmögliche Glück für die grösstmögliche Anzahl.
</p>
<p>
  Grösste Glück der grössten Zahl.
</p>
<p>
  Ein klassischer Vorschlag ist die <b>Gleichsetzung</b> von Nutzen mit <b>Glück</b>.
  Demnach ist eine Handlung gut, wenn sie viel Glück produziert.
</p>
