<h5 class="text-center">Eltern ins Altersheim bringen?</h5>
<hr />
<p>
  In dieser Analyse kam heraus, dass die Handlung, Eltern ins Altersheim zu bringen,
   mehr Schaden als Nutzen hervorbringt.
</p>
<p>
  Aufsummiert hat diese Handlung einen Nutzenswert von <b>+34</b> und
  aufsummiert hat diese Handlung einen Schadenswert von <b>-37</b>.
</p>
<p>
  Zusammengezählt gibt es einen <b>Gesamtnutzen</b> von <b>-3</b>
  und somit ist diese Handlung schlechter, als Eltern <b>nicht</b> ins Altersheim zu bringen.
</p>
<p>
 Nach dem Utilitarismus sollten wir bei allen Handlungen auf den Gesamtnutzen achten.
 Je höher der Gesamtnutzen, desto besser.
</p>
<p>
  Daraus ergibt sich die bekannte utilitaristische Formel:
</p>
<p>
    <em>
      "Das grösstmögliche Glück für die grösstmögliche Zahl."
    </em>
</p>
