<h4 class="text-center">Zwei Arten des Utilitarismus</h4>
<hr />
<p>
  Damit kann man zwischen zwei berühmten Arten des Utilitarismus unterscheiden:
</p>
<p>
  <b>Glücks-Utilitarismus: </b>
</p>
<p>
  <em>Zu maximieren ist die Gesamtmenge an empfundenem Glück.</em>
</p>
<p>
  <b>Präferenz-Utilitarismus: </b>
</p>
<p>
  <em>Zu maximieren ist die Gesamtmenge an befriedigter Präferenz.</em>
</p>
