<h3 class="text-center">Geschichte</h3>
<hr />
<p>
  Aufgrund der <b>3 Elementen</b> des Utilitarismus
  treten Utilitaristen oft als <b>Sozialreformer,
  Tierrechtler</b> und <b>Pragmatiker</b> auf.
</p>
<p>
  Als Sozialreformer fordern sie Gesetze, Massnahmen oder Handlungen,
  die nicht nur bestimmte Gesellschaftsschichten (wie z.B. dem Adel) nützen,
  sondern allen gleichermassen, inklusive den unteren Gesellschaftsschichten.
</p>
<p>
  Als Tierrechtler fordern sie die bessere Behandlung von Tieren,
  da auch Tiere Glück und Leid empfinden können oder bestimmte Interessen haben
  und daher in unseren Handlungen berücksichtigt werden sollen.
</p>
<p>
  Als Pragmatiker achten Utiltaristen darauf, dass 
</p>
