<h3 class="text-center">Das Universalprinzip</h3>
<hr />
<p>
Sozialreformerisch
</p>
<p>
  Wissenschaftsorientiert, Resultate orientiert

  Brutales Beispiel: Alte Menschen umbringen, besser für alle
</p>
<p>
  Tierfreundlich
</p>
