<h1 class="text-center">Universalprinzip</h1>
<hr />
<p>
  Der Utilitarismus fordert, dass bei der Errechnung
  des Gesamtnutzens einer Handlung <b>alle Betroffenen</b>
  dieser Handlung berücksichtigt werden.
</p>
<p>
  Somit ist ein Mensch, der nur seinen eigenen Nutzen maximiert, kein Utilitarist, sondern ein <b>Egoist</b>.
</p>
<p>
  Ebenso sind National-Sozialisten keine Utilitaristen,
  weil diese nur das Wohl der eigenen Gesellschaft im Blick haben,
  nicht aber das der anderen.
</p>
<p>

</p>
<p>
Tiere sind empfindungsfähig.
</p>
