<h3 class="text-center">Mehr Literatur</h3>
<p>
  <div class="list-group">
    <a href="https://www.exlibris.ch/de/buecher-buch/deutschsprachige-buecher/christopher-panza/ethik-fuer-dummies/id/9783527707102" target="_blank" class="list-group-item list-group-item-action">
      <b>"Ethik für Dummies"</b>
      - von Christopher Panza, Adam Potthast und Stefan Pannor
    </a>
    <a href="https://www.exlibris.ch/de/buecher-buch/deutschsprachige-buecher/dave-robinson/ethik/id/9783935254243" target="_blank" class="list-group-item list-group-item-action">
      <b>"Ethik - ein Comic-Buch"</b>
      - von Dave Robinson
    </a>
    <a href="https://www.exlibris.ch/de/buecher-buch/deutschsprachige-buecher/dave-robinson/ethik/id/9783935254243" target="_blank" class="list-group-item list-group-item-action">
      <b>"Ethik - eine Einführung"</b>
      - von Otfried Höffe
    </a>
  </div>
</p>

<h3 class="text-center">Quellen</h3>
<p>
  <div class="list-group">
    <a href="http://www.utb-shop.de/autoren/hubner-dietmar/einfuhrung-in-die-philosophische-ethik-7843.html" target="_blank" class="list-group-item list-group-item-action">
      <b>"Einführung in die philosophische Ethik"</b>
      - von Hübner, Dietmar
    </a>
    <a href="https://www.exlibris.ch/de/buecher-buch/deutschsprachige-buecher/annemarie-pieper/einfuehrung-in-die-ethik/id/9783825246969" target="_blank" class="list-group-item list-group-item-action">
      <b>"Einführung in die Ethik"</b>
      - von Annemarie Pieper
    </a>
    <a href="https://www.exlibris.ch/de/buecher-buch/deutschsprachige-buecher/herlinde-pauer-studer/einfuehrung-in-die-ethik/id/9783825223502" target="_blank" class="list-group-item list-group-item-action">
      <b>"Einführung in die Ethik"</b>
      - von Herlinde Pauer-Studer
    </a>
  </div>
</p>
