<h1 class="text-center">Quellen</h1>
<hr>
<p>
  <div class="list-group">
    <a href="http://www.utb-shop.de/autoren/hubner-dietmar/einfuhrung-in-die-philosophische-ethik-7843.html" target="_blank" class="list-group-item list-group-item-action">
      "Einführung in die philosophische Ethik" <br>
      - von Hübner, Dietmar
    </a>
    <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
    <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Vestibulum at eros</a>
  </div>
</p>
