<h5 class=text-center>Grundmerkmale des Utilitarismus</h5>
<hr />
<p>
  Die vier Grundmerkmale des Utilitarismus sind:
<ol>
    <li class="mb-3">
      Eine Handlung ist gut, wenn sie gute Folgen hat.
      <br />
      <%= fa_icon "arrow-right" %> <b>Konsequentialismus</b>
    </li>
    <li class="mb-3">
      Gute Folgen sind solche, die viel Nutzen erbringen oder die n端tzlich f端r das Erreichen eines Zieles sind.
      <br />
      <%= fa_icon "arrow-right" %> <b>Nutzenprinzip</b>
    </li>
    <li class="mb-3">
        Das Ziel ist die maximale Bed端rfnis- oder Interessenbefriedigung oder das Erreichen von Gl端ckseligkeit.
        <br />
        <%= fa_icon "arrow-right" %> <b>Hedonistisches Prinzip</b>
    </li>
    <li class="mb-3">
      Es geht nicht nur um das Wohlergehen eines Einzelnen oder das einer bestimmten Gruppe,
      <em>sondern um das Wohlergehen aller von einer Handlung Betroffenen</em>.
        <br />
        <%= fa_icon "arrow-right" %> <b>Sozialprinzip</b>
    </li>
</ol>
</p>
