<h4 class=text-center>Utilitarismus</h4>
<hr />
<p>
  Das Grundprinzip des Utilitarismus lautet:
<br />
  <em>
    Ein Handelnder sollte die Handlung genau dann ausführen,
    wenn durch sie ein maximaler Gesamtnutzen über sämtliche Betroffenen hinweg erreicht wird.
  </em>
</p>
<p>
  Der Utilitarismus besteht somit aus <b>3 Elementen</b>:
</p>
<p>
  Er beurteilt eine Handlung nach den <b>Folgen</b>, die sie nach sich zieht.
  <br />
  <%= fa_icon "arrow-right" %> <b>Konsequentialismus</b>
</p>
<p>
  Er bewertet die Folgen danach, wie viel <b>Nutzen</b> sie bringen (oder nicht bringen).
  <br />
  <%= fa_icon "arrow-right" %> <b>Nutzenprinzip</b>
</p>
<p>
  Er achtet auf den <b>Gesamtnutzen</b>, nicht nur auf den Nutzen für eine bestimmte Person oder für eine bestimmte Gruppe.
  <br />
  <%= fa_icon "arrow-right" %> <b>Sozialprinzip</b>
</p>
