<h4 class="text-center">Arten von Utilitarismus</h4>
<hr />
<p>
  Wie heisst die Art von Utilitarismus, in der es darum geht,
  <em>die Gesamtmenge an empfundenem Glück zu maximieren</em>?
</p>
<p>
  <div class="input-group input-group-lg mb-3">
  <input type="text" name="glueck" class="form-control" placeholder="" aria-label="..." aria-describedby="basic-addon2">
  <div class="input-group-append">
    <span class="input-group-text" id="basic-addon2">-Utilitarismus</span>
  </div>
</div>
</p>
<hr />
<p>
  Wie heisst die Art von Utilitarismus, in der es darum geht,
  <em>die Gesamtmenge an befriedigter Präferenz zu maximieren</em>?
</p>
<p>
  <div class="input-group input-group-lg mb-3">
  <input type="text" name="praeferenz" class="form-control" placeholder="" aria-label="..." aria-describedby="basic-addon2">
  <div class="input-group-append">
    <span class="input-group-text" id="basic-addon2">-Utilitarismus</span>
  </div>
</div>
</p>
<p>
  <button type="button" id="utilubung" class="btn btn-info btn-lg my-3">Antworten prüfen!</button>
</p>

<!-- Modal -->
<div class="modal fade animated tada" id="utilubungm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Übung abgeschlossen!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Schliessen</button>
        <button type="button" id="get-next-slide" data-dismiss="modal" class="btn btn-info get-slide-button mx-2" slide="<%= current_slide + 1 %>">Weiter</button>
      </div>
    </div>
  </div>
</div>

<script>
  $( document ).ready(function() {
    console.log("utilubung loaded!");
    console.log("value:");
    console.log($('input[name="praeferenz"]').val());

    var points = 100;
    var score = 0;

    $( "#utilubung" ).click(function() {

      if (['glück', 'glücks', 'glueck', 'gluecks'].indexOf($('input[name="glueck"]').val().toLowerCase()) >= 0) {
        $('input[name="glueck"]').removeClass("is-invalid");
        $('input[name="glueck"]').addClass("is-valid");
      } else {
        $('input[name="glueck"]').removeClass("is-valid");
        $('input[name="glueck"]').addClass("is-invalid");
        points = points - 50;
      }

      if (['präferenz', 'praeferenz'].indexOf($('input[name="praeferenz"]').val().toLowerCase()) >= 0) {
          $('input[name="praeferenz"]').removeClass("is-invalid");
          $('input[name="praeferenz"]').addClass("is-valid");
      } else {
        $('input[name="praeferenz"]').removeClass("is-valid");
        $('input[name="praeferenz"]').addClass("is-invalid");
        points = points - 50;
      }

    });

  });
</script>
