<h4 class="text-center">Arten von Utilitarismus</h4>
<hr />
<p>
  Wie heisst die Art von Utilitarismus, in der es darum geht,
  <em>die Gesamtmenge an empfundenem Glück zu maximieren</em>?
</p>
<p>
  <div class="input-group input-group-lg mb-3">
  <input type="text" class="form-control" placeholder="" aria-label="..." aria-describedby="basic-addon2">
  <div class="input-group-append">
    <span class="input-group-text" id="basic-addon2">-Utilitarismus</span>
  </div>
</div>
</p>
<hr />
<p>
  Wie heisst die Art von Utilitarismus, in der es darum geht,
  <em>die Gesamtmenge an befriedigter Präferenz zu maximieren</em>?
</p>
<p>
  <div class="input-group input-group-lg mb-3">
  <input type="text" class="form-control" placeholder="" aria-label="..." aria-describedby="basic-addon2">
  <div class="input-group-append">
    <span class="input-group-text" id="basic-addon2">-Utilitarismus</span>
  </div>
</div>
</p>
<p>
  <button type="button" id="get-next-slide" class="btn btn-info get-slide-button <%= "invisible" if current_slide == course.slides.count-1 %> mx-2" slide="<%= current_slide + 1 %>">Weiter</button>
</p>
