<h2 class="text-center">Beispiele</h2>
<hr />
<p>
  Ein <b>tugendhafter Mensch</b> ist einer, der Tugende besitzt, also gute Charaktereigenschaften.
</p>
<p>
  Die Tugendethik empfiehlt, so zu handeln,
  <b>wie ein tugendhafter Mensch in deiner Situation handeln würde</b>.
</p>
<hr />
<p>
  Nehmen wir an, du hast etwas <b>gestohlen</b>.
</p>
<p class="ml-3">
  (a)</b> Angenommen, du hast aus <b>Neid</b> gestohlen.
</p>
<p>
  Die Frage ist nun, ob <b>Neid </b> eine Eigenschaft ist,
  die wir einer <b>tugendhaften</b> Person zubilligen würden.
</p>
<p>
   Falls nicht, dann war diese Handlung <b>schlecht</b>.
</p>
<hr />
<p class="ml-3">
  <b>(b)</b> Angenommen, du hast gestohlen, um <b>einen Tyrannen zu bekämpfen</b>.
</p>
  <p>
  Die Frage ist nun, ob <b>das Kämpfen gegen Tyrannen</b> etwas ist,
  das wir von einer <b>tugendhaften</b> Person erwarten würden.
</p>
<p>
  Falls ja, dann war diese Handlung <b>gut</b>.
</p>
