<h2 class="text-center">Beispiele</h2>
<hr />
<p>
  Beispiele, wie man eine Handlung in der Deontologie bewertet, könnten so aussehen:
</p>
<hr />
<p class="text-center">
  <em>Ist <b>Stehlen</b> intrinsisch schlecht?</em>
</p>
<p>
   Möchtest du bestohlen werden? Falls nein, dann ist Stehlen intrinsisch schlecht.
</p>
<hr />
<p class="text-center">
  <em>Ist <b>Nothilfe leisten</b> intrinsisch gut?</em>
</p>
<p>
  Möchtest du im Notfall Nothilfe bekommen? Falls ja, dann ist Nothilfe leisten intrinsischt gut.
</p>
<hr />
<p class="text-center">
  <em>Ist <b>Ausgrenzen</b> intrinsisch schlecht?</em>
</p>
<p>
   Möchtest du ausgegrenzt werden? Falls nein, dann ist Ausgrenzen intrinsisch schlecht.
</p>
