<h2 class="text-center">Beispiele</h2>
<hr />
<p class="ml-3">
  <b>(b)</b> Angenommen, du hast etwas gestohlen, um <b>einen Tyrannen zu bekämpfen</b>.
</p>
<p>
  Die Frage ist nun, ob das <b>Bekämpfen von Tyrannen</b> etwas ist,
  das wir von einer tugendhaften Person erwarten würden.
</p>
<p>
  Wenn wir unter einer <b>tugendhaften Person</b> eine <b>tapfere</b> oder eine <b>mutige</b> Person verstehen,
  dann würden wir auch erwarten, dass sie gegen einen Tyrannen kämpft und verstehen, dass sie <b>dafür manchmal auch stehlen muss</b>.
</p>
<p>
  In der Tugendethik werden Handlungen danach bewertet, ob sie <b>aus einer Tugend</b> oder <b>aus einer Laster entspringen</b>.
</p>
