<h2 class="text-center">Beispiele</h2>
<hr />
<p>
  Ein <b>tugendhafter Mensch</b> ist einer, der Tugende besitzt, also gute Charaktereigenschaften.
</p>
<p>
  Die Tugendethik empfiehlt, so zu handeln,
  <b>wie ein tugendhafter Mensch in deiner Situation handeln würde</b>.
</p>
<hr />
<p>
  
</p>
