<h2 class="text-center">Ein Beispiel</h2>
<hr />
<p>
  In der Tugendethik werden Handlungen danach bewertet, ob sie <b>aus einer Tugend</b> oder <b>aus einer Laster entspringen</b>.
</p>
<hr />
<p class="ml-3">
  Angenommen, du hast etwas <b>aus Neid</b> gestohlen.
</p>
<p>
  Die Frage ist nun, ob <b>aus Neid Stehlen</b> etwas ist,
  das wir von einer tugendhaften Person erwarten w端rden.
</p>
<p>
  Wenn wir unter einer <b>tugendhaften Person</b> eine <b>gerechte</b> Person verstehen,
  dann w端rden wir erwarten, dass eine tugendhafte Person <b>aus einem Sinn f端r Gerechtigkeit</b> stiehlt.
</p>
<p>
  Da du aber <b>aus Neid</b> und <b>nicht aus einem Sinn f端r Gerechtigkeit</b> gestohlen hast,
  war deine Handlung <b>schlecht</b>.
</p>
