<h2 class="text-center">Die Tugendethik</h2>
<hr />
<p>
  <b>Tugendethik</b> ist ein Sammelbegriff für ethische Theorien, die Charaktereigenschaften beurteilen.
</p>
<p>
  Das Wort "Tugend" ist abgeleitet von <em>taugen</em> oder <em>Tauglichkeit</em>.
</p>
<p>
  Daher kommt auch der Name "<em>Tugend</em>ethik".
</p>
<p>
  Ein guter Mensch ist einer, der <b>gute Charaktereigenschaften</b> besitzt.
</p>
<p>
  Gute, lobenswerte oder ausgezeichnete Charaktereigenschaften werden auch <b>Tugenden</b> genannt.
</p>
<p>
  Beispiele für Tugenden sind <b>Klugheit, Gerechtigkeit, Tapferkeit</b> oder <b>Mässigung</b>.
</p>
<p>
  Das Gegenteil einer Tugend ist ein <b>Laster</b>.
</p>
<p>
   Beispiele für Laster sind <b>Aberglaube, Ungerechtigkeit, Feigheit</b> oder <b>Zügellosigkeit</b>.
</p>
