<h2 class="text-center">Die Tugendethik</h2>
<hr />
<p>
  In der Tugendethik geht es weniger um die Bewertung von Handlungen, sondern um die Bewertung von <b>Charaktereigenschaften</b>.
</p>
<p>
  Ein guter Mensch ist einer, der <b>gute Charaktereigenschaften</b> besitzt.
  Die Frage ist nun, welche Charaktereigenschaften gut und welche schlecht sind.
</p>
<p>
  Gute, lobenswerte oder ausgezeichnete Charaktereigenschaften werden <b>Tugende</b> genannt.
</p>
<p>
  Beispiele für Tugende sind <b>Klugheit, Gerechtigkeit, Tapferkeit</b> oder <b>Mässigung</b>.
</p>
<p>
  Ein Vorschlag, wie man den <b>Wert</b> einer Motivation <b>bestimmen</b> kann, ist zu prüfen, ob die Motivation hinter einer Handlung <b>aus einer Tugend entspringt oder nicht</b>.
</p>
<hr class="my-4">
<p>
  Ein Beispiel, wie man eine Handlung in der Tugendethik bewertet, könnte so aussehen: <br><br>
  Du hast etwas <b>gestohlen</b>. <b>Weshalb</b> hast du etwas gestohlen?
</p>
<p>
  <b>(a)</b> Angenommen, du hast aus <b>Rache</b>, aus <b>Neid</b> oder aus <b>Hass</b> gestohlen. Die Frage ist nun, ob <b>Gehässigkeit, Rachsucht und Neid </b> Eigenschaften sind,
  die wir einer tugendhaften, also einer <b>weisen, gerechten, mässigen und tapferen</b> Person zubilligen würden. Falls nicht, dann war diese Handlung <b>schlecht</b>.
</p>
<p>
  <b>(b)</b> Angenommen, du hast gestohlen, um <b>einen Tyrannen zu bekämpfen</b> und um ein <b>von ihm gemachten Schaden wieder gut zu machen</b>. Die Frage ist nun, ob <b>das Kämpfen gegen Tyrannen</b> und <b>das Wiedergutmachen von Schaden</b> Eigenschaften sind,
  die wir einer tugendhaften, also einer <b>weisen, gerechten, mässigen und tapferen</b> Person zubilligen würden. Falls ja, dann war diese Handlung <b>gut</b>.
</p>
