<h2 class="text-center">Die Tugendethik</h2>
<hr />
<p>
  In der Tugendethik geht es weniger um die Bewertung von Handlungen, sondern um die Bewertung von <b>Charaktereigenschaften</b>.
</p>
<p>
  Ein guter Mensch ist einer, der <b>gute Charaktereigenschaften</b> besitzt.
</p>
<p>
  Gute, lobenswerte oder ausgezeichnete Charaktereigenschaften werden auch <b>Tugenden</b> genannt.
</p>
<p>
  Beispiele f체r Tugenden sind <b>Klugheit, Gerechtigkeit, Tapferkeit</b> oder <b>M채ssigung</b>.
</p>
<p>
  Das Gegenteil einer Tugend ist eine <b>Laster</b>.
</p>
<p>
   Beispiele f체r Laster sind <b>Aberglaube, Ungerechtigkeit, Feigheit</b> oder <b>Z체gellosigkeit</b>.
</p>
