<h5 class="text-center">Warum sich mit Ethik befassen?</h5>
<hr />
<p>
  Die <b>Ethik</b> befasst sich mit solchen Fragen.
</p>
<p>
  Das Studium der Ethik hilft dir,
  <b>besser</b> über deine Taten und die Taten anderer <b>nachzudenken</b> und sie <b>zu beurteilen</b>.
</p>
<p>
  Mit der Beschäftigung mit ethischen Fragen
  entwickelst du einen <b>Sinn</b>
</p>
<p>
  Du kannst besser begründen und argumentieren,Scharfsinn, Bewusstsein.
</p>
<p>
  Auch gibt dir die Ethik ein <b>Rüstzeug mit</b>,
  welches dich dabei unterstützt,
  selbst in schwierigen Situationen des Lebens die <b>richtigen Entscheidungen</b> zu treffen.
</p>
<p>
  Nebenbei erwirbst du <b>analytische Fähigkeiten</b> und ein <b>kritisches Denkvermögen</b>,
  die dir im Beruf sowie im alltäglichen Leben nützlich sein werden.
</p>
