<h6 class="text-center"><u>Einleitung</u></h6>
<hr />
<h5 class="text-center">Warum sich mit Ethik befassen?</h5>
<hr />
<p>
  Das Studium der <b>Ethik</b> hilft dir,
  <b>besser</b> über Taten oder Handlungen <b>nachzudenken</b> und sie <b>zu beruteilen</b>.
</p>
<p>
  Die Ethik gibt dir einen <b>Werkzeugkasten</b>,
  mit dem du <b>logisch</b> und <b>argumentativ</b>
  über die Richtigkeit oder Falschheit von Handlungen diskutieren kannst.
</p>
<p>
    Auch unterstützt dich dieser Werkzeugkasten dabei,
    die <b>richtigen Entscheidungen</b> im Leben zu treffen.
</p>
<p>
  Nebenbei erwirbst du <b>analytische Fähigkeiten</b> und ein <b>kritisches Denkvermögen</b>,
  die dir sowohl im Beruf als auch im alltäglichen Leben nützlich sein werden.
</p>
