<h5 class="text-center">Warum sich mit Ethik befassen?</h5>
<hr />
<p>
  Wir <b>loben</b> und <b>kritisieren</b> uns gegenseitig f체r unsere <b>Taten</b>.
</p>
<p>
  Wir sagen Dinge wie:
</p>
<p>
  - "Das h채ttest du nicht tun sollen!"
</p>
<p>
  Oder:
</p>
<p>
  - "Das hast du sehr gut gemacht!"
</p>
<p>
  Aber <b>warum</b> eigentlich?
</p>
<p>
  Was genau macht eine Handlung <b>richtig</b>?
  Und was eine Handlung <b>falsch</b>?
</p>
<p>
  Wann ist Lob <b>wirklich</b> angebracht?
</p>
<p>
  Und mit <b>welchen Gr체nden</b> d체rfen wir andere <b>kritisieren</b>?
</p>
