<h3 class="text-center">Bewertungen zuordnen</h3>
<hr />
<p>
  Ethische Theorien bewerten Handlungen auf <b>unterschiedlicher Weise</b>.
</p>
<p>
  In den nächsten Folien wirst du <b>zwei Fallbeispiele</b> sehen.
</p>
<p>
  Danach siehst du jeweils <b>eine Bewertung von einer Handlung</b>, die in den Fallbeispielen vorkam.
</p>
<p>
  Versuche herauszufinden, welche Bewertung von welcher Ethik stammen könnte!
</p>
