<h3 class="text-center">Typische Bewertungen</h3>
<hr />
<p>
  Ethische Theorien bewerten Handlungen auf <b>unterschiedlicher Weise</b>.
</p>
<p>
  In den nächsten Folien wirst du <b>ein Fallbeispiel</b> sehen.
</p>
<p>
  Danach siehst du <b>Bewertungen einer Handlung</b>, die im Fallbeispiel vorkam.
</p>
<p>
  Versuche dann herauszufinden, welche Bewertung typisch für welche Ethik ist!
</p>
