<h3 class="text-center">Typische Bewertungen</h3>
<hr />
<p>
  Ethische Theorien bewerten Handlungen auf <b>unterschiedliche Weise</b>.
</p>
<p>
  In den nächsten Folien wirst du <b>ein Fallbeispiel</b> kennenlernen.
</p>
<p>
  Danach siehst du <b>drei ethische Bewertungen von einer Handlung</b>,
  die im Fallbeispiel vorgekommen ist.
</p>
<p>
  Versuche anschliessend herauszufinden, <b>welche Bewertung typisch für welche Ethik ist!</b>
</p>
