<p>
  Die Frage ist nun, welche Charaktereigenschaften <b>gut</b> und welche <b>schlecht</b> sind.
</p>

<p>
  Beispiele, wie man eine Handlung in der Tugendethik bewertet, könnten so aussehen:
</p>
<p>
  Du hast etwas <b>gestohlen</b>. <b>Weshalb</b> hast du etwas gestohlen?
</p>
<p>
  <b>(a)</b> Angenommen, du hast aus <b>Rache</b>, aus <b>Neid</b> oder aus <b>Hass</b> gestohlen. Die Frage ist nun, ob <b>Gehässigkeit, Rachsucht und Neid </b> Eigenschaften sind,
  die wir einer tugendhaften, also einer <b>weisen, gerechten, mässigen und tapferen</b> Person zubilligen würden. Falls nicht, dann war diese Handlung <b>schlecht</b>.
</p>
<p>
  <b>(b)</b> Angenommen, du hast gestohlen, um <b>einen Tyrannen zu bekämpfen</b> und um ein <b>von ihm gemachten Schaden wieder gut zu machen</b>. Die Frage ist nun, ob <b>das Kämpfen gegen Tyrannen</b> und <b>das Wiedergutmachen von Schaden</b> Eigenschaften sind,
  die wir einer tugendhaften, also einer <b>weisen, gerechten, mässigen und tapferen</b> Person zubilligen würden. Falls ja, dann war diese Handlung <b>gut</b>.
</p>

<p>
  Nach dem Utilitarismus ist eine Handlung gut, wenn sie viel <b>Nutzen</b> erbringt.
</p>
<p>
  Doch was genau soll man unter Nutzen verstehen?
</p>
<p>
  Verschiedene Vorschläge wurden gemacht:
  <br />
  Nutzen als ...
  <ul>
    <li>
      Wohlbefinden
    </li>
  </ul>
</p>
<p>
 Es gibt eine Vielzahl von utilitaristischen Positionen, die jeweils ein anderes Verständnis von Nutzen haben.
</p>
<p>

</p>
<p>
  Eine Debatte unter Utilitaristen ist die Frage, <b>was man unter Nutzen genau verstehen soll</b>.
</p>
<p>
    Wohlbefinden? Glück? Absenz von Leid?
</p>
<p>
    Handle so, dass die Folgen deiner Handlung für das Wohlergehen aller Betroffenen optimal sind.
</p>

<p>
  Gedankenexperiment:
  Jemand hat etwas Schlimmes gemacht, bereut es aber. Wäre es nicht dennoch befriedigender, ihn zu bestrafen? Mehr Zufriedenheit, Wohlbefinden?
  </p>

  <p>
    Schadenfreude.
  </p>

  <p>
    Im Alltag wird das Wort "Nutzen" im Kontext von <b>Brauchbarkeit</b>, <b>Erfolgsverwirklichung</b>, <b>Zweckdienlichkeit</b> und <b>Vorteilhaftigkeit</b> verwendet.
  </p>
  <p>
    Aber was brauchbar oder nützlich für den Einen ist, ist unbrauchbar oder unnützlich für den Anderen.
  </p>

  <p>
    Universalisierbarkeit
  </p>
  <p>
    Wenn alle das täten...
  </p>
  <p>

  </p>

  <p>
    <em>Wenn jeder</em>
  </p>
  <p>
    Eine Handlung soll nur dann geboten sein, wenn <b>jeder</b>
  </p>
  <p>
    Der Gedanke hinter dem kategorischen Imperativ ist,
    dass eine Handlung nur dann akzeptabel ist,
    wenn alle diese Handlung
  </p>
  <p>
    <b>Wahrheit sagen oder lügen</b>
  </p>
  <p>
    Wie würde eine Welt aussehen, wenn alle lügen würden?
  </p>
  <p>

  </p>
  <p>
    Verallgemeinerbarkeit
  </p>

  <p>
    Eine Handlung ist dann geboten, von der man wollen kann,
    dass <b>alle diese Handlung vollziehen würden</b>.
  </p>
  <p>
    Eine Handlung ist dann verboten, von der man <b>nicht</b> wollen kann,
    dass <b>alle diese Handlung vollziehen würden</b>.
  </p>

  <p>
    Nach Aristoteles hat jedes Lebewesen oder Ding eine <b>Funktion</b>,
    die es <b>besser</b> oder <b>schlechter</b> erfüllen kann.
    </p>
    <p>
      So erfüllt ein Messer seine Funktion schlecht, wenn es nicht gut schneidet.
      So erfüllt ein Löwe seine Funktion gut, wenn er gut jagt.
    </p>
    <p>
      Für Aristoteles unterscheidet sich der Mensch von anderen Dingen oder Lebewesen darin,
      dass er ein <b>vernunftbegabtes Wesen</b> ist.
    </p>
    <p>
        Der Mensch erfüllt seine Funktion dann gut,
        wenn er seine Vernunft <b>benutzt</b>.
    </p>

    Wenn man Glück und Leid vorsichtig analysiert,
    dann wird man schnell feststellen, dass der Utilitarismus niemals Sklaverei befürworten wird:
    Das Glück, das mit Sklaverei hervorgebracht wird, sei es durch die Herstellung von Gütern oder durch die Erbringung von Dienstleistungen,
    ist niemals höher oder gleich hoch, wie das Leid, das mit Sklaverei entsteht.


    var row = table.insertRow(0);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    cell1.innerHTML = text;
    cell2.innerHTML = value;

  var table = document.getElementById("rechnungtable");

  <p>
    Philosophen und Philosophinnen, die über ethische Fragen nachdenken,
    werden auch <b>Ethiker</b> und <b>Ethikerinnen</b> genannt.
  </p>

  <p>
    Diese drei Theorien unterscheiden sich in der <b>Art und Weise</b>, wie sie <b>menschliches Handeln beurteilen</b>.
  </p>
